<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">All Jobs</ion-title>
    <ion-buttons slot="start" color="light">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="light" style="padding: 1px;">
      <ion-icon style=" color: white; " name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="font-size: 1.1em;"></div>
  <div>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J1.png" alt="">
      </ion-avatar>
      <ion-label>Accounts</ion-label>
      <ion-icon routerLink="/jobdetails" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J2.png" alt="">
      </ion-avatar>
      <ion-label>Marketing</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J3.png" alt="">
      </ion-avatar>
      <ion-label>IT Industry</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J4.png" alt="">
      </ion-avatar>
      <ion-label>Back Office</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J5.png" alt="">
      </ion-avatar>
      <ion-label>BPO</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J6.png" alt="">
      </ion-avatar>
      <ion-label>Delivery Boy</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J7.png" alt="">
      </ion-avatar>
      <ion-label>Teachers</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Data Entry</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Finance Companies</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Mechanical Engineer</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Sales Executive</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Security Staff</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Office Boy</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </div>




</ion-content>
