<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">Jobs</ion-title>
    <ion-buttons slot="start" color="light">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="light" style="padding: 1px;">
      <ion-icon style=" color: white; " name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="pl-3 pr-3 pt-2">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid gray;">
      <ion-input placeholder="Search your job" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row>

  <div style="background-color: white; margin-top: 5%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <img src="assets/1.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-label class="large-text">Amba Job Consultancy<br>
            <span class="label-text ">HCL Technologies</span></ion-label><br>
          <ion-row>
            <ion-col size="6"><span>
                <ion-button size="small" expand="block" color="danger">
                  Apply Now
                </ion-button>
              </span></ion-col>
            <ion-col size="6">
              <span>
                <ion-button size="small" expand="block" color="danger" fill="outline">
                  Call Now
                </ion-button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="background-color: white; margin-top: 5%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <img src="assets/1.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-label class="large-text">Amba Job Consultancy<br>
            <span class="label-text ">HCL Technologies</span></ion-label><br>
          <ion-row>
            <ion-col size="6"><span>
                <ion-button size="small" expand="block" color="danger">
                  Apply Now
                </ion-button>
              </span></ion-col>
            <ion-col size="6">
              <span>
                <ion-button size="small" expand="block" color="danger" fill="outline">
                  Call Now
                </ion-button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="background-color: white; margin-top: 5%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <img src="assets/1.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-label class="large-text">Amba Job Consultancy<br>
            <span class="label-text ">HCL Technologies</span></ion-label><br>
          <ion-row>
            <ion-col size="6"><span>
                <ion-button size="small" expand="block" color="danger">
                  Apply Now
                </ion-button>
              </span></ion-col>
            <ion-col size="6">
              <span>
                <ion-button size="small" expand="block" color="danger" fill="outline">
                  Call Now
                </ion-button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="background-color: white; margin-top: 5%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <img src="assets/1.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-label class="large-text">Amba Job Consultancy<br>
            <span class="label-text ">HCL Technologies</span></ion-label><br>
          <ion-row>
            <ion-col size="6"><span>
                <ion-button size="small" expand="block" color="danger">
                  Apply Now
                </ion-button>
              </span></ion-col>
            <ion-col size="6">
              <span>
                <ion-button size="small" expand="block" color="danger" fill="outline">
                  Call Now
                </ion-button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="background-color: white; margin-top: 5%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <img src="assets/1.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-label class="large-text">Amba Job Consultancy<br>
            <span class="label-text ">HCL Technologies</span></ion-label><br>
          <ion-row>
            <ion-col size="6"><span>
                <ion-button size="small" expand="block" color="danger">
                  Apply Now
                </ion-button>
              </span></ion-col>
            <ion-col size="6">
              <span>
                <ion-button size="small" expand="block" color="danger" fill="outline">
                  Call Now
                </ion-button>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>





</ion-content>
