<ion-content>

  <!-- <header>
    <h1>Login</h1>
  </header> -->

  <div align="center" style="margin-top: 10%;">
    <img src="assets/v1.png" alt="" width="30%" height="30%">
  </div>

  <div class="login_title" style="margin-top: 10px;">
    <ion-title>Forgot Password</ion-title>
    <p style="font-size: small;  color: rgb(184, 184, 184);">Enter your mobile number to get OTP.</p>
    <!-- <p class="small_text">please sign in to continue</p> -->
  </div>

  <div style="padding: 8%;">


    <div style="padding: 6px;">
      <!-- <ion-item>
        <ion-label class="text" position="floating">Full Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label class="text" position="floating">Mobile Number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>



    </div>


    <div align="center" class="button_login">
      <button expand="block" color="light" class="bg-class" routerLink="/verify">
        Send OTP
      </button>

    </div>




  </div>



</ion-content>
