<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Effo Cabs</div>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="text-gray-600 hover:text-red-600">
      <ion-label>Book</ion-label>
      <ion-icon name="car"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history" class="text-gray-600 hover:text-red-600">
      <ion-label>History</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
