<ion-content>
  <!-- <header>
    <h1>Register<br>
      <p class="small_text">All you need to do is register below</p>
    </h1>

  </header> -->

  <div align="center" style="margin-top: 10%">
    <img src="assets/v1.png" alt="" width="30%" height="30%" />
  </div>

  <div class="login_title" style="margin-top: 3%">
    <ion-title>Create Account</ion-title>
    <p style="font-size: small; color: rgb(184, 184, 184)">
      All you need to do is register below
    </p>
    <!-- <p class="small_text">All you need to do is register below</p> -->
  </div>

  <div style="padding: 6%">
    <ion-item>
      <ion-label class="text" position="floating">Full Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Mobile Number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Email ID</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Password</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Confirm Password</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <div align="center" class="button_login">
      <button expand="block" color="light" class="bg-class" routerLink="/otp">
        Update Profile
      </button>
      <!-- <p style="font-size: small; margin-top: 1%; color: rgb(184, 184, 184)">
        Already have a account?
        <span routerLink="/login" style="color: red"><b>Sign In</b></span>
      </p> -->
    </div>
  </div>
</ion-content>
