<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Select City</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <ion-radio-group
      [(ngModel)]="this.cabService.selectedCityId"
      (ngModelChange)="citySelected($event)"
    >
      <ion-item *ngFor="let city of this.cabService.cities">
        <ion-label>{{city.attributes.name|titlecase}}</ion-label>
        <ion-radio slot="end" color="warning" value="{{city.id}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <div class="p-2">
      <button class="btn-grad" routerLink="/cab-home">
        <span style="float: left; font-weight: bold; font-size: 0.9rem"
          >Select</span
        >
        <span style="float: right; font-size: 0.9rem">
          <ion-icon class="text-white" name="arrow-forward"></ion-icon>
        </span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
