<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Select City</div>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="p-2">
  <ion-radio-group allow-empty-selection value="anchovies">
    <!-- <ion-list-header>
      <ion-label>Pizza Topping</ion-label>
    </ion-list-header> -->
    <ion-item>
      <ion-label>Beed</ion-label>
      <ion-radio slot="end" color="warning"  value="beef"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Amravati</ion-label>
      <ion-radio slot="end" color="warning"  value="anchovies"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nagpur</ion-label>
      <ion-radio slot="end" color="warning"  value="sausage"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Pune</ion-label>
      <ion-radio slot="end" color="warning"  value="tomato"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Yavatmal</ion-label>
      <ion-radio slot="end" color="warning" value="carrot"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Wardha</ion-label>
      <ion-radio slot="end" color="warning"  value="pepperoni"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Aurangabad</ion-label>
      <ion-radio slot="end" color="warning"  value="aurangabad"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Ahmednagar</ion-label>
      <ion-radio slot="end" color="warning"  value="ahmednagar"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nanded</ion-label>
      <ion-radio slot="end" color="warning"  value="nanded"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Pune</ion-label>
      <ion-radio slot="end" color="warning"  value="tomato"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Yavatmal</ion-label>
      <ion-radio slot="end" color="warning" value="carrot"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Wardha</ion-label>
      <ion-radio slot="end" color="warning"  value="pepperoni"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Aurangabad</ion-label>
      <ion-radio slot="end" color="warning"  value="aurangabad"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Ahmednagar</ion-label>
      <ion-radio slot="end" color="warning"  value="ahmednagar"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nanded</ion-label>
      <ion-radio slot="end" color="warning"  value="nanded"></ion-radio>
    </ion-item>
  </ion-radio-group>
</div>
</ion-content>
<!-- <div class="p-3">
  <button class="btn-grad" routerLink="/cab-home">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
    <span style="float:right;font-size: 0.9rem;"> <ion-icon class="text-white" name="arrow-forward"></ion-icon></span>
  </button>
</div> -->

<ion-footer>
  <ion-toolbar color="light">    
   <div class="p-2">
    <button class="btn-grad"  routerLink="/cab-home">
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
      <span style="float:right;font-size: 0.9rem;">
        <ion-icon class="text-white" name="arrow-forward"></ion-icon>
      </span>
    </button>
   </div>
  </ion-toolbar>
</ion-footer>