<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Shopping</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="pl-2 pr-2 pt-3">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid rgb(211, 211, 211);">
      <ion-input placeholder="Search In All India" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row>

  <div class="p-2">
    <ion-slides class="slider" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide>
        <img class="rounded-md" src="assets/shopping/1s.jpg" />
      </ion-slide>
      <ion-slide>
        <img class="rounded-md" src="assets/shopping/3s.jpg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div style="padding-left:0.8em ;" class="pt-2 pb-1">
    <ion-label><b>All Categories</b></ion-label>
  </div>

  <div class="p-1" style="background-color: white; border-radius: 5px; margin-top: 3%">
    <ion-grid fixed>
      <ion-row class="small_text">
        <ion-col (click)="navigate(category)" *ngFor="let category  of categories" size="3" align="center"
          class="flex justify-center flex-col">
          <div class="m-auto bg-red-600 p-3 text-white rounded-md flex items-center justify-center">
            <ion-icon name="{{category.icon}}" class="text-xl"></ion-icon>
          </div>
          <!-- <img src="assets/D2.png" alt="" /><br /> -->
          <div class="truncate mt-2 text-sm">{{category.name}}</div>
          <!-- <div class="red" [ngStyle]="{'color': category.available?'white':'red'}">
                    Coming Soon
                </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-row class="p-2 small_text">

    <ion-col size="3" routerLink="/allshopcategories">
      <div align="center">
        <img src="assets/icon/c1.png" alt="">
        <ion-label align="center">All Catagories</ion-label>
      </div>
    </ion-col>

    <ion-col size="3" routerLink="/mobile">
      <div align="center">
        <img src="assets/icon/m1.png" alt="">
        <ion-label align="center">Mobile & accesssories</ion-label>
      </div>
    </ion-col>

    <ion-col size="3" routerLink="/fashion">
      <div align="center">
        <img src="assets/icon/f1.png" alt="">
        <ion-label align="center">Fashion & accesssories</ion-label>
      </div>
    </ion-col>

    <ion-col size="3">
      <div align="center">
        <img src="assets/icon/c2.png" alt="">
        <ion-label align="center">Computer & accesssories</ion-label>
      </div>
    </ion-col>
  </ion-row> -->

  <div style="padding-left:0.8em ;" class="pt-2 pb-2">
    <ion-label><b>Product for you</b></ion-label>
  </div>


  <div class="flex justify-between pl-3 pr-3">
    <div>
      <label class="w-full p-2 bg-white border-2 border-gray-400 rounded-md">
        <select class="bg-white">
          <option selected>Categories</option>
          <option>Mobile</option>
          <option>Fashion</option>
          <option>Computer</option>
          <option>Sports</option>
          <option>Toys & Baby</option>
        </select>
      </label>
    </div>
    <div>
      <label class="w-full p-2 bg-white border-2 border-gray-400 rounded-md">
        <select class="bg-white">
          <option selected>Gender</option>
          <option>female</option>
          <option>Male</option>
          <option>Others</option>
        </select>
      </label>
    </div>
    <div>
      <label class="w-full p-2 bg-white border-2 border-gray-400 rounded-md">
        <select class="bg-white">
          <option selected>Filter</option>
          <option>500</option>
          <option>1000</option>
          <option>1500</option>
          <option>2000</option>
          <option>2500</option>
          <option>3000</option>
        </select>
      </label>
    </div>
  </div>

  <div class="mt-2">
    <ion-row>
      <ion-col size="6" routerLink="/fashion">
        <div class="bg-white p-2">
          <img src="assets/shopping/beauty.jpg" />
          <p class="mt-2 text-sm"><b>Beauty & Accesseries</b></p>
          <div class="flex justify-between">
            <div>
              <p><span class="rupees"> </span> 200</p>
            </div>
            <div>
              <ion-icon name="share-social-outline"></ion-icon>&nbsp;
              <ion-icon name="heart-outline"></ion-icon>
            </div>
          </div>

          <p>
            <ion-icon class="text-green-500" name="caret-forward"></ion-icon>
            Free Delivery
          </p>
        </div>
      </ion-col>

      <ion-col size="6" routerLink="/mobile">
        <div class="bg-white p-2">
          <img src="assets/shopping/mobile.jpg" />
          <p class="mt-2 text-sm"><b>Mobile & Accesseries</b></p>
          <div class="flex justify-between ">
            <div>
              <p><span class="rupees"> </span> 500</p>
            </div>
            <div>
              <ion-icon name="share-social-outline"></ion-icon>&nbsp;
              <ion-icon name="heart-outline"></ion-icon>
            </div>
          </div>

          <p>
            <ion-icon class="text-green-500" name="caret-forward"></ion-icon>
            Free Delivery
          </p>
        </div>
      </ion-col>

      <ion-col size="6" routerLink="/footwear">
        <div class="bg-white p-2">
          <img src="assets/shopping/footwear.jpg" />
          <p class="mt-2 text-sm"><b> Footwear</b></p>
          <div class="flex justify-between">
            <div>
              <p><span class="rupees"> </span> 1000</p>
            </div>
            <div>
              <ion-icon name="share-social-outline"></ion-icon>&nbsp;
              <ion-icon name="heart-outline"></ion-icon>
            </div>
          </div>

          <p>
            <ion-icon class="text-green-500" name="caret-forward"></ion-icon>
            Free Delivery
          </p>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="bg-white p-2">
          <img src="assets/shopping/home.jpeg" />
          <p class="mt-2 text-sm"><b>Home & Accesseries</b></p>
          <div class="flex justify-between">
            <div>
              <p><span class="rupees"> </span> 350</p>
            </div>
            <div>
              <ion-icon name="share-social-outline"></ion-icon>&nbsp;
              <ion-icon name="heart-outline"></ion-icon>
            </div>
          </div>

          <p>
            <ion-icon class="text-green-500" name="caret-forward"></ion-icon>
            Free Delivery
          </p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
