<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <div class="p-2">
    <ion-grid>
      <ion-row
        *ngFor="let room of this.hotelService.rooms"
        (click)="this.roomSelected(room)"
        class="bg-white rounded-md p-2 mb-2"
      >
        <!-- <ion-col size="4">
        <div>
          <img class="rounded-md w-full h-full" src="assets/room2.jpg" alt="">
        </div>
      </ion-col> -->
        <ion-col size="12">
          <p class="font-bold text-md text-balck line-clamp-1">
            {{room.roomName}}
          </p>
          <div
            class="text-red-700 font-bold text-sm"
            *ngIf="room.ratePlans[0].refundable==false"
          >
            NON REFUNDABLE
          </div>
          <p class="text-xs text-gray-500 mt-2">
            Room Only (No meals are included)
          </p>
        </ion-col>
        <ion-col size="12" class="border-b border-gray-300"></ion-col>

        <ion-col size="6">
          <p class="font-bold text-md text-balck text-red-600 line-clamp-1">
            ₹
            {{(room.ratePlans[0].pricing.roomNightSellPrice*this.hotelService.charges.extraPercentage)|number:'1.2-2'}}
          </p>
          <p class="text-left text-xs text-gray-400 line-clamp-1">
            Per room/night
          </p>
        </ion-col>

        <ion-col size="6" routerLink="/hotel-checkout">
          <button
            style="background-color: #f90101"
            class="bg-red-600 mt-2 rounded-md text-white py-3 w-full font-bold"
          >
            Book Room
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
