<ion-header>
  <ion-toolbar>
    <ion-title>Book Auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="bg-white rounded-bl-md rounded-br-md"
    style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
    <ion-slides #slider loop="true" [options]="slideOpts">
      <ion-slide>
        <ion-card routerLink="" class="card1 bg-white border border-gray-50  hover:border-yellow-500 slide-fwd-center"
          style="border-radius: 5px">
          <img src="assets/cab/auto.png" />
          <ion-label>auto</ion-label>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card routerLink="" class="card1 bg-white border border-gray-50  hover:border-yellow-500 slide-fwd-center"
          style="border-radius: 5px">
          <img src="assets/cab/auto.png" />
          <ion-label>auto</ion-label>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card routerLink="" class="card1 bg-white border border-gray-50  hover:border-yellow-500 slide-fwd-center"
          style="border-radius: 5px">
          <img src="assets/cab/auto.png" />
          <ion-label>auto</ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="" class="card1 bg-white border border-gray-50  hover:border-yellow-500 slide-fwd-center"
          style="border-radius: 5px">
          <img src="assets/cab/auto.png" />
          <ion-label>auto</ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="" class="card1 bg-white border border-gray-50  hover:border-yellow-500 slide-fwd-center"
          style="border-radius: 5px">
          <img src="assets/cab/auto.png" />
          <ion-label>auto</ion-label>
        </ion-card>
      </ion-slide>
    </ion-slides>


  </div> -->

  <div class="p-2 mt-1 ">

    <div class="bg-white p-4 rounded-md shadow-md ">
      <p class="pl-1"><span class="border-b-2 border-black text-yellow-500 mt-3 font-bold">Enter Location</span></p>

      <div
        class="w-full mt-3 mt-3 flex bg-white border border-white hover:border-yellow-500 py-2 rounded-md drop-shadow-md shadow-md">
        <img src="assets/cab/fromPin.png" alt="" class="h-6" />

        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Enter You Pick Location" />

        <div class="px-2 flex items-center">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <!-- <img src="assets/cab/fromPin.png" alt="" class="h-6"> -->
      </div>

      <div
        class="w-full mt-3 mt-3 flex bg-white border border-white hover:border-yellow-500 py-2 rounded-md drop-shadow-md shadow-md">
        <img src="assets/cab/toPin.png" alt="" class="h-6" />

        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Enter You Drop Location" />

        <div class="px-2 flex items-center">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <!-- <img src="assets/cab/fromPin.png" alt="" class="h-6"> -->
      </div>
    </div>
 
    <!-- <div class="bg-white p-1 rounded-md shadow-md mt-2 ">
        <div class="flex justify-between">
          <div class="pl-2 pt-2">
            <img src="assets/cab/auto.png" alt="" width="90" height="90">
          </div>
          <div class="flex items-center"><span class="text-cente font-bold text-xl text-black pr-3 pt-3"> Auto</span></div>
        </div>
        
        <div align="right" class="pr-1">
          <ion-button routerLink="/autotype" color="warning" class="text-white pb-2"  shape="round"
          ><span class="text-white">Change Vehicle</span> <ion-icon class="text-white" name="arrow-forward"></ion-icon>
        </ion-button>
        </div>
    </div> -->


  </div>


</ion-content>
<div class="p-2">
  <button class="btn-grad" routerLink="/autohistory">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Book Now</span>
    <span style="float:right;font-size: 0.9rem;">
      <ion-icon class="text-white" name="arrow-forward"></ion-icon>
    </span>
  </button>
</div>
