<ion-header>
  <ion-toolbar>
    <ion-title>Book Auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d953861.1675862852!2d77.85359886876087!3d20.951704493355486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.1610858!2d79.0725101!4m5!1s0x3bd6a5cb93bfb1bb%3A0x22f9cdeb559d0b7e!2swebmedia%20map!3m2!1d20.9306111!2d77.7587831!5e0!3m2!1sen!2sin!4v1664881442701!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="p-2 mt-1 ">

    <div class="bg-white p-4 rounded-md shadow-md ">
      <p class="pl-1"><span class="border-b-2 border-black text-yellow-500 mt-3 font-bold">Enter Location</span></p>

      <div
        class="w-full mt-3 mt-3 flex bg-white border border-gray-50 hover:border-yellow-500 py-2 rounded-md drop-shadow-md shadow-md">
        <img src="assets/cab/fromPin.png" alt="" class="h-6" />

        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Enter You Pick Location" />

        <div class="px-2 flex items-center">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <!-- <img src="assets/cab/fromPin.png" alt="" class="h-6"> -->
      </div>

      <div
        class="w-full mt-3 mt-3 flex bg-white border border-gray-50 hover:border-yellow-500 py-2 rounded-md drop-shadow-md shadow-md">
        <img src="assets/cab/toPin.png" alt="" class="h-6" />

        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Enter You Drop Location" />

        <div class="px-2 flex items-center">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <!-- <img src="assets/cab/fromPin.png" alt="" class="h-6"> -->
      </div>
    </div>
 
    <!-- <div class="bg-white p-1 rounded-md shadow-md mt-2 ">
        <div class="flex justify-between">
          <div class="pl-2 pt-2">
            <img src="assets/cab/auto.png" alt="" width="90" height="90">
          </div>
          <div class="flex items-center"><span class="text-cente font-bold text-xl text-black pr-3 pt-3"> Auto</span></div>
        </div>
        
        <div align="right" class="pr-1">
          <ion-button routerLink="/autotype" color="warning" class="text-white pb-2"  shape="round"
          ><span class="text-white">Change Vehicle</span> <ion-icon class="text-white" name="arrow-forward"></ion-icon>
        </ion-button>
        </div>
    </div> -->


  </div>


</ion-content>
<!-- <div class="p-2">
  <button class="btn-grad" routerLink="/autohistory">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Book Now</span>
    <span style="float:right;font-size: 0.9rem;">
      <ion-icon class="text-white" name="arrow-forward"></ion-icon>
    </span>
  </button>
</div> -->
<ion-footer>
  <ion-toolbar color="light">    
   <div class="p-2">
    <button class="btn-grad"  routerLink="/autohistory">
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Book Now</span>
      <span style="float:right;font-size: 0.9rem;">
        <ion-icon class="text-white" name="arrow-forward"></ion-icon>
      </span>
    </button>
   </div>
  </ion-toolbar>
</ion-footer>
