ion-toolbar {
  --background: linear-gradient(90deg, rgb(255, 0, 0) 0%, #cf0808 100%);
  color: antiquewhite;
}

.img_class {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.img_class {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}
