<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <div class="border-gray-300 border-2 rounded-md mt-2 bg-white">
      <ion-item lines="none" color="none">
        <ion-label>Bussiness Details<br><span class="text-sm text-gray-500">Name, Doc, Address </span>
        </ion-label>
        <ion-badge color="success">Pending</ion-badge>&nbsp;
        <ion-icon routerLink="/bussinessdetails" class="text-sm" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>

    <div class="border-gray-300 border-2 rounded-md mt-2 bg-white">
      <ion-item lines="none" color="none">
        <ion-label>Property Details<br><span class="text-sm text-gray-500">Upload your service details</span>
        </ion-label>
        <ion-badge color="success">Pending</ion-badge>&nbsp;
        <ion-icon routerLink="/servicedetails" class="text-sm" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>


    <div class="border-gray-300 border-2 rounded-md mt-2 bg-white">
      <ion-item lines="none" color="none">
        <ion-label>FAQ<br><span class="text-sm text-gray-500">All question </span>
        </ion-label>

        <ion-icon routerLink="/faq" class="text-sm" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>

    <div class="border-gray-300 border-2 rounded-md mt-2 bg-white">
      <ion-item lines="none" color="none">
        <ion-label>Contacts/Help<br><span class="text-sm text-gray-500">Find It Here! Find Contact support. </span>
        </ion-label>

        <ion-icon routerLink="/help" class="text-sm" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>
  </div>

</ion-content>
