<ion-header>
  <ion-toolbar>
    <ion-title>Transport Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/tataace1.png" alt="" width="120" height="120">
            </div>
            <p>TATA ACE</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/transport.png" alt="" width="120" height="120">
            </div>
            <p>TATA 407</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/3wheeler.png" alt="" width="120" height="120">
            </div>
            <p>3 WHEELER</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/tata407.png" alt="" width="120" height="120">
            </div>
            <p>8FT 1TON</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/PICKUP.png" alt="" width="120" height="120">
            </div>
            <p>8FT PICKUP</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/tata.png" alt="" width="120" height="120">
            </div>
            <p>Truck </p>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">    
   <div class="p-2">
    <button class="btn-grad" routerLink="/transporthome">
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
      <span style="float:right;font-size: 0.9rem;">
        <ion-icon class="text-white" name="arrow-forward"></ion-icon>
      </span>
    </button>
   </div>
  </ion-toolbar>
</ion-footer>