<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title>My Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <div class="p-2">
    <ion-grid>
      <ion-row class="bg-white rounded-md p-1 border-b border-red-600" >
        <ion-col size="4">
          <div>
            <img class="rounded-md w-full h-full" src="assets/room2.jpg" alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <p class="font-bold text-lg text-balck  line-clamp-1 ">
          Ashwini Talware
          </p>
          <p class="text-sm text-gray-600">Hotel:  Aston Hotel</p>
          <p class="text-xs text-gray-500">Amravati, Maharashtra
          </p>
       
        </ion-col>


        <ion-col size="12" class="border-t border-gray-300">
          <div class="flex justify-between">
            <div>
              <p class="text-gray-400 text-sm">Chcek IN</p>
              <p class="text-black text-lg font-semibold">08 Sep, 2023</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Chcek OUT</p>
              <p class="text-black text-lg font-semibold">08 Sep, 2023</p>
            </div>
          </div>
        </ion-col>

        <ion-col size="12"  class="border-t border-gray-300">
          <div class="flex justify-between">
            <div>
              <p class="text-gray-400 text-sm">Room</p>
              <p class="text-black text-lg font-semibold">01</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Guests</p>
              <p class="text-black text-lg font-semibold">3</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Total</p>
              <p class="text-black text-lg font-semibold"> ₹ 1000</p>
            </div>
          </div>
        </ion-col>

      </ion-row>



      <ion-row class="bg-white rounded-md p-1 mt-3 border-b border-red-600">
        <ion-col size="4">
          <div>
            <img class="rounded-md w-full h-full" src="assets/room1.jpg" alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <p class="font-bold text-lg text-balck  line-clamp-1 ">
         Neha Patil
          </p>
          <p class="text-sm text-gray-600">Hotel:  Aston Hotel</p>
          <p class="text-xs text-gray-500">Amravati, Maharashtra
          </p>
       
        </ion-col>


        <ion-col size="12" class="border-t border-gray-300">
          <div class="flex justify-between">
            <div>
              <p class="text-gray-400 text-sm">Chcek IN</p>
              <p class="text-black text-lg font-semibold">08 Sep, 2023</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Chcek OUT</p>
              <p class="text-black text-lg font-semibold">08 Sep, 2023</p>
            </div>
          </div>
        </ion-col>

        <ion-col size="12"  class="border-t border-gray-300">
          <div class="flex justify-between">
            <div>
              <p class="text-gray-400 text-sm">Room</p>
              <p class="text-black text-lg font-semibold">01</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Guests</p>
              <p class="text-black text-lg font-semibold">3</p>
            </div>

            <div>
              <p class="text-gray-400 text-sm">Total</p>
              <p class="text-black text-lg font-semibold"> ₹ 1000</p>
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

 


</ion-content>

