<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Delhi to Kolkata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2 justify-start">
    <ion-label>
      <ion-icon name="train-outline"></ion-icon> Trains
    </ion-label>
    <p class="pl-3">₹ 575 -17h 30m</p>
  </div>
  <!-- ==frist div=== -->
  <div class="bg-white">
    <div class="p-2">
      <div class="flex justify-between">
        <ion-label class="text-black font-semibold">Poorva Express</ion-label>
        <p class="text-gray-600">#12382</p>
      </div>
      <div class="flex justify-between">
        <ion-label class="text-sm"><b>5:40 PM,</b> 1 Jul</ion-label>
        <ion-label>-- 23h 20m --</ion-label>
        <ion-label class="text-sm"><b>5:00 PM,</b> 2 Jul</ion-label>
      </div>
      <div class="flex justify-between">
        <ion-label style="color: rgb(156, 156, 156);">New Delhi</ion-label>
        <ion-label style="color: rgb(156, 156, 156);">Howrah Jn(HWH)</ion-label>
      </div>
    </div>

    <div class="rounded-md p-2">

      <ion-slides #slider loop="true" [options]="slideOptss">
        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-purple-600 text-sm"><span class="text-purple-600">✔ </span>Trip Guarantee</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="flex justify-end pl-2 pr-2 pb-2" routerLink="/bookticket">
      <ion-label class="text-purple-600 text-sm font-bold">View 2 Confirmed Options</ion-label>
    </div>

  </div>


  <!-- ===second div=== -->
  <div class="bg-white mt-2">
    <div class="p-2">
      <div class="flex justify-between">
        <ion-label class="text-black font-semibold">Kolkata Rajdhni</ion-label>
        <p class="text-gray-600">#12382</p>
      </div>
      <div class="flex justify-between">
        <ion-label class="text-sm"><b>5:40 PM,</b> 1 Jul</ion-label>
        <ion-label>-- 23h 20m --</ion-label>
        <ion-label class="text-sm"><b>5:00 PM,</b> 2 Jul</ion-label>
      </div>
      <div class="flex justify-between">
        <ion-label style="color: rgb(156, 156, 156);">New Delhi</ion-label>
        <ion-label style="color: rgb(156, 156, 156);">Howrah Jn(HWH)</ion-label>
      </div>
    </div>

    <div class="rounded-md p-2">

      <ion-slides #slider loop="true" [options]="slideOptss">
        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-purple-600 text-sm"><span class="text-purple-600">✔ </span>Trip Guarantee</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="product-card bg-gray-100 p-2" style="width: 100%;">
            <div class="flex justify-between">
              <ion-label class="font-bold text-black">SL</ion-label>
              <ion-label class="font-bold text-black">₹ 635</ion-label>
            </div>
            <div>
              <p class="text-blue-400 text-left">GNWL 143<br>
                <span class="text-black">Free Cancellation</span><br>
                <span class="text-gray-500">Updated 2 hrs ago</span></p>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

  </div>
</ion-content>
