.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #ffffff;
    padding-bottom: 10px;
    margin-left: 5px;
    border: 1px rgb(197, 197, 197) solid;
  }
  .product-details {
    padding: 10px;
  }  

  .product-catagory {
    display: block;
    font-size: 1.0em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(58, 58, 58);
    text-align: left;
    // margin-bottom: 18px;
  
    ion-icon {
      margin-right: 30%;
    }
  }
  
  .product-details p {
    font-size: 0.7em;
    line-height: 22px;
    // margin-bottom: 8px;
    color: #999;
  }