<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> All Categories</ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row class="mb-2 ">
            <ion-col size="2">
              <img src="assets/services/c1.png" />
            </ion-col>
            <ion-col size="9" class="border-b">
              <p class="font-bold">Home Cleaning</p>
            </ion-col>
            <ion-col size="1" class="border-b" routerLink="/homecleaning">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c2.png" />
            </ion-col>

            <ion-col size="9" class="border-b">

              <p class="font-bold">Carpenters</p>


            </ion-col>


            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>

            </ion-col>

          </ion-row>
          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c3.png" />
            </ion-col>

            <ion-col size="9" class="border-b">

              <p class="font-bold">Electrician</p>


            </ion-col>


            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>

            </ion-col>

          </ion-row>
          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c4.png" />
            </ion-col>
            <ion-col size="9" class="border-b">

              <p class="font-bold">Painters</p>


            </ion-col>
            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c5.png" />
            </ion-col>
            <ion-col size="9" class="border-b">

              <p class="font-bold">Pest Control Services</p>


            </ion-col>
            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c6.png" />
            </ion-col>
            <ion-col size="9" class="border-b">

              <p class="font-bold">Plumbers</p>


            </ion-col>
            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c9.png" />
            </ion-col>
            <ion-col size="9" class="border-b">

              <p class="font-bold">Salon At Home</p>


            </ion-col>
            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col size="2">
              <img src="assets/services/c7.png" />
            </ion-col>
            <ion-col size="9" class="border-b">
              <p class="font-bold">Makeup & Hair Styling</p>
            </ion-col>
            <ion-col size="1" class="border-b">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>


        </ion-grid>

      </ion-item>

    </ion-list>
  </div>


</ion-content>
