<ion-header>
  <ion-toolbar color="dark"> <ion-buttons slot="start" color="light">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <img src="assets/bg-checkout.png" alt="">
  </div>
  <div class="p-3">

    <div class="rounded-lg bg-white p-4">

      <div class="flex items-center justify-between">
				<div class="flex items-center">
					<span>
							<img class="bg-white p-1 rounded-full w-12 h-10" src="assets/splash.png">
					</span>
					<h2 class="text-md mt-1 pl-2"> Himalaya Travels</h2>
				</div>

				<div class="ml-auto text-right text-blue-800 mt-1">
					<div class="text-red-600">480/-			
					</div>
					<div class="text-black font-bold text-black">
						Each 140/-
					</div>
				</div>
			</div>
    </div>


    <div class="rounded-lg bg-white p-4 mt-3">

      <div class="flex justify-between mt-2">
        <div class="flex flex-col text-sm">
          <span class="">GOING FROM</span>
          <div class="font-bold text-black">Amravati</div>
          <p class="text-gray-400 text-xs">
            Dastur Nagar, Amravati
          </p>
          <p class="text-gray-400 text-xs mt-1">7:00 PM, 15 August</p>
        </div>

        <div class="flex flex-col text-sm">
          <span class="">GOING TO</span>
          <div class="font-bold text-black">Nagpur</div>
          <p class="text-gray-400 text-xs">
            Rathi Nagar, Nagpur
          </p>
          <p class="text-gray-400 text-xs mt-1">10:00 AM, 16 August</p>
        </div>
      </div>

      <div class="border-b border-dashed border-b-2 my-2 mt-4"></div>

      <div class="flex justify-start">
        <div class="font-bold text-red-600">Passenger Details</div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
          <div class="font-bold text-black">Ashu Talware</div>
          <span class="">ashu@gmail.com</span>
        </div>

        <div class="flex flex-col text-sm">
          <span class="">Seat</span>
          <div class="font-bold text-black">A2</div>
        </div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
          <div class="font-bold text-black">Neha Patil</div>
          <span class="">neha@gmail.com</span>
        </div>

        <div class="flex flex-col text-sm mt-1">
          <span class="">Seat</span>
          <div class="font-bold text-black">A3</div>
        </div>
      </div>


      <div class="border-b border-dashed border-b-2 my-2 mt-2"></div>

      <div class="flex justify-start mt-3">
        <div class="font-bold text-red-600">Apply Coupon</div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
         <input type="text" placeholder="Enter Coupon Code">
        </div>

        <div class="flex flex-col text-sm mt-1">
          <ion-button size="small" shape="round" color="danger" >
Apply
          </ion-button>
        </div>
      </div>



    </div>


    <div class="rounded-lg bg-white p-4 mt-3">

      <div class="flex justify-start">
        <div class="font-bold text-red-600">Price breakup</div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
          <span class="">Base Fire</span>
        </div>

        <div class="flex flex-col text-sm">
          <span class="">420 /-</span>
        </div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
          <span class="">GST</span>
        </div>

        <div class="flex flex-col text-sm">
          <span class="">25 /-</span>
        </div>
      </div>

      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-sm">
          <span class="">Free Cancellation</span>
          
        </div>

        <div class="flex flex-col text-sm">
          <span class="">20 /-</span>
        </div>
      </div>

      <div class="border-b border-dashed border-b-2 my-2 mt-4"></div>
      <div class="flex justify-between mt-3">
        <div class="flex flex-col text-lg">
          <div class="font-bold text-black">Total</div>
          
        </div>

        <div class="flex flex-col text-lg">
          <div class="font-bold text-black">465 /-</div>
        </div>
      </div>

    </div>


  </div>
</ion-content>