<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Reviews </ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <p class="text-lg font-semibold">Review(10)</p>
    <label class="text-base mt-1">Name Of User<span class="pl-40">
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
      </span></label>
    <p class="text-sm">It is good and useful app.</p>

    <label class="text-base mt-2">Name Of User<span class="pl-40">
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
      </span></label>
    <p class="text-sm ">It is good and useful app.</p>

    <label class="text-base mt-2">Name Of User<span class="pl-40">
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
      </span></label>
    <p class="text-sm">It is good and useful app.</p>

    <label class="text-base mt-2">Name Of User<span class="pl-40">
        <ion-icon class="text-gray-700" name="star"></ion-icon>
        <ion-icon class="text-gray-700" name="star"></ion-icon>
      </span></label>
    <p class="text-sm ">It is good and useful app.</p>

  </div>
</ion-content>
