<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/auto.png" alt="" width="120" height="120">
            </div>
            <p>Auto</p>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- <div class="p-3">
  <button class="btn-grad" routerLink="/autohome">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
    <span style="float:right;font-size: 0.9rem;"> <ion-icon class="text-white" name="arrow-forward"></ion-icon></span>
  </button>
</div> -->

<ion-footer>
  <ion-toolbar color="light">    
   <div class="p-2">
    <button class="btn-grad" routerLink="/autohome">
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
      <span style="float:right;font-size: 0.9rem;">
        <ion-icon class="text-white" name="arrow-forward"></ion-icon>
      </span>
    </button>
   </div>
  </ion-toolbar>
</ion-footer>

