<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-back-button style="color: white" defaultHref="/"></ion-back-button> -->
    <ion-buttons slot="end">
      <ion-button
        [routerLink]="['/hotel-booking']"
        routerLinkActive="router-link-active"
        >My Bookings</ion-button
      >
    </ion-buttons>
    <ion-title> Effo Hotels</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-2">
    <div class="pl-2 pr-1 mt-2">
      <div class="text-black text-xl">
        Search Best Hotels With
        <span class="text-xl font-bold text-red-600"> EFFO </span>
      </div>
      <!-- <div class="text-gray-400 text-sm">
        Explore - Journey - Discover - Adventure
      </div> -->
    </div>
  </div>

  <div class="bg-white rounded-tl-2xl h-full rounded-tr-2xl">
    <ion-grid>
      <ion-row class="p-3">
        <ion-col size="12" align="left">
          <div>
            <p class="pl-1 text-black font-semibold">Destination</p>
            <div
              class="text-sm bg-white border border-gray-200 bg-gray-100 rounded-md p-2 mt-1"
            >
              <input
                (ngModelChange)="this.hotelService.searchCity($event)"
                [(ngModel)]="this.hotelService.search.destination"
                class="w-full bg-transparent"
                type="text"
                placeholder="Enter City, Area or Hotel Name"
              />
            </div>

            <div>
              <div
                *ngFor="let city of this.hotelService.suggestions"
                class="p-2"
                (click)="this.hotelService.citySelected(city)"
              >
                {{city.attributes.city|titlecase}}
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size="6" class="mt-2" align="left">
          <div>
            <p class="pl-1 text-black font-semibold">Check IN</p>
            <div
              class="flex bg-white border border-gray-200 bg-gray-100 rounded-md p-2 mt-1"
            >
              <input
                [(ngModel)]="this.hotelService.search.checkIn"
                min="{{ todayDate }}"
                type="date"
                class="font-bold text-sm w-full bg-transparent flex-1"
              />
            </div>
          </div>
        </ion-col>

        <ion-col size="6" class="mt-2" align="left">
          <p class="pl-1 text-black font-semibold">Check Out</p>

          <div
            class="flex bg-white border border-gray-200 bg-gray-100 rounded-md p-2 mt-1"
          >
            <input
              min="{{ getTomorrowDate() }}"
              [(ngModel)]="this.hotelService.search.checkOut"
              type="date"
              class="font-bold text-sm w-full bg-transparent flex-1"
            />
          </div>
        </ion-col>
        <ion-col size="12" class="mt-2" align="left">
          <p class="text-black font-semibold">Rooms and Guests</p>
        </ion-col>
        <ion-col
          *ngFor="let room of this.hotelService.search.guestRooms;let i=index"
          size="12"
          class=""
        >
          <div>
            <p class="text-black font-semibold">Rooms {{i+1}}</p>
          </div>
          <div class="flex">
            <div class="flex-1 pr-2">
              <ion-select
                [(ngModel)]="this.hotelService.search.guestRooms[i].adults"
                class="flex bg-white border border-gray-200 bg-gray-100 rounded-md p-2 mt-1"
                placeholder="Select Adults"
              >
                <ion-select-option value="1">1 Adult</ion-select-option>
                <ion-select-option value="2">2 Adults</ion-select-option>
                <ion-select-option value="3">3 Adults</ion-select-option>
                <ion-select-option value="4">4 Adults</ion-select-option>
                <ion-select-option value="5">5 Adults</ion-select-option>
                <ion-select-option value="6">6 Adults</ion-select-option>
                <ion-select-option value="7">7 Adults</ion-select-option>
                <ion-select-option value="8">8 Adults</ion-select-option>
                <ion-select-option value="9">9 Adults</ion-select-option>
              </ion-select>
            </div>
            <div class="flex-1 pl-2">
              <!-- <p class="pl-1 text-xs">Children</p> -->
              <ion-select
                [(ngModel)]="this.hotelService.search.guestRooms[i].child"
                class="flex bg-white border border-gray-200 bg-gray-100 rounded-md p-2 mt-1"
                placeholder="Select Childrens"
              >
                <ion-select-option value="0">0 Children</ion-select-option>
                <ion-select-option value="1">1 Children</ion-select-option>
                <ion-select-option value="2">2 Childrens</ion-select-option>
                <ion-select-option value="3">3 Childrens</ion-select-option>
              </ion-select>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" class="mt-2 flex justify-between">
          <div
            class="text-red-600 font-bold"
            *ngIf="this.hotelService.search.guestRooms.length>1"
            (click)="this.hotelService.removeRoom()"
          >
            Remove Room
          </div>
          <div
            (click)="this.hotelService.addRoom()"
            class="text-red-600 flex-1 text-right font-bold"
          >
            Add Room
          </div>
        </ion-col>
        <!-- routerLink="/hotel-checkout" -->
        <ion-col size="12" class="mt-5">
          <button
            (click)="this.hotelService.searchHotels(content)"
            style="background-color: #f90101"
            class="bg-red-600 rounded-md text-white py-4 w-full font-bold"
          >
            Search
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- All Hotels Card start -->

    <div class="p-4 -mt-2">
      <!-- <div class="p-1 mt-1" >
        <div class="bg-white rounded-lg shadow-md p-1">
          <div class="flex items-center">
            <ion-input
              class="flex-1"
              placeholder="Search what are you looking for"
              id="search"
            >
              <ion-icon name="search" style="margin-left: 7px"></ion-icon>
            </ion-input>
            <ion-icon
              name="close"
              class="px-4"
              style="margin-left: 7px"
            ></ion-icon>
          </div>
        </div>
      </div> -->

      <div class="p-2" *ngIf="this.hotelService.hotels.length">
        <div class="flex pr-2">
          <div
            class="flex flex-1 rounded-md w-full shadow-md bg-white text-black px-3 py-2"
          >
            <input
              [(ngModel)]="this.hotelService.filters.name"
              (ngModelChange)="inputChange($event)"
              placeholder="Search by hotel name"
              type="text"
              class="flex-1"
            />
            <div (click)="clearSearch()" class="text-sm">X</div>
          </div>

          &nbsp;
          <select
            class="rounded-md shadow-md border border-red-600 text-xs text-red-600 font-bold bg-white text-black"
            (ngModelChange)="inputChange($event)"
            [(ngModel)]="this.hotelService.filters.sort"
          >
            <option value="" class="text-xs font-bold text-red-600">
              Sort
            </option>
            <option value="low" class="text-xs font-bold text-red-600">
              Low to High
            </option>
            <option value="high" class="text-xs font-bold text-red-600">
              High to Low
            </option>
          </select>
        </div>
      </div>
      <div
        *ngFor="let hotel of this.hotelService.hotels"
        class="relative mx-auto w-full mt-2"
        (click)="hotelSelected(hotel)"
      >
        <div
          *ngIf="this.hotelService.imageRetrived && (hotel.hotelInfo.name.toLowerCase().includes(this.hotelService.filters.name.toLowerCase()))"
          class="relative inline-block duration-300 ease-in-out transition-transform transform hover:-translate-y-2 w-full"
        >
          <div class="shadow p-2 rounded-lg bg-white">
            <div
              class="flex justify-center relative rounded-lg overflow-hidden"
            ></div>

            <div class="rounded-md overflow-hidden">
              <img
                *ngIf="hotel.hotelDetails"
                class="w-full"
                src="{{this.hotelService.hotelBaseImage+hotel.hotelDetails.images?.mainImage}}"
                alt=""
              />
            </div>
            <div class="mt-2 pl-2 flex">
              <div>
                <p
                  class="font-bold text-lg text-balck text-gray-800 line-clamp-1"
                >
                  {{hotel.hotelInfo.name}}
                </p>
                <p *ngIf="hotel.hotelDetails" class="text-xs text-gray-800">
                  {{hotel.hotelDetails.address}}
                  <!-- <ion-icon
                    class="text-xs text-gray-400"
                    name="location"
                  ></ion-icon> {{this.hotelService.search.destination}} -->
                </p>
                <div
                  *ngIf="hotel.hotelDetails&& hotel.hotelDetails.reviewData?.numberOfReviews"
                  class="flex items-center text-green-600 font-bold text-sm my-2"
                >
                  <!-- {{this.hotelService.hotelReviewImages[hotel.hotelDetails.starRating|
                  number: '1.1-1']}} -->
                  <img
                    src="https://{{this.hotelService.hotelReviewImages['3.0']}}"
                    alt=""
                  />
                  ( {{hotel.hotelDetails.reviewData?.numberOfReviews}} Reviews )
                </div>
                <!-- <p class="text-xs text-gray-800 line-clamp-1 mt-1">
                  <ion-icon
                    class="text-xs text-yellow-400"
                    name="star"
                  ></ion-icon>
                  <ion-icon
                    class="text-xs text-yellow-400"
                    name="star"
                  ></ion-icon>
                  <ion-icon
                    class="text-xs text-yellow-400"
                    name="star"
                  ></ion-icon>
                  <ion-icon
                    class="text-xs text-yellow-400"
                    name="star"
                  ></ion-icon>
                  <ion-icon
                    class="text-xs text-yellow-400"
                    name="star"
                  ></ion-icon>
                </p> -->
              </div>
            </div>
            <div class="flex justify-between px-4 py-2">
              <p
                class="font-bold text-md text-balck text-gray-800 line-clamp-1"
              >
                ₹
                {{(hotel.lowestPriceData?.pricing?.roomNightSellPrice*this.hotelService.charges.extraPercentage)|number:'1.2-2'}}
                /
                <span class="text-right text-xs text-gray-400 line-clamp-1">
                  per night</span
                >
              </p>
              <div class="pr-2">
                <p
                  class="bg-red-600 rounded-md text-white text-xs text-center p-2 mt-1"
                >
                  Select Room
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
