<ion-content>
  <div>
    <img src="assets/shopping/mobile.jpg" />
    <div style="
        z-index: 1000;
        position: absolute;
        margin-top: -65%;
        margin-left: 5px;
      " routerLink="/mobile">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </div>
  </div>

  <div class="p-3">
    <p class="font-bold">Samsung Galaxy f12</p>
    <p class="text-sm text-gray-600 text-justify">
      (Sky blue ,128 gb )(4 GB RAM)
    </p>
    <p>FREE Delivey</p>
    <p>7 Days Replacement Policy</p>
    <p>Cash On Delivery available</p>
    <p class="text-sm text-black border-dotted border-b-2 border-gray-500 p-1 pt-1">
      <span class="rup"></span>15,500
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>
    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>RAM | ROM </b>
    </p>
    <p>4 GB RAM | 128 GB ROM</p>

    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>Processor</b>
    </p>
    <p>EXynos 850</p>

    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>Rear camera</b>
    </p>
    <p>48MP +5MP + 2MP + 2MP</p>

    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>Fron Camera</b>
    </p>
    <p>8MP</p>
    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>Display</b>
    </p>
    <p>6.515 inch HD+Display</p>
    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon><b>Battary</b>
    </p>
    <p>6000 mAh</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 font-semibold">
      <div class="text-white pt-2 text-sm">
        Total <span class="rupees"></span> 15,500
      </div>
      <div>
        <ion-button color="light font-semibold" routerLink="/mycard" class="px-1 py-1">
          Add Cart
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
