<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Bhagyanagar Gas Limited </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label><b>Select Booking Method</b></ion-label>
  </div>

  <div class="p-4">

    <div>
      <ion-item>
        <ion-label position="stacked">CRN NO</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>

    <div class="pt-3">
      <ion-button expand="block" color="primary">
        Confirm
      </ion-button>
    </div>
  </div>


</ion-content>
