<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Contact</ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-white">
    <!-- <ion-card class="bg-white rounded-md "> -->
    <ion-item lines="none" color="none">
      <ion-label class="text-black text-xs font-bold"><b>Mobile Number</b><br>
        <span style="color: gray;">+91 9004101004 | 8675227522</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none" color="none">
      <ion-label class="text-black text-xs font-bold"><b>Email ID</b><br>
        <span style="color: gray;">Contact@thevendorclub.com</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none" color="none">
      <ion-label class="text-black text-xs font-bold"><b>Address</b><br>
        <span style="color: rgb(167, 167, 167); font-size: 0.8em;">Kitchen Design Building,
          Office No. 2, 3rd Floor, Beside Asian College, Narhe Pune 411041</span>
      </ion-label>
    </ion-item>
    <!-- </ion-card> -->


    <ion-card class="bg-white p-1 rounded-md pl-3">
      <ion-label class="text-black text-xs font-bold "><b>Mobile Number</b><br>
        <span style="color: gray;">+91 9004101004 | 8675227522</span>
      </ion-label><br>
      <ion-label class="text-black text-xs font-bold "><b>Email ID</b><br>
        <span style="color: gray;">Contact@thevendorclub.com</span>
      </ion-label><br>
      <ion-label class="text-black text-xs font-bold "><b>Address</b><br>
        <span style="color: gray;">Kitchen Design Building,
          Office No. 2, 3rd Floor, Beside Asian College, Narhe Pune 411041</span>
      </ion-label>
    </ion-card>
    <!-- <ion-card class="bg-white p-1 rounded-md pl-3">
      <ion-label class="text-black text-xs font-bold"><b>Mobile Number</b><br>
        <span style="color: gray;">+91 9004101004 | 8675227522</span>
      </ion-label>
    </ion-card> -->

    <!-- <ion-card class="bg-white p-1 rounded-md pl-3">
      <ion-label class="text-black text-xs "><b>Email ID</b></ion-label><br>
      <p>Contact@thevendorclub.com</p>
    </ion-card> -->

    <!-- <ion-card class="bg-white p-1 rounded-md pl-3">
      <ion-label class="text-black text-xs "><b>Address</b></ion-label><br>
      <p>Kitchen Design Building,
        Office No. 2, 3rd Floor, Beside Asian College, Narhe Pune 411041</p>
    </ion-card> -->

    <div style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946.2034216780256!2d73.81998544205021!3d18.446766608927344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2953cd5c2aa8d%3A0xa3dce1b7c9b57700!2sAsian%20College%20of%20Science%20and%20Commerce!5e0!3m2!1sen!2sin!4v1646904955796!5m2!1sen!2sin"
        width="100%" height="100%" style="border:0; border-top-left-radius: 10px; border-top-right-radius: 10px;"
        allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>


</ion-content>
