<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Applied Jobs</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <ion-segment
      class="bg-color"
      [(ngModel)]="segment"
      mode="ios"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="shortlisted">
        <ion-label>Shortlist</ion-label>
      </ion-segment-button>
      <ion-segment-button value="selected">
        <ion-label>Selected</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected">
        <ion-label>Rejected</ion-label>
      </ion-segment-button>
    </ion-segment>
    <br />
    <!-- routerLink="/software-deatils" -->
    <div
      (click)="jobDetails(application)"
      class="div1 p-3 mb-2 shadow-lg border-b-2 border-black"
      *ngFor="let application of data"
    >
      <ion-label class=""
        ><b
          >{{application.attributes.jobPost.data.attributes.title|titlecase}}</b
        ></ion-label
      >
      <p class="">
        {{application.attributes.jobPost.data.attributes.companyName|titlecase}}
      </p>
      <div class="flex items-center mt-2">
        <ion-icon name="time" class="text-indigo-600"></ion-icon> &nbsp;
        <span>Applied on {{application.attributes.createdAt|date}}</span>
      </div>

      <div class="flex items-center mt-2">
        <ion-icon name="checkmark-circle" class="text-green-500"></ion-icon>
        &nbsp;
        <span
          class="{{statusToClass(application.attributes.status)}} rounded-md p-1 text-sm "
        >
          <!-- <ion-icon style="font-size: 1em" name="checkmark-circle"></ion-icon
          >&nbsp; -->
          {{application.attributes.status|uppercase}}
        </span>
      </div>
    </div>
    <br />
  </div>
</ion-content>
