<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Applied Jobs</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <!-- routerLink="/software-deatils" -->
    <div
      (click)="jobDetails(application)"
      class="div1 p-4 mb-4"
      *ngFor="let application of data"
    >
      <ion-label class=""
        >{{application.attributes.jobPost.data.attributes.title|titlecase}}</ion-label
      >
      <p class="">
        {{application.attributes.jobPost.data.attributes.companyName|titlecase}}
      </p>
      <div class="flex items-center mt-2">
        <ion-icon name="time-outline"></ion-icon> &nbsp;
        <span>Applied on {{application.attributes.createdAt|date}}</span>
      </div>

      <div class="mt-4">
        <span
          class="{{statusToClass(application.attributes.status)}} rounded-full p-2 text-sm "
        >
          <!-- <ion-icon style="font-size: 1em" name="checkmark-circle"></ion-icon
          >&nbsp; -->
          {{application.attributes.status|uppercase}}
        </span>
      </div>
    </div>
    <br />
  </div>
</ion-content>
