<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" class="text-white">Home Services</ion-title>
    <div slot="end">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </div>
    <div slot="end" class="pr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div>
    <ion-list>

      <ion-item>
        <ion-grid>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h3.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Pest Control Service</p>

            </ion-col>
            <ion-col size="1" class="border-b mt-4" routerLink="/pestcontrolservice">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h1.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Painters</p>



            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h2.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Plumbers</p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>

          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h4.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">


              <p class="font-bold">Water Purifier Repair</p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h5.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">


              <p class="font-bold">Laundry Services</p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h6.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">


              <p class="font-bold">Watertank Cleaning </p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/h7.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">


              <p class="font-bold">House Cleaning</p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>


        </ion-grid>

      </ion-item>

    </ion-list>

  </div>


</ion-content>
