<ion-content class="fondologin">
  <div class="flex flex-col h-full">
    <!-- <div align="center" style="margin-top: 10%">
    <img src="assets/v1.png" alt="" width="30%" height="30%" />
  </div> -->

    <!--   <div class="login_title">
 <ion-title>Login</ion-title>
    <p class="text-p text-gray-600">Enter your phone number to continue</p>
  </div>
 -->
    <div class="bg-red flex items-center text h-1/3">
      <img src="assets/textW.png" class="w-1/2 m-auto" />
    </div>

    <div class="bg-white p-8 flex-1">
      <div class="text-sm font-bold">Phone Number :</div>
      <input
        [(ngModel)]="this.dataService.auth.phone"
        [disabled]="this.dataService.auth.otpSent"
        [ngClass]="{'bg-gray-200': this.dataService.auth.otpSent}"
        type="number"
        placeholder="Ex : 86056500xx"
        class="bg-white w-full rounded-md h-14 px-2 border border-gray-300 mt-4"
      />

      <div class="mt-4" *ngIf="this.dataService.auth.otpSent">
        <div class="text-sm font-bold">Enter Your OTP :</div>
        <input
          autocomplete="one-time-code"
          [(ngModel)]="this.dataService.auth.otp"
          type="number"
          placeholder="4 Digit OTP Code"
          class="bg-white w-full rounded-md h-14 px-2 border border-gray-300 mt-4"
        />
        <p
          class="text-p pt-2 text-red-600 font-bold text-right"
          (click)="resend()"
        >
          Resend OTP
        </p>
      </div>

      <button
        *ngIf="this.dataService.auth.otpSent"
        expand="block"
        color="light"
        class="bg-class mt-4"
        (click)="verify()"
      >
        <!-- routerLink="/dashboard" -->
        Verify OTP
      </button>

      <p
        *ngIf="this.dataService.auth.otpSent"
        class="text-red-700 text-sm text-center mt-4"
        (click)="changePhone()"
      >
        OR CHANGE PHONE NUMBER
      </p>
      <button
        *ngIf="!this.dataService.auth.otpSent"
        expand="block"
        color="light  "
        class="bg-class mt-8 h-12"
        (click)="login()"
      >
        Login
      </button>
      <!-- <p class="text-p pt-2">
        Don't have an account?
        <span style="color: red" routerLink="/signin"><b>Sign up</b></span>
      </p> -->
    </div>

    <!-- <p
    *ngIf="!this.dataService.auth.otpSent"
    class="text-red-700 text-sm text-center mt-4"
    (click)="changePhone()"
  >
    OR
  </p> -->

    <!-- <div *ngIf="!this.dataService.auth.otpSent">
    <button
      expand="block"
      color="light"
      (click)="google()"
      class="w-full mt-4 rounded-md bg-white py-2 px-4 flex items-center"
    >
      <img src="assets/images/google.png" alt="" class="h-8" />
      <div class="flex-1">Login with Google</div>
    </button>
  </div> -->
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="12" style="color: dimgrey" align="center">
          ----&nbsp; OR &nbsp;----
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 2vh">
        <ion-col size="6">
          <div class="facebook">
            <img class="img_login" src="assets/facebook.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="facebook">
            <img class="img_login" src="assets/google.png" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>
</ion-content>
