.small_text {
  font-size: small;
}
.fondologin {
  background-color: #111d12 !important;
}

.item-md {
  background: transparent;
}
header {
  position: relative;
  height: 200px;
  background-image: linear-gradient(#d10808, #f90101);
  border-bottom-right-radius: 50% 30%;
}

h1 {
  margin: 0;
  padding: 100px 0;
  font: 24px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}

.facebook {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

ion-grid {
  margin-top: 2vh;
}

.login_title {
  text-align: center;
  margin-top: 10vh;
  font-size: large;
  margin-top: 10px;
}

.img_login {
  width: 15%;
  height: 15%;
}

.text {
  font-size: 0.9em;
  color: rgb(184, 184, 184);
}

.button_login {
  margin-top: 1vh;
  padding: 6px;
}

.bg-class {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(
    197deg,
    #d10808,
    #f90101,
    #d10808 100%
  ) !important;
}

.text-p {
  font-size: small;
  // color: rgb(184, 184, 184);
}



//login css

.card1{
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.label-float{
position: relative;
padding-top: 13px;
}

.label-float input{
border: 1px solid lightgrey;
box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

border-radius: 5px;
outline: none;
width: 100%;
//   min-width: 250px;
padding: 10px 20px;
font-size: 16px;
transition: all .1s linear;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-webkit-appearance:none;
}

.label-float input:focus{
//   border: 2px solid #6a52d3;
border: 2px solid #FCA311;

}

.label-float input::placeholder{
color:transparent;
}

.label-float label{
pointer-events: none;
position: absolute;
top: calc(50% - 8px);
left: 15px;
transition: all .1s linear;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
background-color: white;
box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

padding: 5px;
box-sizing: border-box;
}

.label-float input:required:invalid + label{
color: red;
}
.label-float input:focus:required:invalid{
border: 2px solid red;
}
.label-float input:required:invalid + label:before{
content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
font-size: 13px;
top: 0;
//   color: #3951b2;
// color: #6a52d3;
color: #FCA311;

}




.card {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background: white;
  box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}