<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Contact Us</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col h-full">
    <!-- <div class="bg-red flex items-center text h-1/4">
      <img src="assets/textW.png" class="w-1/2 m-auto" />
    </div> -->

    <div class="text-black bg-white">
      <div class="p-4">
        <div class="text-xl"><b>Vendors Club Private Limited</b></div>
        <div class="text-gray-700 text-sm">
          Kitchen Design Building, Office No. 2, 3rd Floor, Beside Asian
          College, Narhe Pune 41104
        </div>
      </div>
      <!-- <div class="flex items-center mt-4">
        <div class="flex-1 flex items-center" (click)="mail('support@vendorclub.com')">
          <ion-icon name="mail" class="red"></ion-icon>
          &nbsp; &nbsp; support@vendorclub.com
        </div>
      </div>
      <div class="flex items-center mt-4">
        <div class="flex-1 flex items-center" (click)="contact('call','919004101004')">
          <ion-icon name="call" class="red"></ion-icon>
          &nbsp; &nbsp; +91 9004101004
        </div>
        <div class="flex-1 flex items-center" (click)="contact('whatsapp','919004101004')">
          <ion-icon name="logo-whatsapp" class="text-green-600"></ion-icon>
          &nbsp; &nbsp; +91 9004101004
        </div>
      </div>
      <div class="flex items-center mt-4">
        <div class="flex-1 flex items-center" (click)="contact('call','918675227522')">
          <ion-icon name="call" class="red"></ion-icon>
          &nbsp; &nbsp; +91 8675227522
        </div>
        <div class="flex-1 flex items-center" (click)="contact('whatsapp','918675227522')">
          <ion-icon name="logo-whatsapp" class="text-green-600"></ion-icon>
          &nbsp; &nbsp; +91 8675227522
        </div>
      </div> -->
    </div>

    <div class="bg-white mt-3">
      <div class="font-bold p-4 bg-white text-center">
        Help Desk / App related issues

        <br />
        Contact Support Team 24/7
      </div>
      <div class="p-2">
        <div class="flex justify-start pl-3 pr-3">
          <div (click)="mail('contact.effo@thevendorclub.com')">
            <ion-icon
              style="font-size: x-small"
              name="mail"
              class="bg-red-600 text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">contact.effo@thevendorclub.com</b>
          </div>
        </div>

        <div class="flex justify-between pt-3 pl-3 pr-3">
          <div (click)="contact('call','919004101004')">
            <ion-icon
              style="font-size: x-small"
              name="call"
              class="bg-red-600 text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">+91 9004101004</b>
          </div>
          <div (click)="contact('whatsapp','919004101004')">
            <ion-icon
              style="font-size: x-small; background-color: green"
              name="logo-whatsapp"
              class="text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">+91 9004101004</b>
          </div>
        </div>

        <div class="flex justify-between pt-3 pl-3 pr-3">
          <div (click)="contact('call','918675227522')">
            <ion-icon
              style="font-size: x-small"
              name="call"
              class="bg-red-600 text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">+91 8675227522</b>
          </div>
          <div (click)="contact('whatsapp','918675227522')">
            <ion-icon
              style="font-size: x-small; background-color: green"
              name="logo-whatsapp"
              class="text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;
            <b class="text-base">+91 8675227522</b>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full p-2 bg-white mt-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.822454787452!2d73.81863815063566!3d18.44636867619179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc29534d06073af%3A0x4739e600c940166c!2sVendor%20Club!5e0!3m2!1sen!2sin!4v1647169040424!5m2!1sen!2sin"
        class="w-full h-full border-2 border-gray-400 shadow-md"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</ion-content>
