<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Contact Us</div>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex flex-col h-full">
    <div class="bg-red flex items-center text h-1/4">
      <img src="assets/textW.png" class="w-1/2 m-auto" />
    </div>
    <div class="text-black p-4">
      <div class="text-2xl">Vendors Club Private Limited</div>
      <div class="text-gray-700">
        Kitchen Design Building, Office No. 2, 3rd Floor, Beside Asian College,
        Narhe Pune 41104
      </div>

      <div class="flex items-center mt-4">
        <div
          class="flex-1 flex items-center"
          (click)="contact('call','919004101004')"
        >
          <ion-icon name="call" class="red"></ion-icon>
          &nbsp; &nbsp; +91 9004101004
        </div>
        <div
          class="flex-1 flex items-center"
          (click)="contact('whatsapp','919004101004')"
        >
          <ion-icon name="logo-whatsapp" class="text-green-600"></ion-icon>
          &nbsp; &nbsp; +91 9004101004
        </div>
      </div>
      <div class="flex items-center mt-4">
        <div
          class="flex-1 flex items-center"
          (click)="contact('call','918675227522')"
        >
          <ion-icon name="call" class="red"></ion-icon>
          &nbsp; &nbsp; +91 8675227522
        </div>
        <div
          class="flex-1 flex items-center"
          (click)="contact('whatsapp','918675227522')"
        >
          <ion-icon name="logo-whatsapp" class="text-green-600"></ion-icon>
          &nbsp; &nbsp; +91 8675227522
        </div>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.822454787452!2d73.81863815063566!3d18.44636867619179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc29534d06073af%3A0x4739e600c940166c!2sVendor%20Club!5e0!3m2!1sen!2sin!4v1647169040424!5m2!1sen!2sin"
      class="w-full h-full"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</ion-content>
