<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Contact Us</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col h-full">
    <!-- <div class="bg-red flex items-center text h-1/4">
      <img src="assets/textW.png" class="w-1/2 m-auto" />
    </div> -->

    <div class="text-black bg-white">
      <div class="p-4">
        <div class="text-xl"><b>Effo Infotech Pvt. Ltd. </b></div>
        <!-- <div class="text-gray-700 text-sm">
          Effo Infotech Pvt Ltd, Office No 101, first floor, Sidhi Nisarg Plaza,
          Kasturi Chowk, Bhumkar Nagar , Wakad Pune 411057.
        </div> -->
      </div>
    </div>

    <div class="bg-white mt-3">
      <div class="font-bold p-4 bg-white text-center">
        Help Desk / App related issues

        <br />
        Contact Support Team 24/7
      </div>
      <div class="p-2">
        <div class="flex justify-start pl-3 pr-3">
          <div (click)="mail('contact@effoapp.com')">
            <ion-icon
              style="font-size: x-small"
              name="mail"
              class="bg-red-600 text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">contact@effoapp.com</b>
          </div>
        </div>

        <div class="flex justify-between pt-3 pl-3 pr-3">
          <div (click)="contact('call','919004101004')">
            <ion-icon
              style="font-size: x-small"
              name="call"
              class="bg-red-600 text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">+91 9004101004</b>
          </div>
          <div (click)="contact('whatsapp','919004101004')">
            <ion-icon
              style="font-size: x-small; background-color: green"
              name="logo-whatsapp"
              class="text-white p-1 rounded-sm"
            ></ion-icon>
            &nbsp;<b class="text-base">+91 9004101004</b>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full p-2 bg-white mt-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7562.800754006527!2d73.745464!3d18.601053!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDM2JzAzLjkiTiA3M8KwNDQnNDUuMiJF!5e0!3m2!1sen!2sin!4v1694762307231!5m2!1sen!2sin"
        class="w-full h-full border-2 border-gray-400 shadow-md"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</ion-content>
