<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" class="text-white">All Services</ion-title>
    <div slot="end">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </div>
    <div slot="end" class="pr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold" routerLink="/servicedetails">Periodic Services</p>
    <ion-grid>
      <ion-row>

        <ion-col size="7  " routerLink="/servicedetails">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>

        <ion-col size="5"><img img class=" img_class" src="assets/cabservices/d30.jpg" routerLink="/servicedetails">
        </ion-col>

        <ion-col size="6">
          <h5 class="text-black ">Rs.5,699 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow -mt-32"> ADD</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="p-2 class=p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold">Car Detailing</p>
    <ion-grid>
      <ion-row>

        <ion-col size="7">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>
        <ion-col size="5"><img class=" img_class" src="assets/cabservices/d31.jpg"></ion-col>
        <ion-col size="6">
          <h5 class="text-black">Rs.4,599 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow"> ADD </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="p-2 class=p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold ">AC Services</p>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>
        <ion-col size="5"><img img class=" img_class" src="assets/cabservices/d26.jpg"></ion-col>
        <ion-col size="6">
          <h5 class="text-black">Rs.6,799 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow"> ADD </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="p-2 class=p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold">Windshields and lights</p>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>
        <ion-col size="5"><img img class=" img_class" src="assets/cabservices/d29.jpg"></ion-col>
        <ion-col size="6">
          <h5 class="text-black">Rs.5,699 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow"> ADD</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="p-2 class=p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold">Clutch and fitments</p>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>
        <ion-col size="5"><img img class=" img_class" src="assets/cabservices/d27.jpg"></ion-col>
        <ion-col size="6">
          <h5 class="text-black">Rs.5,699 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow"> ADD</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="p-2 class=p-2 bg-gray-300">
    <p class="text-black text-lg font-semibold">Tyre Replacement</p>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <p class="text-black">- Every 500 KMS/3 month</p>
          <p class="text-black">- Takes 4 hours</p>
          <p class="text-black">- 1 month warranty</p>
        </ion-col>
        <ion-col size="5"><img img class=" img_class" src="assets/cabservices/d28.jpg"></ion-col>
        <ion-col size="6">
          <h5 class="text-black">Rs.5,699 </h5>
        </ion-col>
        <ion-col size="6" class="pt-5 text-right">
          <button class="bg-red-600 text-white font-semibold py-2 px-4  rounded shadow"> ADD</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
