<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" class="text-white">Services</ion-title>
    <div slot="end">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </div>
    <div slot="end" class="pr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="pl-2 pr-2 pt-3">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid rgb(211, 211, 211);">
      <ion-input placeholder="Search In All India" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label>Explore Our Services</ion-label>
  </div>

  <!-- <h5 style="margin-left: 12px;"><b>Explore Our Services</b></h5> -->

  <div class="bg-white mt-1 rounded-tl-xl rounded-tr-xl">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div align="center" routerLink="/electronicsservices">
            <img src="assets/services/p2.png" />
            <p class="text-xs">Appliances Repairing</p>
          </div>
        </ion-col>

        <ion-col size="3">

          <div align="center" routerLink="/homeservices">
            <img src="assets/services/p5.png" />
            <p class="text-xs ">Beauty</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/automobileservice">
            <img src="assets/services/p10.png" />
            <p class="text-xs ">Contractor</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/p9.png" />
            <p class="text-xs">Consultant</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/electronicsservices">
            <img src="assets/services/p12.png" />
            <p class="text-xs">Event</p>
          </div>
        </ion-col>

        <ion-col size="3">

          <div align="center" routerLink="/homeservices">
            <img src="assets/services/p13.png" />
            <p class="text-xs ">Education</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/automobileservice">
            <img src="assets/services/p7.png" />
            <p class="text-xs ">Home Repair & Doctor</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/p11.png" />
            <p class="text-xs">Manpower Services</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/p6.png" />
            <p class="text-xs">Vehicle</p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/empty.png" />
            <p class="text-xs"></p>
          </div>
        </ion-col>

        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/empty.png" />
            <p class="text-xs"></p>
          </div>
        </ion-col>
        <ion-col size="3">
          <div align="center" routerLink="/all-services">
            <img src="assets/services/empty.png" />
            <p class="text-xs"></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label>New Category Launches</ion-label>
  </div>

  <div class="bg-white p-1">
    <ion-grid>
      <ion-row>
        <!-- <h5 class="font-bold">New Category Launches</h5> -->
        <ion-col size="6">
          <img style="width: 90%;
          height: 70%;
          border-radius: 5px;" src="assets/services/n1.jpeg" />
          <ion-label class="font-bold mt-3">
            <p>Nail Services</p>

          </ion-label>
        </ion-col>
        <ion-col size="6">
          <img style="width: 90%;
          height: 70%;
          border-radius: 5px;" src="assets/services/n2.jpg" />
          <ion-label class="font-bold mt-3">
            <p>Buy Water Purifier</p>

          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <img style="width: 90%;
          height: 70%;
          border-radius: 5px;" src="assets/services/n3.jpg" />
          <ion-label class="font-bold mt-3">
            <p>Skin Clinic </p>

          </ion-label>
        </ion-col>
        <ion-col size="6">
          <img style="width: 90%;
          height: 70%;
          border-radius: 5px;" src="assets/services/n4.jpg" />
          <ion-label class="font-bold mt-3">
            <p>Appliances Warrenty</p>

          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label> Salon & Spa for Women</ion-label>
  </div>

  <div class="bg-white p-1">
    <ion-grid class="bg-white">
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/s1.png" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Salon At Home for Women</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/s2.jpg" alt="">
          <!-- <img class="img_class" src="assets/services/s2.jpg" /> -->
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Spa for Women</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/s3.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Hair Services for Women</p>


          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/s4.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">


            <p>Makeup and Hairstyling</p>

          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label> AC & Appliance Repair </ion-label>
  </div>

  <div class="bg-white p-1">
    <ion-grid class="bg-white">
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/a1.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Water Purifier</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/a2.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Air Conditioner</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/a3.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Washing Machine</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img style=" width: 80%;
          height: 80%;
          border-radius: 5px;" src="assets/services/a4.jpg" />
        </ion-col>
        <ion-col size="8">
          <ion-label class="pt-3">
            <p>Appliances Warrenty</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <!-- <div>
    <ion-list>
      <ion-list-header class="text-lg font-bold"> Cleaning & Pest Control </ion-list-header>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/b1.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Bathroom and Kitchen</p>


              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/b2.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Full Home Cleaning</p>

              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/b3.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Sofa & Carpet Cleaning</p>

              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/b4.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Car Cleaning</p>

              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header class="text-lg font-bold"> Electricion, Plumber & Carpenter </ion-list-header>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/c1.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Carpenters</p>


              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img class="img_class" src="assets/services/c2.jpg" />
            </ion-col>
            <ion-col size="8" class="font-bold mt-5">
              <ion-label>
                <p>Plumbers</p>

              </ion-label>
            </ion-col>
          </ion-row>


        </ion-grid>

      </ion-item>

    </ion-list>

  </div> -->

  <!-- <div class="mt-5">
    <ion-slides class="slider" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide class="pl-2">
        <img src="assets/services/slide1.jpeg" class="rounded-md " />
      </ion-slide>
      <ion-slide class="pl-2">
        <img src="assets/services/slide2.jpg" class="rounded-md " />
      </ion-slide>
      <ion-slide class="pl-2">
        <img src="assets/services/slide3.jpg" class="rounded-md " />
      </ion-slide>
    </ion-slides>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

</ion-content>
