<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Ticket Details </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="bg-white">
    <div class=" flex justify-between pr-2">
      <div>
        <ion-item color="none" lines="none">
          <ion-icon class="text-white text-center bg-red-600 p-2 rounded" t name="ticket"></ion-icon>
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Ticket code</span><br><b>OV3412V</b></ion-label>
        </ion-item>
      </div>

      <div class="flex items-center">
        <ion-label class="text-sm text-black">₹ 300<br>
          <span class="text-xs text-red-500">Seat left</span></ion-label>
      </div>
    </div>

    <div class=" flex justify-between">
      <div>
        <ion-item color="none" lines="none">
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Amravati</span><br><b>01:35</b></ion-label>
        </ion-item>
      </div>

      <div class="flex items-center">
        <ion-chip color="tertiary">
          <ion-label>3h 43min</ion-label>
        </ion-chip>
      </div>

      <div>
        <ion-item color="none" lines="none">
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Pune</span><br><b> 04:34</b></ion-label>
        </ion-item>
      </div>
    </div>
  </div>


  <div class="bg-white mt-2">
    <div class=" flex justify-between pr-2">
      <div>
        <ion-item color="none" lines="none">
          <ion-icon class="text-white text-center bg-red-600 p-2 rounded" t name="ticket"></ion-icon>
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Ticket code</span><br><b>OV3412V</b></ion-label>
        </ion-item>
      </div>

      <div class="flex items-center">
        <ion-label class="text-sm text-black">₹ 300<br>
          <span class="text-xs text-red-500">Seat left</span></ion-label>
      </div>
    </div>

    <div class=" flex justify-between">
      <div>
        <ion-item color="none" lines="none">
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Amravati</span><br><b>01:35</b></ion-label>
        </ion-item>
      </div>

      <div class="flex items-center">
        <ion-chip color="tertiary">
          <ion-label>3h 43min</ion-label>
        </ion-chip>
      </div>

      <div>
        <ion-item color="none" lines="none">
          <ion-label class="pl-2"><span class="text-gray-500 text-sm">Pune</span><br><b> 04:34</b></ion-label>
        </ion-item>
      </div>
    </div>


  </div>

  <div class="p-2" routerLink="/bookingdetails">
    <ion-button expand="block" color="primary">
      Confirm Ticket
    </ion-button>
  </div>

</ion-content>
