.seat {
    background-color: #eaeaea;
    width: 40px;
    height: 30px;
    margin: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
    border-top: 5px solid ;
    border-height:2px;
    border-width: 2px;
    align-items: center;
  }
  
  .seat.selected {
    background-color: #6feaf6;
  }
  
  .seat.occupied {
    background-color: #fff;
  }
  /* Selects the nth elements among the group of siblings */
  .seat:nth-of-type(2) {
    margin-right: 20px;
  }
  
  /* Selects the nth elements among the group of siblings starting from end */
  .seat:nth-last-of-type(2) {
    margin-left: 20px;
  }
  
  /* Selects any element that is NOT a given type or contains a class */
  .container .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  

  .bus-seat {
    background-color: #3490dc;
    color: #ffffff;
    border-radius: 10px;
    width: 60px;
    height: 80px;
    padding: 10px;
    margin: 5px;
    position: relative;
  }
  
  .bus-seat .seat-number {
    font-size: 14px;
    font-weight: bold;
  }
  
  .bus-seat .female-icon {
    margin-top: 8px;
  }
  
  .bus-seat .horizontal-bar {
    width: 100%;
    height: 3px;
    background-color: #666666;
    position: absolute;
    top: 5px;
    left: 0;
  }