<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button style="color: white" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-back-button style="color: white" defaultHref="/"></ion-back-button> -->
    <ion-buttons slot="end">
      <ion-button
        [routerLink]="['/bus-bookings']"
        routerLinkActive="router-link-active"
        >My Bookings</ion-button
      >
    </ion-buttons>
    <ion-title> Effo Travel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div
    style="background-color: #222529; border-radius: 0 0 4rem 4rem"
    class="p-4 pb-32 rounded-b-3xl">
    <div class="text-white text-2xl">Discover New Places</div>
    <div class="text-gray-200 text-sm">
      Explore - Journey - Discover - Adventure
    </div>
  </div> -->

  <div>
    <video class="w-full" autoplay loop>
      <source
        src="https://effo-assets.s3.ap-south-1.amazonaws.com/Whats_App_Video_2023_10_10_at_17_06_43_fe03246e0b.mp4?updated_at=2023-10-10T11:43:47.555Z"
        type="video/mp4"
      />
    </video>
    <!--
    <ion-slides #slider loop="true" [options]="slideOpts">
      <ion-slide>
        <ion-card style="border-radius: 10px">
          <img width="100px" height="70%" src="assets/s2-bus.jpg" />
        </ion-card>
      </ion-slide>

    </ion-slides> -->
  </div>

  <br />
  <div class="pl-5 pr-5">
    <div class="text-black text-xl">Discover New Places</div>
    <div class="text-gray-400 text-sm">
      Explore - Journey - Discover - Adventure
    </div>
  </div>

  <div class="p-4">
    <ion-grid class="bg-white rounded-lg">
      <ion-row>
        <ion-col class="pl-4" size="6" align="left">
          <div>
            <p class="pl-1 text-xs">From (Location)</p>
            <div
              class="flex bg-white border border-gray-200 rounded-md p-2 mt-1"
            >
              <input
                (blur)="checkValue('from')"
                [(ngModel)]="this.busService.inputs.from"
                [disabled]="!!this.busService.inputs.fromCityId"
                (ngModelChange)="this.busService.searchCity($event,'from')"
                type="text"
                class="font-bold text-sm w-full bg-transparent flex-1"
              />
              <span
                class="text-xs"
                (click)="clearInput('from')"
                *ngIf="!!this.busService.inputs.fromCityId"
                >X</span
              >
            </div>

            <div>
              <div
                *ngFor="let city of this.busService.fromSuggestions"
                class="p-2"
                (click)="this.busService.citySelected(city,'from')"
              >
                {{city.attributes.name|titlecase}}
              </div>
            </div>
          </div>
        </ion-col>

        <!-- <ion-col size="1">
          <ion-icon
            class="bg-red-600 p-1 rounded-full text-white"
            name="swap-horizontal"
          ></ion-icon>
        </ion-col> -->

        <ion-col class="pr-4" size="6" align="right">
          <p class="pl-1 text-xs">To (Destination)</p>

          <div class="flex bg-white border border-gray-200 rounded-md p-2 mt-1">
            <input
              (blur)="checkValue('to')"
              [disabled]="!!this.busService.inputs.toCityId"
              [(ngModel)]="this.busService.inputs.to"
              (ngModelChange)="this.busService.searchCity($event,'to')"
              type="text"
              class="font-bold text-sm w-full bg-transparent flex-1"
            />
            <span
              class="text-xs"
              (click)="clearInput('to')"
              *ngIf="!!this.busService.inputs.toCityId"
              >X</span
            >
          </div>

          <div>
            <div
              *ngFor="let city of this.busService.toSuggestions"
              class="p-2"
              (click)="this.busService.citySelected(city,'to')"
            >
              {{city.attributes.name|titlecase}}
            </div>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="text-gray-800 text-sm p-2">
            <p class="pl-1">Departure</p>

            <div
              class="font-bold text-sm bg-white border border-gray-200 rounded-md p-2 mt-1"
            >
              <input
                class="w-full bg-transparent"
                [(ngModel)]="this.busService.inputs.date"
                type="date"
                min="{{ todayDate }}"
              />
            </div>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="text-gray-800 text-sm p-2">
            <p class="pl-1">
              Passengers :
              <!-- <span class="text-red-600">Disabled for testing purpose</span> -->
            </p>
            <ion-select
              [(ngModel)]="this.busService.inputs.passenger"
              class="border border-gray-200 rounded-md"
              placeholder="Select Passengers"
            >
              <ion-select-option value="1">1 Passenger</ion-select-option>
              <ion-select-option value="2">2 Passengers</ion-select-option>
              <ion-select-option value="3">3 Passengers</ion-select-option>
              <ion-select-option value="4">4 Passengers</ion-select-option>
              <ion-select-option value="5">5 Passengers</ion-select-option>
              <ion-select-option value="6">6 Passengers</ion-select-option>
              <ion-select-option value="7">7 Passengers</ion-select-option>
              <ion-select-option value="8">8 Passengers</ion-select-option>
              <ion-select-option value="9">9 Passengers</ion-select-option>
            </ion-select>

            <!-- <div
              class="font-bold text-lg bg-white border border-gray-200 rounded-md p-2 mt-1"
            >
              <input
                disabled=""
                class="w-full bg-transparent"
                [(ngModel)]="this.busService.inputs.passenger"
                type="number"
              />
            </div> -->
          </div>
        </ion-col>

        <ion-col size="12">
          <button
            (click)="this.busService.getBuses(content)"
            style="background-color: #f90101"
            class="bg-red-600 rounded-md text-white py-4 w-full font-bold"
          >
            Search Bus
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="px-2 -mt-1">
    <!-- <div class="text-gray-800 text-sm p-2">
      <p class="pl-1">From (Location)</p>
      <div class="flex bg-white rounded-md p-2">
        <input [(ngModel)]="this.busService.inputs.from" [disabled]="!!this.busService.inputs.fromCityId"
          (ngModelChange)="this.busService.searchCity($event,'from')" type="text"
          class="font-bold text-lg w-full bg-transparent flex-1" />
        <span (click)="clearInput('from')" *ngIf="!!this.busService.inputs.fromCityId">X</span>
      </div>
    </div>

    <div>
      <div *ngFor="let city of this.busService.fromSuggestions" class="p-2" (click)="citySelected(city,'from')">
        {{city.attributes.name|titlecase}}
      </div>
    </div>

    <br/>

    <div class="text-gray-800 text-sm p-2 -mt-5">
      <p class="pl-1">To (Destination)</p>

      <div class="flex bg-white rounded-md p-2">
        <input [disabled]="!!this.busService.inputs.toCityId" [(ngModel)]="this.busService.inputs.to"
          (ngModelChange)="this.busService.searchCity($event,'to')" type="text"
          class="font-bold text-lg w-full bg-transparent flex-1" />
        <span (click)="clearInput('to')" *ngIf="!!this.busService.inputs.toCityId">X</span>
      </div>
    </div>

    <div>
      <div *ngFor="let city of this.busService.toSuggestions" class="p-2" (click)="citySelected(city,'to')">
        {{city.attributes.name|titlecase}}
      </div>
    </div>

    <br />

    <div class="text-gray-800 text-sm p-2 -mt-5">
      <p class="pl-1">Departure</p>

      <div class="font-bold text-lg bg-white rounded-md p-2">
        <input class="w-full bg-transparent" [(ngModel)]="this.busService.inputs.date" type="date"
          min="{{ todayDate }}" />
      </div>
    </div>
    <br />

    <div class="text-gray-800 text-sm p-2 -mt-5">
      <p class="pl-1">
        Passengers :
        <span class="text-red-600">Disabled for testing purpose</span>
      </p>

      <div class="font-bold text-lg bg-white rounded-md p-2">
        <input disabled="" class="w-full bg-transparent" [(ngModel)]="this.busService.inputs.passenger" type="number" />
      </div>
    </div>
    <br />

    <div class="p-2 -mt-5">
      <button (click)="this.busService.getBuses(content)" style="background-color: #f90101;"
        class="bg-red-600 rounded-md text-white py-4 w-full font-bold">
        Search Bus
      </button>
    </div> -->

    <!-- <div class="bg-white rounded-xl p-4">
      <div class="bg-gray-100 rounded-md">
        <div class="text-gray-800 text-sm p-2">
          From (Location) {{this.busService.inputs.fromCityId}}
          <div class="flex">
            <input [(ngModel)]="this.busService.inputs.from" [disabled]="!!this.busService.inputs.fromCityId"
              (ngModelChange)="this.busService.searchCity($event,'from')" type="text"
              class="font-bold text-lg w-full bg-transparent flex-1" />
            <span (click)="clearInput('from')" *ngIf="!!this.busService.inputs.fromCityId">X</span>
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let city of this.busService.fromSuggestions" class="py-2" (click)="citySelected(city,'from')">
          {{city.attributes.name|titlecase}}
        </div>
      </div>
      <br />
      <div class="bg-gray-100 rounded-md">
        <div class="text-gray-800 text-sm p-2">
          To (Destination)
          <div class="flex">
            <input [disabled]="!!this.busService.inputs.toCityId" [(ngModel)]="this.busService.inputs.to"
              (ngModelChange)="this.busService.searchCity($event,'to')" type="text"
              class="font-bold text-lg w-full bg-transparent flex-1" />
            <span (click)="clearInput('to')" *ngIf="!!this.busService.inputs.toCityId">X</span>
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let city of this.busService.toSuggestions" class="py-2" (click)="citySelected(city,'to')">
          {{city.attributes.name|titlecase}}
        </div>
      </div>
      <br />
      <div class="bg-gray-100 rounded-md">
        <div class="text-gray-800 text-sm p-2">
          Departure
          <div class="font-bold text-lg">
            <input class="w-full bg-transparent" [(ngModel)]="this.busService.inputs.date" type="date" />
          </div>
        </div>
      </div>
      <br />
      <div class="bg-gray-100 rounded-md">
        <div class="text-gray-800 text-sm p-2">
          Passengers
          <div class="font-bold text-lg">
            <input class="w-full bg-transparent" [(ngModel)]="this.busService.inputs.passenger" type="number" />
          </div>
        </div>
      </div>
      <br />
      <button (click)="this.busService.getBuses()"
        class="bg-black rounded-md bg-black text-white py-4 w-full font-bold">
        Search Bus
      </button>
    </div> -->
    <div class="px-4" *ngIf="this.busService.notFound">
      <div
        class="flex flex-col justify-center bg-white items-center rounded-md p-4"
      >
        <img
          class="w-16"
          src="https://effo-assets.s3.ap-south-1.amazonaws.com/no_result_data_not_found_concept_illustration_flat_design_eps10_simple_and_modern_graphic_element_for_landing_page_empty_state_ui_infographic_etc_vector_173723727f.jpg"
          alt=""
        />

        <div>Sorry, No buses found !</div>
      </div>
    </div>
    <div class="p-2">
      <div *ngIf="this.busService.buses.length" class="flex pr-2">
        <div
          class="flex flex-1 rounded-md w-full shadow-md bg-white text-black px-3 py-2"
        >
          <input
            [(ngModel)]="this.busService.filters.name"
            (ngModelChange)="inputChange($event)"
            placeholder="Search by bus"
            type="text"
            class="flex-1"
          />
          <div (click)="clearSearch()" class="text-sm">X</div>
        </div>

        &nbsp;
        <select
          class="rounded-md shadow-md border border-red-600 text-xs text-red-600 font-bold bg-white text-black"
          (ngModelChange)="inputChange($event)"
          [(ngModel)]="this.busService.filters.sort"
        >
          <option value="" class="text-xs font-bold text-red-600">Sort</option>
          <option value="low" class="text-xs font-bold text-red-600">
            Low to High
          </option>
          <option value="high" class="text-xs font-bold text-red-600">
            High to Low
          </option>
        </select>
      </div>

      <div
        (click)="this.busService.busSelected(bus)"
        *ngFor="let bus of this.busService.filteredBuses"
        class="p-4 bg-white rounded-md shadow-md my-2 border-b-2 border-red-600"
      >
        <div class="flex justify-between">
          <div>
            <p class="text-black text-sm font-bold">
              {{bus.buses[0].operatorName}}
            </p>
            <div class="text-xs text-gray-500">{{bus.buses[0].busType}}</div>
          </div>
          <p class="text-sm">
            BusID
            <span class="text-red-600 font-semibold rounded-sm text-sm"
              >{{bus.buses[0].busId}}
            </span>
          </p>
        </div>

        <div
          class="border-b border-dashed border-red-600 border-b-2 my-2"
        ></div>

        <div class="flex justify-between">
          <div>
            <div class="text-xs">Departure</div>
            <div class="text-black font-bold text-black">
              {{bus.buses[0].depDetail.time.split(" ")[1].slice(0,5)}}
            </div>
          </div>
          <div>
            <div class="text-xs">&nbsp; Arrival</div>
            <div class="text-black font-bold text-black">
              &nbsp; {{bus.buses[0].arrDetail.time.split(" ")[1].slice(0,5)}}
            </div>
          </div>
          <div>
            <div class="text-xs">&nbsp; Available Seats</div>
            <div class="text-black font-bold text-black">
              &nbsp; {{bus.buses[0].availableSeats}}
            </div>
          </div>
        </div>

        <div class="border-b border-dashed border-b-2 my-2"></div>

        <div class="flex justify-between">
          <div>
            <div class="text-xs">&nbsp; Starting From</div>
            <div class="text-black font-bold text-black">
              &nbsp;
              {{(bus.fares[0].paxFares.adt.total.amount/this.busService.meta.busTaxValueMultiplier)|number:'1.2-2'}}
              /-
            </div>
          </div>
          <button
            style="border: 1px solid red"
            class="text-red-600 rounded-md p-2 w-24"
          >
            Book
          </button>
        </div>
      </div>

      <br />
      <br />
      <br />
      <!-- <div (click)="this.busService.busSelected(bus)" *ngFor="let bus of this.busService.buses"
        class="p-4 bg-white rounded-md shadow-md flex my-2">
        <div class="flex-1">
          <div class="text-white text-sm font-bold">{{bus.buses[0].operatorName}}</div>
          <div class="text-xs text-gray-500">{{bus.buses[0].busType}}</div>
          <div class="flex">
            <div>
              <div class="text-xs"> Departure</div>
              <div class="text-black font-bold text-black"> {{bus.buses[0].depDetail.time.split(" ")[1].slice(0,5)}}
              </div>
            </div>
            <div>
              <div class="text-xs">&nbsp; Arrival </div>
              <div class="text-black font-bold text-black">&nbsp; {{bus.buses[0].arrDetail.time.split("
                ")[1].slice(0,5)}}</div>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div>Starting From</div>
          <div class="text-red-600 font-bold flex-1">
            {{bus.fares[0].paxFares.adt.total.amount}} /-
          </div>
          <button class="text-white bg-black rounded-md p-2 w-full">Book</button>
        </div>
      </div> -->
    </div>
  </div>

  <div>
    <ion-fab class="scrollable-fab" horizontal="end" vertical="bottom">
      <ion-fab-button color="primary">
        <ion-icon style="font-size: 1.5em" name="headset"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" style="margin-bottom: 100%">
        <ion-fab-button
          (click)="this.ds.contact()"
          data-desc="Call"
          color="dark"
        >
          <ion-icon name="call"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="this.ds.mail()" data-desc="Mail" color="dark">
          <ion-icon name="mail"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
