<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title>Transport Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card [ngClass]="{'selected-card': isCardSelected}" (click)="toggleCardColor()"class="bg-white hover-bg-red-600 p-1" align="center">
            <img src="assets/trans1.png" alt="car" class="img">
            <p class="text ml-4">Tata ACE</p>
          </ion-card>
        </ion-col>
  
        <ion-col size="4">
          <ion-card  class="bg-white hover-bg-red-600 p-1" align="center">
            <img src="assets/trans2.png" alt="car" class="img">
            <p class="text ml-4">Tata 407</p>
          </ion-card>
        </ion-col>
  
        <ion-col size="4">
          <ion-card  class="bg-white hover-bg-red-600 p-1" align="center">
            <img src="assets/trans3.png" alt="car" class="img">
            <p class="text ml-3">3 Wheeler</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row class="row2">
        <ion-col size="4">
          <ion-card  class="bg-white hover-bg-red-600 p-1" align="center">
            <img src="assets/trans4.png" alt="car" class="img">
            <p class="text ml-4">8FT 1TON</p>
          </ion-card>
        </ion-col>
  
        <ion-col size="4">
          <ion-card  class="bg-white hover-bg-red-600 p-1" align="center">
            <img src="assets/trans5.png" alt="car" class="img">
            <p class="text ml-3">8FT Pickup</p>
          </ion-card>
        </ion-col>
  
        <ion-col size="4">
          <ion-card  class="bg-white p-1" align="center">
            <img src="assets/trans6.png" alt="car" class="img">
            <p class="text ml-7">Truck</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  
</ion-content>
<div class="p-2">
  <ion-button expand="block" color="danger">
    SELECT
  </ion-button>
</div>