<!-- <ion-header>
  <ion-toolbar>
    <ion-title>selectpipedgas</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Select Piped Gas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: white; border-radius: 5px; margin-top: 2%; padding: 5px;">
    <ion-slides #slider loop="true" [options]="slideOpts" (ionSlideTouchEnd)="slideChanged()">
      <ion-slide>
        <ion-card style="border-radius: 5px;">
          <img src="assets/slider-3.jpg" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card style="border-radius: 5px;">
          <img src="assets/slider-2.jpg" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card style="border-radius: 5px;">
          <img src="assets/slider-1.png" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card style="border-radius: 5px;">
          <img src="assets/slider-4.jpg" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card style="border-radius: 5px;">
          <img src="assets/slider-3.jpg" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label><b>Billers in Maharashtra</b></ion-label>
  </div>


  <div class="bg-white mt-2" routerLink="/bookingpipedgas">
    <ion-item class="p-2" color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2 pb-4 border-b-2 border-gray-200">
        Bhagyanagar Gas Limited
      </ion-label>
    </ion-item>
    <ion-item class="p-2 " color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2  pb-4 border-b-2 border-gray-200">
        Gail Gas Limited
      </ion-label>
    </ion-item>
    <ion-item class="p-2 " color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2  pb-4 border-b-2 border-gray-200">
        Gail India
      </ion-label>
    </ion-item>
  </div>

  <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label><b>All Billers</b></ion-label>
  </div>


  <div class="bg-white mt-2" routerLink="/bookingpipedgas">
    <ion-item class="p-2" color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2 pb-4 border-b-2 border-gray-200">
        Adani Gas
      </ion-label>
    </ion-item>
    <ion-item class="p-2 " color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2  pb-4 border-b-2 border-gray-200">
        Aavatika Gas Ltd
      </ion-label>
    </ion-item>
    <ion-item class="p-2 " color="none" lines="none">
      <img src="assets/Utility/.png" alt="">
      <ion-label class="pl-2  pb-4 border-b-2 border-gray-200">
        Assam Gas Company Ltd
      </ion-label>
    </ion-item>
  </div>
</ion-content>
