<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-white">Payment</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="pb-4 mt-4">
    <ion-label class="pl-2"><b>Select Payment Method</b></ion-label>
  </div>

  <ion-radio-group value="grape">
    <ion-item lines="none" class="border-solid border-2 p-1 ml-2 mr-2 mt-1 border-gery-300 hover:border-red-300">
      <ion-avatar slot="start">
        <img src="assets/shopping/cash.png" />
      </ion-avatar>
      <ion-label>Cash on Delivery</ion-label>
      <ion-radio slot="start" color="danger" value="beef"></ion-radio>
    </ion-item>


    <ion-item lines="none" class="border-solid border-2 p-1 ml-2 mr-2 mt-1 pt-2 border-grey-300 hover:border-red-300 ">
      <ion-avatar slot="start">
        <img src="assets/shopping/visa.jpeg" />
      </ion-avatar>

      <ion-label>* * ** 308</ion-label>
      <ion-radio slot="start" color="danger" value="apple"></ion-radio>
    </ion-item>

    <ion-item lines="none" class="border-solid border-2 p-1 ml-2 mr-2 mt-1 border-gery-300 hover:border-red-300">
      <ion-avatar slot="start">
        <img src="assets/shopping/gpay.jpg" />
      </ion-avatar>
      <ion-label>* * ** 408</ion-label>
      <ion-radio slot="start" color="danger" value="grape"></ion-radio>
    </ion-item>

    <ion-item lines="none" class="border-solid border-2 p-1 ml-2 mr-2 mt-1 border-gery-300 hover:border-red-300">
      <ion-avatar slot="start">
        <img src="assets/shopping/pytm.jpg" />
      </ion-avatar>
      <ion-label>* * ** 508</ion-label>
      <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
    </ion-item>
  </ion-radio-group>


  <div class="mt-2 p-4">
    <p class=" text-sm mt-2"><b>Samsung Galaxy f12</b></p>
    <p class="text-black text-xs">Delivery by mon feb 28</p>
    <div class=" border-b-2 ">
      <p class="text-black text-sm  mb-2 ">₹ <b>15,500</b></p>

    </div>

    <p class="text-sm mt-2 text-black">Price Details</p>
    <p class="text-xs">price : ₹ 18,500</p>
    <p class="text-xs">Discount : ₹ -3500</p>
    <p class="text-xs">Delivery Charges : Free</p>
    <p class="text-xs"><b>Total Amount : </b> ₹ 15,500</p>
    <p class="text-green-500 text-xs">
      You will save ₹ 3500 on this order
    </p>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 font-semibold">
      <div class="text-white pt-2 text-sm">
        Total ₹ 15,000
      </div>
      <div>
        <ion-button color="light font-semibold" routerLink="/cart" class="px-1 py-1" routerLink="/ordersummery">
          Continue
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
