<ion-header>
  <ion-toolbar>
    <ion-title>oldexHome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-4 mt-4">
    <div class="bg-white rounded-lg shadow-md">
      <div class="flex items-center">
        <ion-input
          class="flex-1"
          placeholder="Search by product name"
          id="search"
          [(ngModel)]="this.oldExService.filters.query"
        >
          <!-- [(ngModel)]="searchQuery"
          (ionChange)="getSuggesions($event)" -->
          <ion-icon name="search" style="margin-left: 7px"></ion-icon>
        </ion-input>
        <ion-icon
          *ngIf="this.oldExService.filters.query"
          (click)="this.oldExService.filters.query=''"
          name="close"
          class="px-4"
          style="margin-left: 7px"
        ></ion-icon>
      </div>
    </div>

    <div>
      <div
        class="bg-white rounded-md w-full mt-2"
        style="z-index: 10; left: 0px"
      >
        <!-- <div class="flex px-4 p-2" *ngIf="this.noSuggesionsFound">
          No Suggesion Found
        </div> -->
        <!-- <div
          (click)="suggestionClicked(suggestion)"
          class="flex px-4 p-2"
          *ngFor="let suggestion of suggestions"
        >
          <div class="flex-1">{{suggestion.title|titlecase}}</div>
        </div> -->
      </div>
    </div>
    <ion-button expand="block" class="mt-3" (click)="search()">
      Search
    </ion-button>
  </div>

  <div class="px-4 pt-4 pb-1">
    <ion-label><b>Categories</b></ion-label>
  </div>

  <!-- <ion-grid fixed>
    <ion-row align="center" class="pt-2">
      <ion-col size="2" style="border-right: 1px solid rgb(224, 224, 224) ;" routerLink="/fulltime-job">
        <img src="assets/full-time.png" alt=""><br>
        <ion-label style="font-size: 0.6em;">Full Time </ion-label>
      </ion-col>

      <ion-col size="2" style="border-right: 1px solid rgb(224, 224, 224) ;" routerLink="/parttime-job">
        <img src="assets/part-time.png" alt=""><br>
        <ion-label style="font-size: 0.6em;">Part Time</ion-label>
      </ion-col>

      <ion-col size="4" style="border-right: 1px solid rgb(224, 224, 224) ;" routerLink="/workfromhome-job">
        <img src="assets/work-from-home.png" alt=""><br>
        <ion-label style="font-size: 0.6em;">Work From Home</ion-label>
      </ion-col>
      <ion-col size="4" style="border-right: 1px solid rgb(224, 224, 224) ;" routerLink="/workabroad-job">
        <img src="assets/work-abroad.png" alt=""><br>
        <ion-label style="font-size: 0.6em;">Work Abroad</ion-label>
      </ion-col>
      <ion-col size="2" routerLink="/workabroad-job">
        <img src="assets/nightshift.png" alt=""><br>
        <ion-label style="font-size: 0.6em;">Night Shift</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div style="background-color: white; margin-bottom: 7px">
    <div style="background-color: white; border-radius: 5px; margin-top: 3%">
      <ion-grid fixed>
        <ion-row class="small_text">
          <ion-col
            (click)="categorySelected(category)"
            *ngFor="let category  of this.oldExService.categories"
            size="4"
            align="center"
            class="flex flex-col"
          >
            <div
              class="mx-auto primary-red p-3 text-white rounded-md flex items-center justify-center"
            >
              <ion-icon
                name="{{category.attributes.icon}}"
                class="text-xl"
              ></ion-icon>
            </div>
            <div class="mt-2 text-xs">
              {{category.attributes.name|titlecase}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div
    class="px-4 pt-2 pb-1"
    *ngIf="this.oldExService.newNearbyProducts.length"
  >
    <ion-label><b>New Nearby Products</b></ion-label>
  </div>

  <div class="p-4">
    <div
      *ngFor="let product of this.oldExService.newNearbyProducts"
      class="bg-white p-4 mt-2 rounded-md"
      style="width: 100%"
    >
      <div class="flex">
        <div
          class="w-10 h-10 bg-blue-100 rounded-md bg-cover bg-center"
          *ngIf="product.attributes.images.data"
          style="background-image: url('{{product.attributes.images.data[0].attributes.url}}');"
        ></div>

        <div class="flex-1 pl-2">
          <div class="flex">
            <div class="flex-1 text-black text-left text-base font-bold">
              <!-- {{job.id}} -->{{product.attributes.title}}
            </div>
          </div>
          <div class="text-sm text-blue-800 font-bold">
            ₹ {{product.attributes.price}}
          </div>
        </div>
      </div>

      <div class="flex justify-start">
        <div>
          <div class="text-sm flex items-center">
            <ion-icon name="location" class="text-red-600"></ion-icon>&nbsp;
            {{product.attributes.city|titlecase}} |
            {{product.attributes.category.data.attributes.name|titlecase}}
          </div>
        </div>
      </div>

      <div class="text-sm items-center mt-2">
        <b>Description :</b>
        {{product.attributes.description|titlecase}}
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-sm">
            Posted {{this.dataService.timeSince(product.attributes.createdAt)}}
            <!-- Posted asf -->
          </div>
          <!-- <div *ngIf="job.applied">Viewed</div> -->
        </div>
        <div class="text-right">
          <ion-button
            [routerLink]="['/oldex-details/'+product.id]"
            routerLinkActive="router-link-active"
            color="dark"
            fill="clear"
            class="flex-1 mt-2 bg-white text-sm"
          >
            <b>View Details</b>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
