<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div>
    <img src="assets/rushgocab/loginbg.png" alt="">
  </div>

  <!-- <div>
    <img src="assets/img/loginimg.jpg" alt="">
  </div> -->

  <div class="p-4 pt-4">

    <div class="pl-4">
    <ion-label class="allheading">Riding with RushGo Cab</ion-label>

    </div>

   <div class="p-2">
    <div class="label-float">
      <input type="text" placeholder=" "/>
      <label>Phone Number</label>
    </div>

    <button class="btn-grad mt-4" routerLink="/verify">
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Next</span>
      <span style="float:right;font-size: 0.9rem;"> <ion-icon name="arrow-forward-outline"></ion-icon></span>
    </button>
   </div>

   <div class="container">
    <div class="card"></div>
  </div>

  </div>
</ion-content>
