<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Effo Shopping</div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides #slider loop="true" [options]="slideOpts">

    <ion-slide *ngFor="let slide of slides">
      <ion-card style="border-radius: 5px">
        <img src="{{slide.url}}" />
      </ion-card>
    </ion-slide>

  </ion-slides>


  <div class="px-4 ">
  <div class="flex items-center bg-white rounded-md shadow-md">
    <ion-input 
    (ngModelChange)="getVendorsByQuery($event)"
    [(ngModel)]="searchQuery"
      class="flex-1"
      placeholder="Search Restaurant"
      id="search"
    >
      <ion-icon name="search" style="margin-left: 7px"></ion-icon>
    </ion-input>

    <ion-icon
    *ngIf="searchQuery"
    (click)="clear()"

      name="close"
      class="px-4"
      style="margin-left: 7px"
    ></ion-icon>
  </div>
</div>
  <div>




    <div class="p-4">

      <div class="bg-white p-4 mt-2 rounded-md " style="width: 100%" *ngFor="let shoppingProfile of vendors">
        <div class="flex">
          <div *ngIf="shoppingProfile.attributes.logo"
            class="flex w-10 h-10 bg-red-100 rounded-full bg-contain bg-no-repeat bg-center"
            style="background-image: url({{shoppingProfile.attributes.bannerImage}});"></div>


          <div *ngIf="!shoppingProfile.attributes.logo"
            class="flex w-10 h-10 bg-gray-200 rounded-full bg-contain bg-no-repeat bg-center items-center justify-center  ">

            <ion-icon class="text-xl text-black" name="apps"></ion-icon>
          </div>

          <div class="px-4 flex-1">
            <div class="flex ">
              <div class="font-bold flex-1">{{shoppingProfile.attributes.companyName|titlecase}}</div>
              <div class="bg-yellow-500 text-white text-xs flex items-center rounded-md p-1 ">
                4.5 <ion-icon name="star"></ion-icon>
              </div>
            </div>
            <div class="text-gray-700 flex items-center">
              <!-- <ion-icon name="location" class="text-red-600 text-sm"></ion-icon>
              &nbsp; -->
              <div>{{shoppingProfile.attributes.companyAddress |titlecase}}</div>
            </div>

            <div class="flex  justify-around">
              <!-- <ion-button
            [routerLink]="['/vendor-details/'+vendor.id]"
            color="tertiary"
            class="flex-1 mt-2 bg-white text-sm"
          >
            <b> Details</b>
          </ion-button> -->
              <!-- (click)="this.dataService.contact( 'call','91'+vendor.attributes.vendor.data.attributes.phone)" -->

              <!-- <ion-button (click)="this.dataService.contact( 'call','91'+vendor.attributes.vendor.data.attributes.phone)"
            color="success"
            class="flex-1 mt-2 bg-white text-sm"
          >
            <b>Call </b>
          </ion-button> -->
            </div>
          </div>

        </div>
        <div class="text-right">
   
          <ion-button shape="round"   fill="outline" class="flex-1 mt-2 text-sm" [routerLink]="['/restaurant-menu/'+shoppingProfile.attributes.vendor.data.id]" routerLinkActive="router-link-active" >
            <b>Order Now </b><ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

  </div>
  <!-- <div>
    <ion-button fill="clear" color="dark" class="flex-1 mt-2 bg-white text-sm">
      <b>Call now</b>
    </ion-button>
    <ion-button fill="clear" color="dark" class="flex-1 mt-2 bg-white text-sm">
      <b>Shop Now</b>
    </ion-button>
  </div> -->

  <!-- <div class="px-4 pt-2 pb-1">
    <ion-label><b>Shopping Categories</b></ion-label>
  </div>
  <div style="background-color: white; margin-bottom: 7px">
    <div style="background-color: white; border-radius: 5px; margin-top: 3%">
      <ion-grid fixed>
        <ion-row class="small_text">
          <ion-col (click)="categorySelected(category.id, category.attributes.name)"
            *ngFor="let category  of categories?.slice(0,sliceValue)" size="3" align="center"
            class="flex justify-center flex-col">
            <div class="m-auto primary-red p-3 text-white rounded-md flex items-center justify-center">
              <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
              </svg>
            </div>
            <div class="truncate mt-2 text-xs">
              {{category.attributes.name}}
            </div>
          </ion-col>

          <ion-col size="3" align="center" class="flex justify-center flex-col" (click)="sliceValue=100"
            *ngIf="sliceValue==3">
            <div class="m-auto primary-red p-3 text-white rounded-md flex items-center justify-center">
              <ion-icon name="chevron-down-outline" class="text-xl shake-bottom"></ion-icon>
            </div>
            <div class="truncate mt-2 text-xs">Show More</div>
          </ion-col>

          <ion-col size="3" align="center" class="flex justify-center flex-col" (click)="sliceValue=3"
            *ngIf="sliceValue==100">
            <div class="m-auto primary-red p-3 text-white rounded-md flex items-center justify-center">
              <ion-icon name="chevron-up-outline" class="text-xl shake-top"></ion-icon>
            </div>
            <div class="truncate mt-2 text-xs">Show Less</div>
          </ion-col>
        </ion-row>
       
      </ion-grid>
    </div>
  </div> -->

  <div *ngIf="this.notFound" class="text-center font-bold ">
    No Vendor Found
  </div>

</ion-content>
