<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="flex justify-between pr-4 items-center">
      <div class="px-4 text-white text-lg">Privacy Policy</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-4 pt-2 pb-1">
    <ion-label><b>Privacy Policy</b></ion-label>
  </div>

  <div class="bg-white">
    <p align="justify" class="p-3 text-sm">This Privacy Policy describes Our policies and procedures on the collection,
      use and
      disclosure of
      Your
      information when You use the Service and tells You about Your privacy rights and how the law protects You.

      We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection
      and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help
      of the Privacy Policy Template.</p>
  </div>

  <div class="px-4 pt-2 pb-1">
    <ion-label><b>Interpretation</b></ion-label>
  </div>

  <div class="bg-white">
    <p align="justify" class="p-3 text-sm">The words of which the initial letter is capitalized have meanings defined
      under the
      following conditions. The following definitions shall have the same meaning regardless of whether they appear in
      singular or in plural.</p>
  </div>

  <div class="px-4 pt-2 pb-1">
    <ion-label><b>Definitions</b></ion-label>
  </div>

  <div class="bg-white">
    <p class="p-3 text-sm">For the purposes of this Privacy Policy:</p>
    <p align="justify" class="pl-3 pr-3 text-sm"><b>Account</b> means a unique account created for You to access our
      Service or parts of
      our
      Service.</p>
    <p align="justify" class="pl-3 pr-3 text-sm"><b>Affiliate</b> means an entity that controls, is controlled by or is
      under common
      control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other
      securities entitled to vote for election of directors or other managing authority.</p>
  </div>

</ion-content>
