<ion-header>
  <ion-toolbar>
    <ion-row style="padding-left: 2px; padding-right: 2px;">
      <ion-col size="2">
        <div routerLink="/newsdashboard">&nbsp;&nbsp;
          <!-- <ion-menu-button> -->
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:40%; height:40%;" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd" />
          </svg>
          <!-- </ion-menu-button> -->
        </div>
      </ion-col>

      <ion-col size="8">
        <div align="center">
          <ion-label style="color: #fff; font-size: large;"><b>News</b></ion-label>
        </div>
      </ion-col>
      <ion-col size="2">
        <div style="margin-left: 10%;">&nbsp;&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:45%; height:45%; " fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <img style="border-top-right-radius: 10px ; border-top-left-radius: 10px;" src="assets/n2.jpg" alt="">

    <div style="margin: 1ch; border-bottom: 1px solid rgb(192, 192, 192); margin: 0.9ch;">
      <ion-row>
        <ion-col size="11">
          <ion-label class="label-text">The Times Of India</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-label style=" color:black; font-size: 1.2em; font-weight: bold;">
        Us Vice President Kamala Harris' Husband Evacuated In Bomb Threat
      </ion-label>

      <ion-row>
        <ion-col size="12">
          <ion-icon style="color: red;" name="heart-circle"></ion-icon>
          <span>
            1 &nbsp; 73 views
          </span>
        </ion-col>
        <ion-col size="12">
          <ion-icon style="color: rgb(143, 143, 143);" name="thumbs-up-outline"></ion-icon>&nbsp;
          <ion-icon style="color: rgb(143, 143, 143);" name="chatbubble-outline"></ion-icon>&nbsp;
          <ion-icon style="color: rgb(143, 143, 143);" name="arrow-redo-outline"></ion-icon>&nbsp;
        </ion-col>
      </ion-row>
    </div>


    <div>
      <ion-grid fixed>
        <ion-label style="color: black; font-weight: bold;">Other Stories</ion-label>
        <ion-row>
          <ion-col size="8">
            <ion-label style=" color:black; font-size: 1.0em; ">
              Us Vice President Kamala Harris' Husband Evacuated In Bomb Threat
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <img style="border-radius: 10px;" src="assets/n2.jpg" alt="">
          </ion-col>
        </ion-row>

        <ion-row style="border-top: 1px solid rgb(192, 192, 192); margin: 0.9ch;">
          <ion-col size="10">
            <ion-label class="label-text">NDTV</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="document-text-outline"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid fixed>
        <ion-row>
          <ion-col size="8">
            <ion-label style=" color:black; font-size: 1.0em; ">
              Netflix announces new thriller series with Hansal Mehta
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <img style="border-radius: 10px;" src="assets/n3.jpg" alt="">
          </ion-col>
        </ion-row>

        <ion-row style="border-top: 1px solid rgb(192, 192, 192); margin: 0.9ch;">
          <ion-col size="10">
            <ion-label class="label-text">Live Mint</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="document-text-outline"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="8">
            <ion-label style=" color:black; font-size: 1.0em; ">
              Seven Elgar accused's phones to be given to Sc Pegasus panel
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <img style="border-radius: 10px;" src="assets/n4.jpg" alt="">
          </ion-col>
        </ion-row>

        <ion-row style="border-top: 1px solid rgb(192, 192, 192); margin: 0.9ch;">
          <ion-col size="10">
            <ion-label class="label-text">The Times Of India</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="document-text-outline"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid fixed>
        <ion-row>
          <ion-col size="8">
            <ion-label style=" color:black; font-size: 1.0em; ">
              Angry Dutch Locals Plan To Throw Eggs At Jeff Bezos' Superyacht
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <img style="border-radius: 10px;" src="assets/n5.jpg" alt="">
          </ion-col>
        </ion-row>

        <ion-row style="border-top: 1px solid rgb(192, 192, 192); margin: 0.9ch;">
          <ion-col size="10">
            <ion-label class="label-text">NDTV</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="document-text-outline"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>




  </div>
</ion-content>
