<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Effo Cab </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-icon name="pin-outline"></ion-icon> -->
      <div (click)="history()">My Rides</div>
      <!-- {{this.cabService.selectedCity|titlecase}} &nbsp; -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  <div class="fixed w-full p-4">
    <div class="bg-white rounded-bl-xl rounded-br-xl">
      <div class="py-2 flex justify-around">
        <div
          (click)="changeType('local')"
          class="rounded-md p-2"
          [ngClass]="{'bg-red-500 text-white': this.cabService.type=='local'}"
        >
          <img
            src="assets/location1.png"
            alt="cab"
            class="border-solid rounded-full p-2 border-2 border-red-300 h-10 bg-white"
          />
          <p class="text-xs text-center">Local</p>
        </div>

        <div
          (click)="changeType('rental')"
          class="rounded-md p-2"
          [ngClass]="{'bg-red-500 text-white': this.cabService.type=='rental'}"
        >
          <img
            src="assets/clock.png"
            alt="cab"
            class="border-solid rounded-full p-2 border-2 border-red-300 h-10 bg-white"
          />
          <p class="text-xs text-center">Rental</p>
        </div>
        <div
          (click)="changeType('outstation')"
          class="rounded-md p-2"
          [ngClass]="{'bg-red-500 text-white': this.cabService.type=='outstation'}"
        >
          <img
            src="assets/location1.png"
            alt="cab"
            class="m-auto border-solid rounded-full p-2 border-2 border-red-300 h-10 bg-white"
          />
          <p class="text-xs">Outstation</p>
        </div>
        <div
          (click)="changeType('transport')"
          class="rounded-md p-2"
          [ngClass]="{'bg-red-500 text-white': this.cabService.type=='transport'}"
        >
          <img
            src="assets/location1.png"
            alt="cab"
            c
            class="m-auto border-solid rounded-full p-2 border-2 border-red-300 h-10 bg-white"
          />
          <p class="text-xs">Transport</p>
        </div>
      </div>
    </div>
    <div class="w-full mt-2 flex bg-white py-2 rounded-full overflow-hidden">
      <img src="assets/fromPin.png" alt="" class="h-4" />

      <input
        [(ngModel)]="cabService.from"
        #pickSearch
        type="text"
        class="ml-2 flex-1 w-full bg-white"
        placeholder="Enter You Pick Location"
      />

      <div class="px-2 flex items-center">
        <ion-icon
          *ngIf="cabService.from"
          (click)="clear()"
          name="close-outline"
        ></ion-icon>
      </div>
    </div>

    <div class="w-full mt-2 flex bg-white py-2 rounded-full">
      <img src="assets/toPin.png" alt="" class="h-4" />

      <input
        [(ngModel)]="cabService.to"
        #search
        type="text"
        class="ml-2 flex-1 w-full bg-white"
        placeholder="Enter You Drop Location"
      />
      <div class="px-2 flex items-center">
        <ion-icon
          *ngIf="cabService.to"
          (click)="cabService.to=''"
          name="close-outline"
        ></ion-icon>
      </div>
    </div>
  </div>

  <div
    class="fixed"
    style="top: 50%; left: 50%; margin-top: -10px; margin-left: -10px"
  >
    <img
      class="w-10 {{animatedClass}}"
      src="assets/cab/{{pinImage}}.png"
      alt=""
    />
  </div>
  <!-- #map id="map_canvas" -->
  <div #map id="map_canvas" style="height: 100%; z-index: -1">
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24355.831177779874!2d77.77232888139483!3d20.928199419647743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1698226154728!5m2!1sen!2sin"
      width="600"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="flex flex-col items-end"
  >
    <ion-fab-button size="small" color="primary">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
    <ion-button color="primary" (click)="book()" shape="round"
      >Book Now <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
