<ion-header>
  <ion-toolbar>
    <div slot="start">
      <ion-menu-button class="text-white"> </ion-menu-button>
    </div>
    <div class="px-4 text-white text-lg">RushGo Cab</div>
    <div
      class="text-white pr-2 flex items-center"
      routerLink="/location"
      slot="end"
    >
      {{this.cabService.selectedCityObj?.attributes.name|titlecase}} &nbsp;
      <ion-icon name="location"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  <div class="h-full flex flex-col">
    <!-- {{dynamicClass}} -->
    <div
      class="transition-all overflow-hidden {{dynamicClass}}"
      #top
      style="height: {{dynamicHeight}}"
    >
      <!-- style="height: {{dynamicHeight}}" -->
      <div class="bg-white">
        <ion-slides #slider loop="true" [options]="slideOptss">
          <ion-slide>
            <div class="pl-2 pt-2 pr-2">
              <div align="center">
                <img class="rounded-md" src="assets/cab/cab1.png" />
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="pl-2 pt-2 pr-2">
              <div align="center">
                <img class="rounded-md" src="assets/cab/cab2.png" />
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div
      class="bg-white rounded-bl-md rounded-br-md"
      style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px"
    >
      <ion-slides
        class="slide-center"
        #slider
        loop="true"
        [options]="slideOpts"
      >
        <ion-slide
          *ngFor="let feature of  this.cabService.features;let i=index"
        >
          <div class="p-2">
            <div
              (click)="featureChange(i)"
              align="center"
              class="border rounded-lg border-yellow-500 p-2"
              [ngClass]="{'border-2 shadow-lg': this.cabService.featureSelected==feature.attributes.name}"
            >
              <div
                class="rounded-full w-1/2 m-auto"
                [ngClass]="{'bg-black text-white': this.cabService.featureSelected==feature.attributes.name}"
              >
                <img src="{{feature.attributes.image}}" />
              </div>
              <ion-label class="font-medium text-base"
                >{{feature.attributes.name|titlecase}}</ion-label
              >
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="p-2">
      <div
        class="w-full mt-2 flex bg-white border border-white hover:border-yellow-500 py-2 rounded-lg drop-shadow-md shadow-md"
      >
        <img src="assets/cab/fromPin.png" alt="" class="h-6" />

        <input
          (focus)="this.dynamicClass = 'zero-height'"
          (blur)="this.dynamicClass = ''"
          [(ngModel)]="cabService.from"
          #pickSearch
          type="text"
          class="ml-2 flex-1 w-full bg-white"
          placeholder="Enter You Pick Location"
        />

        <div class="px-2 flex items-center">
          <ion-icon
            *ngIf="cabService.from"
            (click)="clear()"
            name="close-outline"
          ></ion-icon>
        </div>

        <!-- <img src="assets/cab/fromPin.png" alt="" class="h-6"> -->
      </div>

      <div
        class="w-full mt-2 flex bg-white border border-white hover:border-yellow-500 py-2 rounded-lg drop-shadow-md shadow-md"
      >
        <img src="assets/cab/toPin.png" alt="" class="h-6" />

        <input
          (focus)="this.dynamicClass = 'zero-height'"
          (blur)="this.dynamicClass = ''"
          [(ngModel)]="cabService.to"
          #search
          type="text"
          class="ml-2 flex-1 w-full bg-white"
          placeholder="Enter You Drop Location"
        />
        <div class="px-2 flex items-center">
          <ion-icon
            *ngIf="cabService.to"
            (click)="cabService.to=''"
            name="close-outline"
          ></ion-icon>
        </div>
      </div>
    </div>
    <div
      class="fixed"
      style="
        top: 70%;
        left: 50%;
        margin-top: -20px;
        margin-left: -10px;
        z-index: 1;
      "
    >
      <img class="animate-bounce" src="assets/cab/{{pinImage}}.png" alt="" />
    </div>

    <div class="flex-1" #map id="map_canvas"></div>

    <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed"
      class="flex flex-col items-end"
    >
      <ion-fab-button size="small" color="warning">
        <ion-icon class="text-white" name="locate"></ion-icon>
      </ion-fab-button>
      <ion-button
        color="warning"
        class="text-white"
        (click)="book()"
        shape="round"
        ><span class="text-white">Book Now</span>
        <ion-icon class="text-white" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-fab></div
></ion-content>
