<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Hotel Name</ion-title>
    <ion-icon slot="end" class="pr-1 text-2xl" name="heart-circle-outline"></ion-icon>
    <ion-icon slot="end" class="pr-2 text-2xl" name="arrow-redo-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/Lodging/d1.jpg" alt="">
  </div>

  <div class="bg-white ">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <ion-button size="small" fill="clear" color="tertiary" class="bg-blue-100 rounded-sm w-full"
            style="border: solid 1px rgb(85, 82, 255); font-size: 10px;">
            Room
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="small" fill="clear" color="tertiary" class="bg-blue-100 rounded-sm w-full"
            style="border: solid 1px rgb(85, 82, 255); font-size: 10px;">
            Stay
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="small" fill="clear" color="tertiary" class="bg-blue-100 rounded-sm w-full"
            style="border: solid 1px rgb(85, 82, 255); font-size: 10px;">
            Reception
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="small" fill="clear" color="tertiary" class="bg-blue-100 rounded-sm w-full"
            style="border: solid 1px rgb(85, 82, 255); font-size: 10px;">
            + 15 images
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="pl-2 pt-2 pb-2">
      <ion-label class=" text-black"><b>Capital Hotel Silver Royal</b></ion-label>
      <p class="text-xs" style="color: gray;">Near Medanta the medicity, sector 38, Amravati</p>
      <div class="flex justify-between pr-3" style="margin-top: -4%;">
        <div>
          <ion-button size="small" color="success">
            4.1 <ion-icon class="text-xs" name="star"></ion-icon>
          </ion-button>
        </div>
        <div>
          <ion-icon class="text-gray-500 text-2xl" name="location-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-2">
    <p class="ml-2">Description</p>
  </div>


  <div class="bg-white">
    <p class="text-xs p-2" style="color: gray; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      ipsa
      laborum illo debitis, nostrum reiciendis
      mollitia amet, quam rem voluptates quia, laudantium rerum. Dicta deleniti dolorem, est at accusamus vel.</p>
  </div>

  <div class="mt-2">
    <p class="ml-2">Amenities</p>
  </div>


  <div class="bg-white">
    <div class="flex justify-between p-2">
      <div class="text-sm">
        <ion-icon name="battery-dead-outline"></ion-icon>&nbsp; AC
      </div>
      <div class="text-sm">
        <ion-icon name="desktop-outline"></ion-icon>&nbsp; TV
      </div>
      <div class="text-sm">
        <ion-icon name="wifi-outline"></ion-icon>&nbsp; Free Wifi
      </div>
      <div class="text-sm">
        <ion-icon name="fast-food-outline"></ion-icon>&nbsp; Kitchen
      </div>
    </div>
  </div>

  <div class="mt-2">
    <p class="ml-2">Rules & Policies</p>
  </div>


  <div class="bg-white mb-3">
    <div class="flex justify-start p-2">
      <div>
        <ion-label>Check-in after</ion-label><br>
        <p class="text-xs" style="color: gray;">12:00 PM</p>
      </div>

      <div>
        <ion-label>Check-out after</ion-label><br>
        <p class="text-xs" style="color: gray;">11:00 AM</p>
      </div>
    </div>

    <div class="flex justify-start p-2">
      <div>
        <ion-label>Cancellation Policy</ion-label><br>
        <p class="text-xs" style="color: gray;">Until Tue, May 17.9 AM&nbsp; <span class="text-green-600">100%
            Refund</span></p>
        <p class="text-xs" style="color: gray;">After Tue, May 17.9 AM&nbsp; <span class="text-yellow-600">100%
            No Refund</span></p>
      </div>
    </div>

  </div>
</ion-content>

<div class="flex justify-between p-2">
  <div>
    <ion-label>₹ 899</ion-label><br>
    <p class="text-xs" style="color: gray;">Total Amount</p>
  </div>
  <div>
    <ion-button expand="block" color="success">
      <span class="text-white"> Book Now</span><br>&nbsp;
      <span class="text-xs p-2" style="color: rgb(255, 255, 255);">
        & pay at hotel
      </span>
    </ion-button>
  </div>
</div>

<!-- <ion-footer>
  <ion-toolbar color="light">
    <div class="flex justify-between">
      <div>
        <ion-label>₹ 899</ion-label><br>
        <p class="text-xs" style="color: gray;">Total Amount</p>
      </div>
      <div>
        <ion-button expand="block" color="success">
          Book Now<br>& pay at hotel
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->
