<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">What are you offering?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pt-0">
    <ion-grid fixed>
      <ion-row align="center">
        <ion-col size="4" routerLink="/productinfo">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/smartphone.png" class="rounded-md" alt="">
            <ion-label>Mobiles</ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/seater-sofa.png" class="rounded-md" alt="">
            <ion-label>Furniture</ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/motorcycle.png" class="rounded-md" alt="">
            <ion-label>Bike </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/dress.png" class="rounded-md" alt="">
            <ion-label>Fashion </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/guide-dog.png" class="rounded-md" alt="">
            <ion-label>Pets </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="border-2 border-gray-400 bg-white p-2 rounded-md shadow-md">
            <img width="50%" height="50%" src="assets/Oldex/more.png" class="rounded-md" alt="">
            <ion-label>More </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
