<ion-header>
  <ion-toolbar>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div class="">
      <p class="pl-2 pt-2"><span class="border-b-2 border-black text-yellow-500 mt-3 font-bold">Pickup Location</span></p>
      <div
        class=" w-full p-1 mt-3 mt-3 flex bg-white border border-white hover:border-yellow-500 py-2 ">
        <p>Rathi Nagar, Gadge Nagar, Amravati , Maharashtra, Amravati, India.</p>
      </div>
    </div>

    <div class="">
      <p class="pl-2 pt-2"><span class="border-b-2 border-black text-yellow-500 mt-3 font-bold">Drop Location</span></p>
      <div
        class="w-full p-1 mt-3 mt-3 flex bg-white border border-white hover:border-yellow-500 py-2 ">
        <p>Dastur Nagar, Amravati , Maharashtra, Amravati, India.</p>
      </div>
    </div>


    <div class="bg-white p-45 mt-2">
      <div class="flex mb-2 p-3">
        <img src="assets/cab/car.png" class="w-14" alt="" />
        <div class="flex-1 pl-4 text-lg">
          <div class="flex items-center">
            Saden &nbsp;

            <ion-icon class="text-green-700 text-xl" name="checkmark-circle"></ion-icon>
          </div>
          <div class="text-sm text-gray-800">
            *minimum price is ₹ 300
          </div>
        </div>
        <div class="font-bold">
          <div>₹10/km</div>
          <div class="text-right"></div>
        </div>
      </div>
    </div>


    <div>
      <div class="bg-white p-3 flex mt-2">
        <div class="flex-1">
          <div class="font-bold">Distance in km</div>
          <div class="text-gray-800 text-sm">
            <!-- Approximate distance  -->
          </div>
        </div>

        <div class="pl-4 font-bold">35.029 km</div>
      </div>
      <div class="bg-white p-3 flex">
        <div class="flex-1">
          <div class="font-bold">Base Fare</div>
          <div class="text-gray-800 text-sm">
            Description about how fare is calculated
          </div>
        </div>

        <div class="pl-4 font-bold">₹ 350.29</div>
      </div>
      <div class="bg-white p-3 flex">
        <div class="flex-1">
          <div class="font-bold">Taxes & Fees</div>
          <div class="text-gray-800 text-sm">18% GST & Toll Tax Applicable</div>
        </div>

        <div class="pl-4 font-bold">₹ 83.052 </div>
      </div>
      <div class="bg-white p-3 flex">
        <div class="flex-1">
          <div class="font-bold">Estimated Total Fare</div>
          <div class="text-red-800 text-sm">*Actual fare may vary</div>
        </div>

        <div class="pl-4 font-bold">₹ 413.342</div>
      </div>

      <div class="bg-white mt-2 p-3">
        <div class=" ">Terms & Conditions</div>

        <div class="text-sm">
          <br />
          <div>
            1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae
            temporibus exercitationem quidem minus doloribus,
          </div>
          <br />
          <div>2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<div class="p-3">
  <button class="btn-grad" routerLink="/cab-history">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Confirm Booking</span>
    <span style="float:right;font-size: 0.9rem;"> <ion-icon class="text-white" name="arrow-forward"></ion-icon></span>
  </button>
</div>