<ion-header>
  <ion-toolbar>


    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Automobile Services </ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-list>

      <ion-item>
        <ion-grid>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/d1.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Bike Repair </p>



            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/d2.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Car Services</p>


            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="mb-2 ">
            <ion-col size="3">
              <img class="img_class" src="assets/services/d3.jpg" />
            </ion-col>
            <ion-col size="8" class="border-b mt-3">

              <p class="font-bold">Auto Repair</p>



            </ion-col>
            <ion-col size="1" class="border-b mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </ion-col>


          </ion-row>


        </ion-grid>

      </ion-item>

    </ion-list>

  </div>


</ion-content>
