<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Choose a ride</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="p-2">
  <ion-title color="dark">Choose a ride</ion-title>
</div>
<ion-content>

  <div class="pt-2">
    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        <ion-icon class="text-green-600 text-sm" name="pricetag"></ion-icon> ₹ 266.90
      </div>
    </div>

    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        <ion-icon class="text-green-600 text-sm" name="pricetag"></ion-icon> ₹ 266.90
      </div>
    </div>


    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        ₹ 266.90
      </div>
    </div>

    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        ₹ 266.90
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="z-index:1" routerLink="/confirmpickup">
  <ion-toolbar>
    <ion-title align="center">Choose</ion-title>
  </ion-toolbar>
</ion-footer>
