<div class="p-2 border-b-2 border-gray-200" align="center">
  <ion-title color="dark" class="text-sm ">Your ride is confirmed.</ion-title>
</div>
<ion-content>
  <div class="flex justify-between p-2">
    <div>
      <p class="text-black">MH27X9934<br><span class="text-gray-500 text-xs">White Vista</span>
      </p>
    </div>
    <div>
      <img src="assets/cabservices/cabservice1.png" alt="">
    </div>
  </div>

  <div class="flex justify-between p-2">
    <div align="center" class="p-2 bg-white rounded-sm shadow-md w-full">
      <ion-icon name="call-outline"></ion-icon> Contact
    </div>&nbsp;

    <div align="center" class="p-2 bg-white rounded-sm shadow-md w-full">
      <ion-icon name="arrow-redo-outline"></ion-icon> Share
    </div>
  </div>


  <div class="p-2">
    <ion-button expand="block" color="primary">
      <ion-icon name="close"></ion-icon> Cancel
    </ion-button>

    <ion-button expand="block" fill="outline" color="dark">
      Don't Cancel
    </ion-button>
  </div>
  <!-- <div class="pt-2">
    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        <ion-icon class="text-green-600 text-sm" name="pricetag"></ion-icon> ₹ 266.90
      </div>
    </div>

    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        <ion-icon class="text-green-600 text-sm" name="pricetag"></ion-icon> ₹ 266.90
      </div>
    </div>


    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        ₹ 266.90
      </div>
    </div>

    <div class="flex justify-between p-2 border-b-2 border-gray-100 hover:bg-white">
      <div class="">
        <img class="bg-gray-100 rounded-md shadow-md p-1" src="assets/cabservices/cabservice1.png" alt="">
      </div>
      <div>Go Sedan<br>
        <p class="text-xs">affordable rides in a sedan</p>
      </div>
      <div>
        ₹ 266.90
      </div>
    </div>
  </div> -->
</ion-content>

<!-- <ion-footer class="z-index:1" routerLink="/confirmpickup">
  <ion-toolbar>
    <ion-title align="center">Choose</ion-title>
  </ion-toolbar>
</ion-footer> -->
