<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Pay Electricity Bill</div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<div class="p-2">
 
  <div class="p-1">
    <div class="bg-white rounded-lg shadow-md p-1">
      <div class="flex items-center">
        <ion-input class="flex-1" placeholder="Search by state or electricity board" id="search">
          <ion-icon name="search" style="margin-left: 7px"></ion-icon>
        </ion-input>
        <ion-icon name="close" class="px-4" style="margin-left: 7px"></ion-icon>
      </div>
    </div>
  </div>

 <div class="p-2">
  <div class="rounded-lg bg-white shadow-sm p-3 mt-2">
    <div  class="pt-3 pl-1">
      <ion-label><b>Recharge & Pay Bills</b></ion-label>
    </div>

    <ion-grid >
      <ion-row class="mt-1 ">
        <ion-col size="12" routerLink="/utility-electricity-bill">
          <div class="p-2 border-b border-dashed border-gray-300 p-2">
           <ion-row>
            <ion-col size="1.5">
              <img class="rounded-full" src="assets/elogo1.jpg" alt="">
            </ion-col>
            <ion-col size="9.5" class="pl-4">
              <p class="text-black font-bold text-xs mt-1">Adani Electricity Mumbai Limited</p>
            </ion-col>
            <ion-col size="1" class="flex items-center">
              <ion-icon class="text-md text-black" name="chevron-forward"></ion-icon>
            </ion-col>
           </ion-row>
          </div>
        </ion-col>
  
        <ion-col size="12" routerLink="/utility-electricity-bill">
          <div class="p-2 border-b border-dashed border-gray-300 p-2">
            <ion-row>
              <ion-col size="1.5">
                <img class="rounded-full" src="assets/elogo2.png" alt="">
              </ion-col>
              <ion-col size="9.5" class="pl-4">
                <p class="text-black font-bold text-xs mt-1">BEST Mumbai</p>
              </ion-col>
              <ion-col size="1" class="flex items-center">
                <ion-icon class="text-md text-black" name="chevron-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
  
        <ion-col size="12" routerLink="/utility-electricity-bill">
          <div class="p-2 border-b border-dashed border-gray-300 p-2">
           <ion-row>
            <ion-col size="1.5">
              <img class="rounded-full" src="assets/elogo3.png" alt="">
            </ion-col>
            <ion-col size="9.5" class="pl-4">
              <p class="text-black font-bold text-xs mt-1">MSEDC Mahavitaran</p>
            </ion-col>
            <ion-col size="1" class="flex items-center">
              <ion-icon class="text-md text-black" name="chevron-forward"></ion-icon>
            </ion-col>
           </ion-row>
          </div>
        </ion-col>
  
        <ion-col size="12" routerLink="/utility-electricity-bill">
          <div class="p-2 border-b border-dashed border-gray-300 p-2">
           <ion-row>
            <ion-col size="1.5">
              <img class="rounded-full" src="assets/elogo4.jpg" alt="">
            </ion-col>
            <ion-col size="9.5" class="pl-4">
              <p class="text-black font-bold text-xs mt-1">Tata Power - Mumbai</p>
            </ion-col>
            <ion-col size="1" class="flex items-center">
              <ion-icon class="text-md text-black" name="chevron-forward"></ion-icon>
            </ion-col>
           </ion-row>
          </div>
        </ion-col>
  
        <ion-col size="12" routerLink="/utility-electricity-bill">
          <div class="p-2 border-b border-dashed border-gray-300 p-2">
           <ion-row>
            <ion-col size="1.5">
              <img class="rounded-full" src="assets/elogo5.png" alt="">
            </ion-col>
            <ion-col size="9.5" class="pl-4">
              <p class="text-black font-bold text-xs mt-1">Torrent Power</p>
            </ion-col>
            <ion-col size="1" class="flex items-center">
              <ion-icon class="text-md text-black" name="chevron-forward"></ion-icon>
            </ion-col>
           </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 </div>
</div>
</ion-content>
