<ion-content>
  <div>
    <img src="assets/services/p11.jpg" />
    <div style="z-index:1000; position:absolute; margin-top:-44%; margin-left: 5px; " routerLink="/homeservices">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white " fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </div>
  </div>

  <div class="p-3">
    <p class="font-bold">Pest Control Service</p>
    <p class="text-sm text-gray-600 text-justify"> There are many pest control methods available to choose from, but
      they can be loosely grouped into categories: Hygienic, Biological, Chemical, Physical, treatment.</p>
    <p class="text-sm text-black border-dotted border-b-2 border-gray-500 p-1 pt-1"><span class="rup"></span>1,500
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>
    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon>Thorough 2 visit treatment for long lasting relief
      from pests.
    </p>
    <p class=" text-sm text-gray-800 text-justify pt-1 border-dotted border-b-2 border-gray-500  pb-2">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon>Removal & placing back of utensils to be done by
      customer.
    </p>


    <p class="font-bold text-md pt-2">Utensils Removal Service</p>
    <p class="text-sm text-gray-600 text-justify"> Partner will remove the utensils before starting the service</p>
    <p class="text-sm text-black   border-dotted border-b-2 border-gray-500 p-1 pb-2"><span class="rup"></span>550
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>

    <p class="font-bold text-md pt-2">Offices & Shops Pest Control</p>
    <p class="text-sm text-gray-600 text-justify"> Unique 2 visit treatment to target visible & hidden pests</p>
    <p class="text-sm text-black   border-dotted border-b-2 border-gray-500 p-1 pb-2"><span class="rup"></span>670
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 font-semibold">
      <div class="text-white pt-2 text-sm">
        Total <span class="rup"></span> 2,720
      </div>
      <div>
        <ion-button color="light font-semibold" routerLink="/cart" class="px-1 py-1">
          Add To Cart
        </ion-button>
      </div>


    </div>
  </ion-toolbar>

</ion-footer>
