<ion-header>
  <ion-toolbar>
    <ion-row style="padding-left: 2px; padding-right: 2px;">
      <ion-col size="2">
        <div routerLink="/jobdashboard">&nbsp;&nbsp;
          <!-- <ion-menu-button> -->
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:40%; height:40%;" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd" />
          </svg>
          <!-- </ion-menu-button> -->
        </div>
      </ion-col>

      <ion-col size="8">
        <div align="center">
          <ion-label style="color: #fff; font-size: large;"><b>Software / Web Developer</b></ion-label>
        </div>
      </ion-col>

      <ion-col size="2">
        <div style="margin-left: 10%;">&nbsp;&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:45%; height:45%; " fill="none"
            viewBox="0 0 24 24" stroke="currentColor" routerLink="/notification">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
  <div style="background-color: #fff; padding: 3px;">
    <ion-row align="left" class="pl-2">
      <ion-col size="12">
        <ion-label><b>Web Developer</b></ion-label>
        <p>SelfTech Solutions Pvt.Ltd.</p>
        <p>
          ₹ 50,000 - ₹ 80,000 &nbsp; <span>
            <button size="small" fill="clear" color="danger"
              style="background-color: red; font-size: small; font-weight: bold; color: #fff; padding: 5px; border-radius: 3px;">
              3 Openings
            </button>
          </span>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-header>


<ion-content>
  <ion-list-header>This Job Requires</ion-list-header>
  <p class="pl-2">
    <ion-chip outline color="primary">
      <ion-label>
        <ion-icon style="font-size: small;" name="checkmark"></ion-icon> &nbsp; HTML
      </ion-label>
    </ion-chip>
    <ion-chip outline color="primary">
      <ion-label>
        <ion-icon style="font-size: small;" name="checkmark"></ion-icon> &nbsp; CSS
      </ion-label>
    </ion-chip>
    <ion-chip outline color="primary">
      <ion-label>
        <ion-icon style="font-size: small;" name="checkmark"></ion-icon> &nbsp; Web Designing
      </ion-label>
    </ion-chip>
    <ion-chip outline color="primary">
      <ion-label>
        <ion-icon style="font-size: small;" name="checkmark"></ion-icon> &nbsp; Computer / Laptop ownership
      </ion-label>
    </ion-chip>
    <!-- <ion-chip color="warning">
      <ion-label>Warning</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-label>Danger</ion-label>
    </ion-chip> -->
  </p>

  <ion-grid fixed>
    <ion-row class="pl-2 pr-2">
      <ion-col size="1">
        <ion-icon name="book-outline"></ion-icon>
      </ion-col>
      <ion-col size="5" align="left">
        <ion-label style="color: black; font-weight: 500;">Minimum Education</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">Graduate
        </p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-col>
      <ion-col size="5" align="left">
        <ion-label style="color: black; font-weight: 500;">English Level</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">
          Fluent
        </p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="star-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" align="left">
        <ion-label style="color: black; font-weight: 500;">Experience</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">
          Fresher Can Apply
        </p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" align="left">
        <ion-label style="color: black; font-weight: 500;">Description</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">Responsibilities of candidates include:<br>
          1. Designing and implementing applications<br>
          2. Developing and testing software<br>
          3. Resolving technical issues that arise<br>
          4. fixing bugs</p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="time-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" align="left">
        <ion-label style="color: black; font-weight: 500;">Timings</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">10:30 AM to 07:30 PM</p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="today-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" align="left">
        <ion-label style="color: black; font-weight: 500;">Working Days</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">Monday - Saturday</p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="location-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" align="left">
        <ion-label style="color: black; font-weight: 500;">Address (Remote Job)</ion-label>
        <p style="font-size: 1.0em; color: rgb(121, 121, 121);">Omkar Nagar, Nagpur, Maharashtra 440027, India Manewada
          Raod, Nagpur</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="pl-5 pr-5">
      <button style="width: 100%; font-size: 0.8em;" class="bg-class" routerLink="/apply">
        Apply
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
