<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" class="text-white">Appliances</ion-title>

    <div slot="end" class="pr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row class="pl-2 pr-2 pt-3 pb-2">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid rgb(211, 211, 211);">
      <ion-input placeholder="Search" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row> -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="3" routerLink="/serviceslisting">
        <img src="assets/services/a_1.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8" routerLink="/serviceslisting">
        <p class="font-bold text-sm">Air Conditioner</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4" routerLink="/serviceslisting">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>

      <ion-col size="3" class="mt-1">
        <img src="assets/services/a_2.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Chimney</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>

      <ion-col size="3">
        <img src="assets/services/a_3.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Geyser</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>

      <ion-col size="3">
        <img src="assets/services/a_4.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Microwave</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>


      <ion-col size="3">
        <img src="assets/services/a_5.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Refrigerator</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>

      <ion-col size="3">
        <img src="assets/services/a_6.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Washing Machine</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>

      <ion-col size="3">
        <img src="assets/services/a_7.jpg" class="rounded-md w-full h-full" />
      </ion-col>
      <ion-col size="8">
        <p class="font-bold text-sm">Water Purifier</p>
        <p style="font-size: 0.7em; margin-top: -1.1em;">Fan motor, evaporator unit, condenser unit, thermostat etc</p>
      </ion-col>
      <ion-col size="1" class="mt-4">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="border-b-2 border-gray-300"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
