<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="1.5">
        <img class="rounded-full" src="assets/uicon3.png" alt="">
      </ion-col>
      <ion-col size="9.5" class="flex items-center">
        <p class="text-black text-sm mt-1">Dish TV | 8668543490</p>
      </ion-col>
    </ion-row>
    <!-- <ion-title>8668543490</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="bg-red-50 p-1 text-xs text-black font-semibold text-center">Keep set top box on while recharging </p>
  <div class="p-5" style="margin-top: 15%;">

    <img class="bounce-top" src="assets/payment.png" alt="">
    <div class="flex justify-center mt-8">
      <div align="center" class="input__container input__container--variant">
        <div class="shadow__input shadow__input--variant"></div>
       <div class="pl-5 pr-5">
        <!-- <p class="text-black text-lg"></p> -->
        <p class="text-black text-lg font-bold">₹100</p>
       </div>
        <!-- <input type="number" name="text" class="input__search input__search--variant pl-3" placeholder=""> -->
      </div>
    </div>
    <div align="center" class="mt-2">
      <p class="text-xs">Please Enter an amount between ₹100 and ₹49000 </p>
    </div>
    <div align="center" class="mt-1">
      <ion-chip color="primary">₹ 200</ion-chip>
      <ion-chip color="primary">₹ 300</ion-chip>
      <ion-chip color="primary">₹ 500</ion-chip>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar align="center" class="bg-red-500 text-white text-lg " routerLink="/dth-pay">
    Proceed To Pay
  </ion-toolbar>
</ion-footer>