<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Property Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <div class="bg-white shadow-md rounded-lg">
      <div>
        <img class="rounded-tl-md rounded-tr-md" src="assets/property/slide1.jpg" />
      </div>

      <div class=" p-2 rounded-md">
        <div class="flex">
          <div class="flex-1 text-black text-left text-base font-bold">
            Owner / Property Name
          </div>

          <div class="text-sm">
            2 days ago
          </div>
        </div>
        <!-- <div class="text-sm text-gray-700">
          Plot No.31 MIDC, Pune Infotech Park, Ph-2 Hinjewadi, Pune – 411 057
        </div> -->
        <span class=" text-black text-sm ">
          1.110 Sqft.
        </span>

        <div class="text-sm flex items-center mt-2">
          <ion-icon name="podium" class="text-blue-500"></ion-icon>
          &nbsp;
          <span> Buy, Rent/Lease, PG/Co-living
          </span>
        </div>

        <div class="text-sm flex items-center">
          <ion-icon name="rocket" class="text-yellow-500"></ion-icon>&nbsp;
          Parking, Security, Balcony
        </div>

        <div class="flex justify-start">
          <div class="pr-2">
            <div class="text-sm flex items-center">
              <ion-icon name="home" class="text-green-600"></ion-icon>&nbsp;
              2 BHK
            </div>
          </div>
          <div>
            <div class="text-sm flex items-center">
              <ion-icon name="cube" class="text-pink-600"></ion-icon>&nbsp;
              1.110 Sqft.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white mt-3">
      <div>
        <img class="rounded-tl-md rounded-tr-md" src="assets/property/img.jpg" />
      </div>

      <div class=" p-2 rounded-md">
        <div class="flex">
          <div class="flex-1 text-black text-left text-base font-bold">
            Owner / Property Name
          </div>

          <div class="text-sm">
            2 days ago
          </div>
        </div>
        <!-- <div class="text-sm text-gray-700">
          Plot No.31 MIDC, Pune Infotech Park, Ph-2 Hinjewadi, Pune – 411 057
        </div> -->
        <span class=" text-black text-sm ">
          1.110 Sqft.
        </span>

        <div class="text-sm flex items-center mt-2">
          <ion-icon name="podium" class="text-blue-500"></ion-icon>
          &nbsp;
          <span> Buy, Rent/Lease, PG/Co-living
          </span>
        </div>

        <div class="text-sm flex items-center">
          <ion-icon name="rocket" class="text-yellow-500"></ion-icon>&nbsp;
          Parking, Security, Balcony
        </div>

        <div class="flex justify-start">
          <div class="pr-2">
            <div class="text-sm flex items-center">
              <ion-icon name="home" class="text-green-600"></ion-icon>&nbsp;
              2 BHK
            </div>
          </div>
          <div>
            <div class="text-sm flex items-center">
              <ion-icon name="cube" class="text-pink-600"></ion-icon>&nbsp;
              1.110 Sqft.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/filterproperty">
    <ion-fab-button color="danger">
      <ion-icon name="funnel"></ion-icon>
      <!-- <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon> -->
    </ion-fab-button>

  </ion-fab>


</ion-content>

<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" class="text-gray-600 hover:text-red-600" routerLink="/propertydash">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="heart" class="text-gray-600 hover:text-red-600" routerLink="/shortlisted">
    <ion-label>Shortlisted</ion-label>
    <ion-icon name="heart"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="business" class="text-gray-600 hover:text-red-600" routerLink="/details">
    <ion-label>My Property</ion-label>
    <ion-icon name="business"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="person" class="text-gray-600 hover:text-red-600">
    <ion-label>Profile</ion-label>
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->

<!-- <ion-footer routerLink="/saleandrent">
  <ion-toolbar>
    <ion-title align="center">Next</ion-title>
  </ion-toolbar>
</ion-footer> -->
