<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>Hatchback</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>Sedan</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>SUV</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">

              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>Hatchback</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>Sedan</p>
          </a>

        </ion-col>
        <ion-col size="4">
          <a class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <img style="z-index: 10000;" src="assets/cab/car.png" alt="" width="120" height="120">
            </div>
            <p>SUV</p>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<div class="p-3">
  <button class="btn-grad" routerLink="/rental">
    <span style="float:left;font-weight: bold;font-size: 0.9rem;">Select</span>
    <span style="float:right;font-size: 0.9rem;"> <ion-icon class="text-white" name="arrow-forward"></ion-icon></span>
  </button>
</div>