<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Enter Details</div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-2">


    <div class="p-3">
      <div class="p-1 border border-gray-300 rounded-lg">
        <ion-input type="text" label="State" label-placement="floating" fill="outline"
          placeholder="Gas Provider"></ion-input>
      </div>
    </div>

    <div class="p-3">
      <div class="p-1 border border-gray-300 rounded-lg">
        <ion-input type="text" label="Electricity Board" label-placement="floating" fill="outline"
          placeholder="Enter Mobile No./Consumer No./LPG ID"></ion-input>
      </div>
      <p class="text-xs p-1 mt-1">For LPG ID please add 17 digit number starting with 2. You can also book using Mobile No. and Consumer No. as well . view sample bill</p>
    </div>

    <div class="p-3">
      <div class="p-1 border border-gray-300 rounded-lg">
        <ion-input type="text" label="Consumer Number" label-placement="floating" fill="outline"
          placeholder="Enter Gas Agency"></ion-input>
      </div>
     
    </div>

    <div class="p-3">
      
      <div  class="mt-1 pr-2">
        <p class="p-1">Save this bill as (Optional)</p>
        <ion-chip color="primary">Home</ion-chip>
        <ion-chip color="primary">Mom</ion-chip>
        <ion-chip color="primary">Dad</ion-chip>
        <ion-chip color="primary">Other</ion-chip>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar align="center" class="bg-red-500 text-white text-lg " >
    Proceed To Pay
  </ion-toolbar>
</ion-footer>
