<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">All Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pt-10">
    <ion-grid fixed>
      <ion-row align="center">
        <ion-col size="4">
          <img src="assets/services/a1.jpg" class="rounded-md" alt="">
          <ion-label>Service</ion-label>
        </ion-col>
        <ion-col size="4">
          <img src="assets/services/a2.jpg" class="rounded-md" alt="">
          <ion-label>Repair</ion-label>
        </ion-col>
        <ion-col size="4">
          <img src="assets/services/a3.jpg" class="rounded-md" alt="">
          <ion-label>Installation </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
