<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Property Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <div class="bg-white shadow-md rounded-lg mt-4" *ngFor="let property of data">
      <!-- class="w-full " style="background-image: url('{{property.attributes.imagesArray[0]}}');max-height:8rem" class="bg-cover" -->
      <div >
        <img *ngIf="property.attributes.imagesArray.length" class=" w-full" style="max-height: 16rem;" src="{{property.attributes.imagesArray[0]}}" />
      </div>

      <div class=" p-2 rounded-md">
        <div class="flex">
          <div class="flex-1 text-black text-left text-base font-bold">
            {{property.attributes.name}}
          </div>

        
          <div class="text-sm">
            {{property.attributes.createdAt|date}}
            <!-- 2 days ago -->
          </div>
        </div>

        <div class="text-base text-gray-900 font-bold flex items-center" >
          <ion-icon name="cash" class="text-blue-500"></ion-icon>
          &nbsp; ₹  {{property.attributes.price}} / -
        </div>

        <div class="text-sm flex items-center mt-2">
          <ion-icon name="podium" class="text-blue-500"></ion-icon>
          &nbsp;
          <span> {{property.attributes.sellRent=='sell'?'Selling':'Renting'}}  {{property.attributes.type|titlecase}}
          </span>
        </div>

        <div class="text-sm flex items-center">
          <ion-icon name="flag" class="text-yellow-500"></ion-icon>&nbsp;
          {{property.attributes.address|titlecase}}
        </div>

        <div class="flex justify-start">
        
          <div>
            <div class="text-sm flex items-center">
              <ion-icon name="cube" class="text-pink-600"></ion-icon>&nbsp;
              {{property.attributes.area}} Sqft. Sqft.
            </div>
          </div>
        </div>
      </div>

      <ion-button [routerLink]="['/property-add/'+property.id]"   size="block" fill="clear"> Edit Details</ion-button>

    </div>


    

  </div>


  <ion-fab [routerLink]="['/property-add']"
  horizontal="end" vertical="bottom" slot="fixed" routerLink="/filterproperty">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
      <!-- <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon> -->
    </ion-fab-button>

  </ion-fab>


</ion-content>

<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" class="text-gray-600 hover:text-red-600" routerLink="/propertydash">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="heart" class="text-gray-600 hover:text-red-600" routerLink="/shortlisted">
    <ion-label>Shortlisted</ion-label>
    <ion-icon name="heart"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="business" class="text-gray-600 hover:text-red-600" routerLink="/details">
    <ion-label>My Property</ion-label>
    <ion-icon name="business"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="person" class="text-gray-600 hover:text-red-600">
    <ion-label>Profile</ion-label>
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->

<!-- <ion-footer routerLink="/saleandrent">
  <ion-toolbar>
    <ion-title align="center">Next</ion-title>
  </ion-toolbar>
</ion-footer> -->
