<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-4">
  <div class="bg-white p-2 flex mt-2">
    <div class="flex-none font-bold">Pick Location :</div>

    <div class="pl-4">{{cabService.from}}</div>
  </div>
  <div class="bg-white p-2 flex">
    <div class="flex-none font-bold">Drop Location:</div>

    <div class="pl-4">{{cabService.to}}</div>
  </div>

  <div class="bg-white mt-2 p-4">
    <div
      *ngFor="let cabType of this.cabService.cabTypes;let i=index"
      class="flex mb-2"
      (click)="this.cabService.selectCabType(i)"
    >
      <img src="{{cabType.attributes.icon}}" class="w-14" alt="" />
      <div class="flex-1 pl-4 text-lg">
        <div class="flex items-center">
          {{cabType.attributes.name|titlecase}} &nbsp;

          <ion-icon
            *ngIf="cabType.selected"
            class="text-green-700 text-xl"
            name="checkmark-circle"
          ></ion-icon>
        </div>
        <div class="text-sm text-gray-800">
          *minimum price is ₹ {{cabType.attributes.minimumPrice}}
        </div>
      </div>
      <div class="font-bold">
        <div>₹{{cabType.attributes.pricePerKm}}/km</div>
        <div class="text-right"></div>
      </div>
    </div>
  </div>
  <div *ngIf="this.cabService.showPrices">
    <div class="bg-white p-2 flex mt-2">
      <div class="flex-1">
        <div class="font-bold">Distance in km</div>
        <div class="text-gray-800 text-sm">
          <!-- Approximate distance  -->
        </div>
      </div>

      <div class="pl-4 font-bold">{{this.cabService.distance}} km</div>
    </div>
    <div class="bg-white p-2 flex">
      <div class="flex-1">
        <div class="font-bold">Base Fare</div>
        <div class="text-gray-800 text-sm">
          Description about how fare is calculated
        </div>
      </div>

      <div class="pl-4 font-bold">₹ {{this.cabService.baseFare|number}}</div>
    </div>
    <div class="bg-white p-2 flex">
      <div class="flex-1">
        <div class="font-bold">Taxes & Fees</div>
        <div class="text-gray-800 text-sm">18% GST & Toll Tax Applicable</div>
      </div>

      <div class="pl-4 font-bold">₹ {{this.cabService.tax|number}}</div>
    </div>
    <div class="bg-white p-2 flex">
      <div class="flex-1">
        <div class="font-bold">Estimated Total Fare</div>
        <div class="text-red-800 text-sm">*Actual fare may vary</div>
      </div>

      <div class="pl-4 font-bold">₹ {{this.cabService.total|number}}</div>
    </div>

    <div class="bg-white mt-2 p-2">
      <div class=" ">Terms & Conditions</div>

      <div class="text-sm">
        <br />
        <div>
          1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae
          temporibus exercitationem quidem minus doloribus,
        </div>
        <br />
        <div>2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>
    </div>
  </div>
</ion-content>
<!-- <ion-footer *ngIf="showPrices">
  <div class="p-2">
    <button class="btn-grad mt-4" (click)="book()" >
      <span style="float:left;font-weight: bold;font-size: 0.9rem;">Confirm Booking</span>
      <span style="float:right;font-size: 0.9rem;"> <ion-icon name="arrow-forward-outline"></ion-icon></span>
    </button>
  </div>
</ion-footer> -->

<ion-footer *ngIf="this.cabService.showPrices">
  <ion-toolbar color="light">
    <div class="p-2">
      <button class="btn-grad" (click)="book()">
        <span style="float: left; font-weight: bold; font-size: 0.9rem"
          >Confirm Booking</span
        >
        <span style="float: right; font-size: 0.9rem">
          <ion-icon class="text-white" name="arrow-forward"></ion-icon>
        </span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
