<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">All Categories</ion-title>
    <ion-buttons slot="start" color="light">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="light" style="padding: 1px;">
      <ion-icon style=" color: white; " name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="font-size: 1.1em;"></div>

  <div>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J1.png" alt="">
      </ion-avatar>
      <ion-label>News Portal</ion-label>
      <ion-icon routerLink="/jobdetails" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J2.png" alt="">
      </ion-avatar>
      <ion-label>Job Portal</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J3.png" alt="">
      </ion-avatar>
      <ion-label>Services</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J4.png" alt="">
      </ion-avatar>
      <ion-label>Maintenance</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J5.png" alt="">
      </ion-avatar>
      <ion-label>Shopping</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J6.png" alt="">
      </ion-avatar>
      <ion-label>Cab Services</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J7.png" alt="">
      </ion-avatar>
      <ion-label>Bus Ticket</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Property Sale & Purchase</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Lobby In Hotel</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Lord Exchange</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/J8.png" alt="">
      </ion-avatar>
      <ion-label>Food</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>


  </div>




</ion-content>
