<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Jobs Listing</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="px-4 mt-3">
    <div class="bg-white rounded-lg shadow-md">
      <ion-input
        placeholder="Search by skills"
        id="search"
        [(ngModel)]="this.jobService.jobFilters.title"
      >
        <ion-icon name="search" style="margin-left: 7px"></ion-icon>
      </ion-input>
      <ion-input
        placeholder="City Name"
        id="search"
        [(ngModel)]="this.jobService.jobFilters.city"
      >
        <ion-icon name="location-outline" style="margin-left: 7px"></ion-icon>
      </ion-input>
    </div>

    <ion-button expand="block" class="mt-3" (click)="getData()">
      Search
    </ion-button>
  </div> -->

  <!-- {{this.jobService.jobFilters|json}} -->
  <!-- {{ this.jobService.jobFilters|json }} -->
  <div class="flex justify-between items-center pt-3 px-4">
    <div class="pl-2">
      <b>
        {{this.jobService.totalJobs}} Jobs Found
        <span *ngIf="this.jobService.jobFilters.city">
          in {{this.jobService.jobFilters.city|titlecase}}
        </span></b
      >
      <!-- {{currentPage}} {{totalPage}} -->
    </div>
    <!-- <ion-button color="dark" fill="outline" (click)="showFilterModal=true">Filters</ion-button> -->
  </div>
  <div *ngIf="noJobsFound" class="font-bold text-center text-lg mt-3">
    No Jobs Found
  </div>

  <div class="px-4" *ngIf="!noJobsFound">
    <div
      class="bg-white p-4 mt-2 rounded-md"
      style="width: 100%"
      *ngFor="let job of this.jobService.jobs"
      (click)="jobDetails(job)"
    >
      <div class="flex">
        <div class="flex-1 text-black text-left text-base font-bold">
          <!-- {{job.id}} -->
          {{job.attributes.title|titlecase}}
        </div>

        <div class="text-sm">
          {{this.dataService.timeSince(job.attributes.createdAt)}}
        </div>
      </div>
      <div class="text-sm text-gray-600">
        ₹ {{job.attributes.salaryFrom}} - ₹ {{job.attributes.salaryUpto}}
      </div>
      <span class="text-black text-sm font-bold text-gray-700">
        {{job.attributes.type|titlecase}}
      </span>
      |
      <span
        class="text-black text-sm"
        *ngIf="job.attributes.jobCategory && job.attributes.jobCategory.data"
      >
        {{job.attributes.jobCategory.data.attributes.name}}
      </span>

      <div
        class="text-sm flex items-center mt-2"
        *ngIf="job.attributes.author && job.attributes.author.data"
      >
        <ion-icon name="podium" class="text-blue-500"></ion-icon>
        &nbsp;

        <span
          *ngIf="job.attributes.author.data && job.attributes.author.data.attributes.job_profile.data"
        >
          {{(job.attributes.author.data.attributes.job_profile.data.attributes.companyName||"Company
          Name")|titlecase}}
        </span>
      </div>

      <div class="flex justify-start">
        <div class="pr-2">
          <div class="text-sm flex items-center">
            <ion-icon name="briefcase" class="text-green-600"></ion-icon>&nbsp;
            {{job.attributes.experience}}
          </div>
        </div>
        <div>
          <div class="text-sm flex items-center">
            <ion-icon name="location" class="text-red-600"></ion-icon>&nbsp;
            {{job.attributes.city|titlecase}}
          </div>
        </div>
      </div>

      <!-- <div class="text-sm flex items-center">
        <ion-icon name="location" class="text-green-600"></ion-icon>&nbsp;
        {{job.attributes.experience}}
      </div> -->

      <div class="text-sm flex items-center">
        <ion-icon name="rocket" class="text-blue-600"></ion-icon>&nbsp;
        {{job.attributes.skillsByComma|titlecase}}
      </div>

      <!-- <div class="text-sm flex items-center">
        <ion-icon name="location" class="text-green-600"></ion-icon>&nbsp;
        {{job.attributes.city|titlecase}}
      </div> -->

      <div class="text-sm flex items-center">
        <ion-icon name="people" class="text-yellow-500"></ion-icon>&nbsp;
        {{job.attributes.vacancies}} Vacancies
      </div>

      <div class="flex">
        <!-- <ion-button
          color="tertiary"
          (click)="call(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Call Now</ion-button
        >
        <ion-button
          color="dark"
          (click)="whatsapp(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Whatsapp</ion-button
        >
        <ion-button
          color="dark"
          (click)="jobDetails(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Apply</ion-button
        > -->

        <!-- <ion-button
          color="dark"
          (click)="jobDetails(job)"
          class="flex-1 mt-2"
          expand="block"
          >View Details</ion-button
        > -->
        <!-- size="small" -->
        <!-- fill="outline" -->
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div *ngIf="job.applied">Viewed</div>
        </div>
        <div class="text-right">
          <ion-button
            color="dark"
            fill="clear"
            class="flex-1 mt-2 bg-white text-sm"
          >
            <b>View Details</b>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <ion-modal [isOpen]="isModalOpen"> -->
  <ion-modal
    [isOpen]="showFilterModal"
    [initialBreakpoint]=".8"
    (didDismiss)="showFilterModal=false"
  >
    <ng-template>
      <div class="h-4/5 relative">
        <div class="flex h-full">
          <div class="h-full overflow-y-scroll pb-16 bg-gray-200">
            <div
              (click)="selectedFilterSection=filter.tag"
              class="flex flex-col items-center py-8 px-4 text-black"
              *ngFor="let filter of filterTypes"
              [ngClass]="{'bg-white': selectedFilterSection==filter.tag}"
            >
              <ion-icon
                style="font-size: larger"
                name="{{filter.icon+(selectedFilterSection==filter.tag?'':'-outline')}}"
              ></ion-icon>
              <span> {{filter.name}} </span>
            </div>
          </div>

          <div class="h-full overflow-y-scroll pb-16 flex-1 p-4">
            <div *ngIf="selectedFilterSection=='type'">
              <ion-list>
                <ion-radio-group [(ngModel)]="this.jobService.jobFilters.type">
                  <ion-item>
                    <ion-label>Any Type</ion-label>
                    <ion-radio slot="start" value=""></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Full Time</ion-label>
                    <ion-radio slot="start" value="fullTime"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Part Time</ion-label>
                    <ion-radio slot="start" value="partTime"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Freelance</ion-label>
                    <ion-radio slot="start" value="freelance"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
            <div *ngIf="selectedFilterSection=='sort'">
              <ion-list>
                <ion-radio-group
                  [(ngModel)]="this.jobService.jobFilters.sort[0]"
                >
                  <ion-item>
                    <ion-label>Newest Job First</ion-label>
                    <ion-radio slot="start" value="createdAt:desc"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Oldest Job First</ion-label>
                    <ion-radio slot="start" value="createdAt:asc"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>High to Low Salary</ion-label>
                    <ion-radio slot="start" value="salaryFrom:desc"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Low To High Salary</ion-label>
                    <ion-radio slot="start" value="salaryFrom:asc"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
            <div *ngIf="selectedFilterSection=='salary'">
              <ion-list>
                <ion-radio-group
                  [(ngModel)]="this.jobService.jobFilters.salary.min"
                >
                  <ion-item>
                    <ion-label>Any Salary</ion-label>
                    <ion-radio slot="start" value="0"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 5000 and more</ion-label>
                    <ion-radio slot="start" value="5000"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 10000 and more</ion-label>
                    <ion-radio slot="start" value="10000"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 20000 and more</ion-label>
                    <ion-radio slot="start" value="20000"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 30000 and more</ion-label>
                    <ion-radio slot="start" value="30000"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 40000 and more</ion-label>
                    <ion-radio slot="start" value="40000"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>₹ 50000 and more</ion-label>
                    <ion-radio slot="start" value="50000"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
            <div *ngIf="selectedFilterSection=='experience'">
              <ion-list>
                <ion-radio-group
                  [(ngModel)]="this.jobService.jobFilters.experience"
                >
                  <ion-item>
                    <ion-label>Freshers</ion-label>
                    <ion-radio slot="start" value="fresher"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>0 - 1 Year </ion-label>
                    <ion-radio slot="start" value="0-1 year"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>1 - 2 Years </ion-label>
                    <ion-radio slot="start" value="1-2 years"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>2 - 3 Years</ion-label>
                    <ion-radio slot="start" value="2-3 years"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>3+ Years</ion-label>
                    <ion-radio slot="start" value="3+ years"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
            <div *ngIf="selectedFilterSection=='location'">
              <ion-list>
                <ion-radio-group [(ngModel)]="this.jobService.jobFilters.city">
                  <ion-item>
                    <ion-label>Any Location</ion-label>
                    <ion-radio slot="start" value=""></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Amravati</ion-label>
                    <ion-radio slot="start" value="amravati"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Mumbai</ion-label>
                    <ion-radio slot="start" value="mumbai"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nagpur</ion-label>
                    <ion-radio slot="start" value="nagpur"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Pune</ion-label>
                    <ion-radio slot="start" value="pune"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Satara</ion-label>
                    <ion-radio slot="start" value="satara"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full p-4">
          <ion-button expand="block" (click)="apply()" fill="solid"
            >Apply
          </ion-button>
        </div>
      </div>

      <!-- <div class="p-4">
        <div>Filter</div>
        <div>
          <ion-button
            (click)="apply()"
            color="dark"
            expand="block"
            fill="{{this.jobService.jobFilters.type==''?'solid':'outline'}}"
            class="flex-1 mt-2"
            >Any</ion-button
          >
          <ion-button
            (click)="apply('fullTime')"
            expand="block"
            color="dark"
            fill="{{this.jobService.jobFilters.type=='fullTime'?'solid':'outline'}}"
            class="flex-1 mt-2"
            >Full Time
          </ion-button>
          <ion-button
            (click)="apply('partTime')"
            expand="block"
            color="dark"
            fill="{{this.jobService.jobFilters.type=='partTime'?'solid':'outline'}}"
            class="flex-1 mt-2"
            >Part Time
          </ion-button>
          <ion-button
            (click)="apply('freelance')"
            expand="block"
            color="dark"
            fill="{{this.jobService.jobFilters.type=='freelance'?'solid':'outline'}}"
            class="flex-1 mt-2"
            >Freelance
          </ion-button>
        </div>
      </div> -->
      <!-- <app-modal-content></app-modal-content> -->
    </ng-template>
  </ion-modal>
</ion-content>

<ion-fab
  horizontal="end"
  vertical="bottom"
  slot="fixed"
  (click)="showFilterModal=true"
>
  <ion-fab-button class="text-2xl" color="danger">
    <ion-icon color="light" name="funnel"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <div class="pt-2 pl-4">
  <ion-label>All Roles</ion-label>
</div>

<div>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J1.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Accounts</ion-label>
    <ion-icon routerLink="/accounts" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J2.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Marketing</ion-label>
    <ion-icon routerLink="/marketing" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J3.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">IT Industry</ion-label>
    <ion-icon routerLink="/itindustry" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J4.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Back Office</ion-label>
    <ion-icon routerLink="/backoffice" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J4.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">BPO</ion-label>
    <ion-icon routerLink="/bpo" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J6.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Delivery Boy</ion-label>
    <ion-icon routerLink="/deliveryboy" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J7.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Teachers</ion-label>
    <ion-icon routerLink="/teachers" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J8.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Data Entry</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J9.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Finance Companies</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J10.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Mechanical Engineer</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J11.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Sales Executive</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J12.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Security Staff</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J3.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Office Boy</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/other.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Other</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>
</div> -->
