<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Jobs Listing</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="noJobsFound" class="font-bold text-center text-lg mt-4">
    No Jobs Found
  </div>
  <div class="p-4">
    <div
      class="primary-card bg-white p-4 mt-4"
      style="width: 100%"
      *ngFor="let job of this.jobs"
      (click)="jobDetails(job)"
    >
      <div class="flex">
        <div class="flex-1 text-black text-left text-base font-bold">
          {{job.attributes.title|titlecase}}
        </div>

        <div class="text-sm">
          {{this.dataService.timeSince(job.attributes.createdAt)}}
        </div>
      </div>
      <div class="text-sm text-gray-600">
        ₹ {{job.attributes.salaryFrom}} - ₹ {{job.attributes.salaryUpto}}
      </div>
      <span class="text-black text-sm" *ngIf="job.attributes.jobCategory.data">
        {{job.attributes.jobCategory.data.attributes.name}} Job
      </span>
      <div
        class="text-sm flex items-center mt-2"
        *ngIf="job.attributes.author.data"
      >
        <ion-icon name="podium" class="text-blue-500"></ion-icon>
        &nbsp;

        <!-- {{(job.attributes.author.data.attributes.companyName||"Company Name")|titlecase}} -->
        <span
          *ngIf="job.attributes.author.data && job.attributes.author.data.attributes.job_profile.data"
        >
          {{(job.attributes.author.data.attributes.job_profile.data.attributes.companyName||"Company
          Name")|titlecase}}
        </span>
      </div>
      <div class="text-sm flex items-center">
        <ion-icon name="location" class="text-green-600"></ion-icon>&nbsp;
        {{job.attributes.city|titlecase}}
      </div>
      <div class="text-sm flex items-center">
        <ion-icon name="people" class="text-yellow-500"></ion-icon>&nbsp;
        {{job.attributes.vacancies}} Vacancies
      </div>

      <div class="flex">
        <!-- <ion-button
          color="dark"
          (click)="call(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Call Now</ion-button
        >
        <ion-button
          color="dark"
          (click)="whatsapp(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Whatsapp</ion-button
        >
        <ion-button
          color="dark"
          (click)="jobDetails(job)"
          class="flex-1"
          size="small"
          expand="block"
          fill="outline"
          >Apply</ion-button
        > -->

        <!-- <ion-button
          color="dark"
          (click)="jobDetails(job)"
          class="flex-1 mt-2"
          expand="block"
          >View Details</ion-button
        > -->
        <!-- size="small" -->
        <!-- fill="outline" -->
      </div>
      <div class="text-right red">
        <ion-button color="dark" fill="clear" class="flex-1 mt-2"
          >Apply Now</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>

<!-- <div class="pt-2 pl-4">
  <ion-label>All Roles</ion-label>
</div>

<div>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J1.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Accounts</ion-label>
    <ion-icon routerLink="/accounts" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J2.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Marketing</ion-label>
    <ion-icon routerLink="/marketing" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J3.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">IT Industry</ion-label>
    <ion-icon routerLink="/itindustry" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J4.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Back Office</ion-label>
    <ion-icon routerLink="/backoffice" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J4.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">BPO</ion-label>
    <ion-icon routerLink="/bpo" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J6.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Delivery Boy</ion-label>
    <ion-icon routerLink="/deliveryboy" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J7.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Teachers</ion-label>
    <ion-icon routerLink="/teachers" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J8.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Data Entry</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J9.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Finance Companies</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J10.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Mechanical Engineer</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J11.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Sales Executive</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J12.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Security Staff</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/J3.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Office Boy</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/other.png" alt="">
    </ion-avatar>
    <ion-label class="roles-text">Other</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>
</div> -->
