<ion-header>
  <ion-toolbar>
    <ion-row style="padding-left: 2px; padding-right: 2px;">
      <ion-col size="2">
        <div routerLink="/jobdashboard">&nbsp;&nbsp;
          <!-- <ion-menu-button> -->
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:40%; height:40%;" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd" />
          </svg>
          <!-- </ion-menu-button> -->
        </div>
      </ion-col>

      <ion-col size="8">
        <div align="center">
          <ion-label style="color: #fff; font-size: large;"><b>Notifications</b></ion-label>
        </div>
      </ion-col>
      <ion-col size="2">
        <!-- <div style="margin-left: 10%;">&nbsp;&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:45%; height:45%; " fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">

    <div class="div1 pl-2 pt-2 pr-2">
      <ion-label class="pl-1"><b>Your application was marked shortlisted.</b></ion-label>
      <p class="pl-1">Software /Web Developer<br>
        <span>WebMediaIndia Pvt.Ltd.</span><br>
        <span>Amravati, MH</span></p>
      <ion-row style="border-top: 1px solid rgb(190, 190, 190) ; margin-bottom: 0px;">
        <ion-col size="6" align="left" class="pt-3">
          <p>Today</p>
        </ion-col>
        <ion-col size="6" align="right" class="pt-3" routerLink="/softwaredeveloper">
          <p style="color: blue;">View Job &nbsp;<ion-icon class="pt-1" style="color: blue;"
              name="arrow-forward-outline">
            </ion-icon>
          </p>
        </ion-col>
      </ion-row>
    </div>

    <div class="div1 pl-2 pt-2 pr-2" style="margin-top: 10px; border-left: 1px solid rgb(228, 51, 228) ;">
      <ion-label class="pl-1"><b>A recruiter has recently shown interest in your profile.</b></ion-label>
      <p class="pl-1">Software /Web Developer<br>
        <span>WebMediaIndia Pvt.Ltd.</span><br>
        <span>Amravati, MH</span></p>
      <ion-row style="border-top: 1px solid rgb(190, 190, 190) ; margin-bottom: 0px;">
        <ion-col size="6" align="left" class="pt-3">
          <p>2 days ago</p>
        </ion-col>
        <ion-col size="6" align="right" class="pt-3" routerLink="/softwaredeveloper">
          <p style="color: blue;">View Job &nbsp;<ion-icon class="pt-1" style="color: blue;"
              name="arrow-forward-outline">
            </ion-icon>
          </p>
        </ion-col>
      </ion-row>
    </div>

    <div class="div1 pl-2 pt-2 pr-2" style="margin-top: 10px; border-left: 1px solid rgb(48, 230, 72) ;">
      <ion-label class="pl-1"><b>Your application was recently viewed.</b></ion-label>
      <p class="pl-1">Software /Web Developer<br>
        <span>WebMediaIndia Pvt.Ltd.</span><br>
        <span>Amravati, MH</span></p>
      <ion-row style="border-top: 1px solid rgb(190, 190, 190) ; margin-bottom: 0px;">
        <ion-col size="6" align="left" class="pt-3">
          <p>6 days ago</p>
        </ion-col>
        <ion-col size="6" align="right" class="pt-3" routerLink="/softwaredeveloper">
          <p style="color: blue;">View Job &nbsp;<ion-icon class="pt-1" style="color: blue;"
              name="arrow-forward-outline">
            </ion-icon>
          </p>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
