.box {
  height: 150px;
  background: url("/assets/bg_image.png") center/cover;
  -webkit-mask:
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at top, white 79.5%, transparent 80%) top left,
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at bottom, transparent 79.5%, white 80%) top center,
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at top, white 79.5%, transparent 80%) top right;
  mask:
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at top, white 79.5%, transparent 80%) top left,
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at bottom, transparent 79.5%, white 80%) top center,
    radial-gradient(var(--r1, 100%) var(--r2, 50%) at top, white 79.5%, transparent 80%) top right;
  -webkit-mask-size: 33.4% 150%;
  -webkit-mask-repeat: no-repeat;
  mask-size: 33.4% 150%;
  mask-repeat: no-repeat;
}

.button_login {
  margin-top: 2vh;
  padding: 6px;
}

.bg-class {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  // border: 1px solid rgb(255, 1, 1);
  color: #fff;
  // background-image: linear-gradient(197deg, #f0f0f0, #ebebeb, #f0f0f0 100%)!important
  // background-image: linear-gradient(197deg, #520A05, #A21801, #520A05 100%) !important

  // background-image: linear-gradient(197deg, #3f0501, #000000, #3f0501 100%) !important
  background-image: linear-gradient(197deg, #d10808, #f90101, #d10808 100%) !important
}


.otp-card {
  background-color: white;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 5px;
}
