<ion-content>
  <!-- <div class="box" style="--r1:130%;--r2:71.5%" align="center">
    <div><br>
      <ion-label style="color: white; font-size: large; text-align: center;">Otp</ion-label>
    </div>
  </div> -->
  <div align="center" style="margin-top: 10%;">
    <img src="assets/v1.png" alt="" width="30%" height="30%">
  </div>


  <div style="padding: 8%;">

    <div align="center">
      <ion-title>Verification</ion-title>
      <p style="font-size: small;  color: rgb(184, 184, 184);">We have sent the OTP 9678675645 <br>
        Mobile verification in progress</p>
    </div>


    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <div class="otp-card">
            <ion-label class="text" position="floating"></ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="otp-card">
            <ion-label class="text" position="floating"></ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="otp-card">
            <ion-label class="text" position="floating"></ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="otp-card">
            <ion-label class="text" position="floating"></ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div align="center" class="button_login" routerLink="/newpassword">
      <button expand="block" color="light" class="bg-class">
        Verify OTP
      </button>

    </div>
  </div>

</ion-content>
