<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" class="text-white">Periodic services</ion-title>
    <div slot="end">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    </div>
    <div slot="end" class="pr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="pt-1 pb-1">
    <ion-slides class="slider" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide class="pl-2">
        <img src="assets/cabservices/s1.jpg" class="rounded-md " />
      </ion-slide>
      <ion-slide class="pl-2">
        <img src="assets/cabservices/s2.jpg" class="rounded-md " />
      </ion-slide>
      <ion-slide class="pl-2">
        <img src="assets/cabservices/s3.jpg" class="rounded-md " />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="bg-white pt-1 p-2">
    <b>Basic Service</b>
    <p class="text-black text-base border-b-2 border-gray-200">
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Take a 3 Hours<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> 1 month warranty<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)
    </p>
    <div class="flex justify-between pl-2 pr-2">
      <div>₹ 5,600</div>
      <div routerLink="/addcart">
        <ion-button size="small" color="danger">
          Add
        </ion-button>
      </div>
    </div>
  </div>

  <br>

  <div class="bg-white pt-1 p-2">
    <ion-label style="background-color: rgb(92, 177, 8); color: white;
       font-size: small; padding: 3px; border-bottom-left-radius:5px ; 
       z-index: 1000; margin-left: 72%; position: absolute; margin-top: -2%;">
      Recommended
    </ion-label>
    <b>Front Brake Pads</b>
    <p class="text-black text-base pt-1 border-b-2 border-gray-200">
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Take a 3 Hours<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> 1 month warranty<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)<br>
    </p>

    <div class="flex justify-between pl-2 pr-2">
      <div>₹ 5,600</div>
      <div routerLink="/addcart">
        <ion-button size="small" color="danger">
          Add
        </ion-button>
      </div>
    </div>

  </div>

  <!-- <div class="bg-white">
    <ion-label
      style="background-color: rgb(92, 177, 8); color: white; font-size: small; padding: 3px; border-bottom-right-radius:5px ; ">
      Recommended
    </ion-label>
    <div class="p-3">
      <p class="text-black text-lg font-semibold" routerLink="/servicedetails">Front Brake Pads</p>
      <p class="text-black text-base">
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Take a 3 Hours<br>
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> 1 month warranty<br>
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)
      </p>
    </div>
  </div> -->


  <br>

  <div class="bg-white pt-1 p-2">
    <b>Brake drum Turning</b>
    <p class="text-black text-base border-b-2 border-gray-200">
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Take a 3 Hours<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> 1 month warranty<br>
      <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)<br>
    </p>

    <div class="flex justify-between pl-2 pr-2">
      <div>₹ 5,600</div>
      <div routerLink="/addcart">
        <ion-button size="small" color="danger">
          Add
        </ion-button>
      </div>
    </div>
  </div>

  <!-- <div class="bg-white">
    <div class="p-3">
      <p class="text-black text-lg " routerLink="/servicedetails"><b>Brake drum Turning</b> </p>
      <p class="text-black text-base">
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Take a 3 Hours<br>
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> 1 month warranty<br>
        <ion-icon class="text-xs" name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)
      </p>
    </div>
  </div> -->

  <!-- <ion-card class="p-2 ">
    <p class="text-black text-lg font-semibold" routerLink="/servicedetails">AC Services</p>
    <ion-grid>
      <ion-row>
        <ion-col size="7" class="">
          <p class="text-black">
            <ion-icon name="ellipse-outline"></ion-icon> Take a 2 Hours
          </p>
          <p class="text-black">
            <ion-icon name="ellipse-outline"></ion-icon> 1 month warranty
          </p>
          <p class="text-black">
            <ion-icon name="ellipse-outline"></ion-icon> Every 2000kms 12 or months (Recomended)
          </p>
        </ion-col>

        <ion-col size="5">
          <h5 class="text-black pt-10 text-xs font-semibold"> Rs.5,699 </h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 font-semibold">
      <div class="text-white pt-2 text-sm">
        Total <span class="rs"></span> 5,699
      </div>
      <div>
        <ion-button color="light font-semibold" routerLink="/cart" class="px-1 py-1">
          Add Cart
        </ion-button>
      </div>


    </div>
  </ion-toolbar>
</ion-footer> -->
