<ion-content>
  <div>
    <img src="assets/services/c12.jpg" />
    <div style="z-index:1000; position:absolute; margin-top:-44%; margin-left: 5px; " routerLink="/all-services">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white " fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </div>
  </div>

  <div class="p-3">
    <p class="font-bold">House Painters</p>
    <p class="text-sm text-gray-600 text-justify"> Consultation involves in-depth on-site assessment</p>
    <p class="text-sm text-black border-dotted border-b-2 border-gray-500 p-1 pt-1"><span class="rup"></span>1,500
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>
    <p class="text-sm text-gray-800 text-justify pt-1">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon>Basis your inputs, the consultant will share
      customized quotation
    </p>
    <p class=" text-sm text-gray-800 text-justify pt-1 border-dotted border-b-2 border-gray-500  pb-2">
      <ion-icon name="ellipse" class="text-xs pt-1 pr-1"></ion-icon>Visit Charges of <span class="rup "></span>1500 will
      be adjusted in the final bill
    </p>


    <p class="font-bold text-md pt-2">Water Proofing</p>
    <p class="text-sm text-gray-600 text-justify"> Basis your inputs, the consultant will share customized</p>
    <p class="text-sm text-black   border-dotted border-b-2 border-gray-500 p-1 pb-2"><span class="rup"></span>550
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>

    <p class="font-bold text-md pt-2">Textured Walls Consultation</p>
    <p class="text-sm text-gray-600 text-justify"> Add depth & dimension to any wall in your house</p>
    <p class="text-sm text-black   border-dotted border-b-2 border-gray-500 p-1 pb-2"><span class="rup"></span>670
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star"></ion-icon>
      <ion-icon class="text-yellow-400 text-sm" name="star-half"></ion-icon>
    </p>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 font-semibold">
      <div class="text-white pt-2 text-sm">
        Total <span class="rup"></span> 2,720
      </div>
      <div>
        <ion-button color="light font-semibold" routerLink="/cart" class="px-1 py-1">
          Add To Cart
        </ion-button>
      </div>


    </div>
  </ion-toolbar>

</ion-footer>
