<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Effo Properties</div>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="text-gray-600 hover:text-red-600">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="shortlist" class="text-gray-600 hover:text-red-600">
      <ion-label>Shortlisted</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="own" class="text-gray-600 hover:text-red-600">
      <ion-label>My Property</ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="person" class="text-gray-600 hover:text-red-600">
      <ion-label>Profile</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
