<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Civil Contractor </ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="pl-2 pr-2 pt-3 pb-2">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid rgb(211, 211, 211);">
      <ion-input placeholder="Search In All India" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row>

  <div class="mt-1 bg-white rounded-tl-2xl rounded-tr-2xl">
    <img class="rounded-2xl" src="assets/services/ccc1.jpg" />

    <div style="padding-left:0.8em ;" class="pt-1">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-label class="text-lg ">Buisness Name<br>
            </ion-label>
            <p class="text-sm text-gray-600 ">Civil Contractor<br>
              <span>New</span><span><b>Open</b></span></p>
          </ion-col>
          <ion-col size="2">
            <ion-icon class="text-lg text-gray-500" name="share-social"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <ion-row class="border-t-4 border-b-4 border-gray-400">
      <ion-col size="4" class="border-r-4 border-gray-400 text-sm text-center">
        <ion-icon name="call-outline" class="text-sm"></ion-icon> Call
      </ion-col>
      <ion-col size="4" class="border-r-4 border-gray-400 text-sm text-center">
        <ion-icon name="logo-whatsapp" class="text-sm"></ion-icon> Whats App
      </ion-col>
      <ion-col size="4" class="text-sm text-center">
        <ion-icon name="arrow-forward-circle-outline" class="text-sm"></ion-icon> Direction
      </ion-col>
    </ion-row> -->


    <div class="pl-4 pr-2 pb-1">
      <p class=" text-sm ">
        <ion-icon name="location-outline"></ion-icon> Near Dhayari phata,Dhayari,Pune 411041.
      </p>
      <p class="text-sm">
        <ion-icon name="time-outline"></ion-icon> Hours: 9AM to 9PM
      </p>
      <P class="text-sm">
        <ion-icon name="call"></ion-icon> 9851000000
      </P>
      <P class="text-sm ">
        <ion-icon name="globe-outline"></ion-icon> www.nhjg.com
      </P>
    </div>

  </div>


  <!-- <div class="mt-3 bg-white pl-3 pr-2 pt-2 pb-2">
    <ion-label class="text-lg ">Photos<br>
    </ion-label>
    <ion-row>
      <ion-col size="3">
        <img class="rounded-md" src="https://via.placeholder.com/60x60" />
      </ion-col>

      <ion-col size="3">
        <img class="rounded-md" src="https://via.placeholder.com/60x60" />
      </ion-col>

      <ion-col size="3">
        <img class="rounded-md" src="https://via.placeholder.com/60x60" />
      </ion-col>

      <ion-col size="3">
        <img class="rounded-md" src="https://via.placeholder.com/60x60" />
      </ion-col>
    </ion-row>
  </div> -->

  <div class="mt-3 bg-white pl-3 pr-3 pt-2 pb-1">
    <ion-label class="text-lg ">About<br>
    </ion-label>
    <p class="text-sm text-gray-700 text-justify">Main contractor is responsible to find and hire right subcontractors
      and individuals to complete the job. Main contractor with cooperation of subcontractors need to manage
      equipment,
      materials, and other services required for smooth flow of the
      project.
    </p>

    <ion-label class="text-lg ">Services<br></ion-label>
    <p class="text-sm text-gray-700 text-justify "> It includes tiling, bathroom renovation, breaking any walls,
      fixing
      the kitchen platform, electrical work, etc. It is usually more messy and tedious compared to the other work such
      as furniture and kitchen.</p>
  </div>
  <div class="mt-3 bg-white pl-3 pr-3 pt-2 pb-2">
    <ion-label class="text-lg ">Rating And Reviews<br></ion-label>
    <p class="text-sm pt-2">
      <ion-icon class="text-yellow-500" name="star"></ion-icon>
      <ion-icon class="text-yellow-500" name="star"></ion-icon>
      <ion-icon class="text-yellow-500" name="star"></ion-icon> 3.2
    </p>
    <ion-label class="text-lg" routerLink="/reviews">View Reviews<br></ion-label>
    <p class="text-base pt-3 font-semibold">Give Rating And Reviews</p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar routerLink="/bookappointment">
    <ion-title class="text-center text-white text-sm">Book an Appointment</ion-title>
  </ion-toolbar>
</ion-footer>
