<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">
      Ride Status
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="class-name">

  <div class="w-full" style="margin-top: 40%;">
    <ion-card class="bg-white p-2">
      <div class="flex justify-between pt-1">
        <div>
          <ion-label class="text-black"><b>Meet at the pickup point</b></ion-label>
        </div>
        <div>
          <ion-label class="text-red-500"><b>22min</b></ion-label>
        </div>
      </div>

      <div class="flex justify-between pt-1">
        <div>
          <ion-label>Even Summi<br><span>#123</span></ion-label>
        </div>
        <div>
          <ion-icon name="call"></ion-icon>
        </div>
      </div>

      <div class="flex justify-between pt-1 border-b-2 border-gray-300">
        <div>
          <ion-label><b>MH 27 3456</b><br><span>minicab</span></ion-label>
        </div>
        <div>
          <div class="rounded-md p-2 bg-gray-200">
            <ion-icon name="car"></ion-icon>
          </div>
        </div>
      </div>

      <div class="flex justify-between pt-3">
        <div>
          <ion-label>Datur Nagar Drop Off</ion-label>
        </div>
        <div>
          <ion-label><b>2:3 PM</b></ion-label>
        </div>
      </div>

      <div class="flex justify-between pt-1">
        <div>
          <ion-label>Distance</ion-label>
        </div>
        <div>
          <ion-label><b>1.5 KM</b></ion-label>
        </div>
      </div>

      <div class="flex justify-between pt-1">
        <div>
          <ion-label>Price</ion-label>
        </div>
        <div>
          <ion-label><b>₹ 200</b></ion-label>
        </div>
      </div>

      <div class="p-2" style="margin-top: 10%;">
        <ion-button expand="block" color="primary">
          Cancle Ride
        </ion-button>
      </div>
    </ion-card>


  </div>


</ion-content>
