<ion-header>
  <ion-toolbar>
    <div slot="start">
      <ion-menu-button class="text-white"> </ion-menu-button>
    </div>
    <div class="flex justify-between">
      <img src="assets/textW.png" width="35%" height="35%" alt="" />
      <div class="text-white flex items-center px-4 text-lg">
        <!-- (click)="this.router.navigate(['/select-city'])" -->
        <ion-icon name="location"></ion-icon>
        {{this.dataService.selectedCity|titlecase}}
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div></div>
  <div
    id="myModal"
    class="modal flex items-center justify-center {{modalClass}}"
    style="z-index: 10">
    <div class="modal-content rounded-md overflow-hidden relative">
      <img
        src="{{popupImage}}"
        alt=""
        (click)="this.dataService.viewImage(popupImage)"/>
      <span
        (click)="modalClass='hidden'"
        class="bg-red text-white w-8 h-8 flex items-center justify-center absolute right-0 top-0"
        >X</span>
    </div>
  </div>

  
  <ion-row class="px-2 relative">
    <!-- <div
      class="flex items-center"
      style="
        width: 100%;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgb(211, 211, 211);
      "
    >
      <ion-input
        class="flex-1"
        placeholder="Search In All India"
        id="search"
        (ionChange)="search()"
        [(ngModel)]="queryText"
      >
        <ion-icon name="search" style="margin-left: 7px"></ion-icon> </ion-input
      ><ion-icon
        *ngIf="this.queryText"
        (click)="this.queryText=''"
        name="close"
        class="px-4"
        style="margin-left: 7px"
      ></ion-icon>
    </div> -->
    <!-- class="bg-white rounded-md w-full mt-2 absolute mt-16" -->
    <div class="bg-white rounded-md w-full mt-2" style="z-index: 10; left: 0px">
      <div
        *ngFor="let suggestion of suggestions;let i=index"
        class="flex px-4 p-2"
        (click)="selected(suggestion)"
      >
        <div class="flex-1">{{suggestion.title}}</div>
        <div>in <b> {{suggestion.type}}</b></div>
      </div>
      <div
        class="p-4 text-center font-bold"
        *ngIf="this.queryText&& this.noSuggesions"
      >
        No Data Found
      </div>
    </div>
  </ion-row>

  <div
    class="rounded-lg"
    style="
      background-color: white;
      border-radius: 1.5rem;
      /* margin-top: 2%; */
      padding: 5px;
    "
  >
    <ion-slides #slider loop="true" [options]="slideOpts">
      <ion-slide
        (click)="this.dataService.slideClicked(slide)"
        *ngFor="let slide of this.dataService.homeSliders"
      >
        <ion-card style="border-radius: 1.5rem">
          <img src="{{slide.attributes.file.data.attributes.url}}" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div style="padding-left: 0.8em" class="pt-3">
    <ion-label><b>Services We Offer !</b></ion-label>
  </div>

  <div style="background-color: white; border-radius: 5px; margin-top: 3%">
    <ion-grid fixed>
      <ion-row class="small_text">
        <ion-col
          *ngFor="let category  of categories"
          size="3"
          align="center"
          (click)="navigateCategory(category)"
          class="flex justify-center flex-col"
        >
          <div
            class="m-auto primary-red p-3 text-white rounded-md flex items-center justify-center"
          >
            <ion-icon
              *ngIf="category.icon"
              name="{{category.icon}}"
              class="text-xl"
            ></ion-icon>
          </div>
          <!-- <img src="assets/D2.png" alt="" /><br /> -->
          <div class="truncate mt-2">{{category.name}}</div>
          <div
            class="red"
            [ngStyle]="{'color': category.available?'white':'red'}"
          >
            Coming Soon
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div
    style="
      background-color: white;
      border-radius: 5px;
      margin-top: 2%;
      padding: 5px;
    "
  >
    <ion-slides
      #slider
      loop="true"
      [options]="slideOpts"
      (ionSlideTouchEnd)="slideChanged()"
    >
      <ion-slide
        (click)="this.dataService.slideClicked(slide)"
        *ngFor="let slide of this.dataService.homeSlidersSecond"
      >
        <ion-card style="border-radius: 5px">
          <img src="{{slide.attributes.file.data.attributes.url}}" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <br />
  <br />
  <br />

  <div align="center" class="pt-12">
    <img src="assets/ft.png" alt="" width="35%" height="35%" />
  </div>
</ion-content>
