<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative mx-auto w-full mt-2">
    <div
      class="relative inline-block duration-300 ease-in-out transition-transform transform hover:-translate-y-2 w-full"
    >
      <div class="shadow p-2 rounded-lg bg-white">
        <div
          class="flex justify-center relative rounded-lg overflow-hidden"
        ></div>

        <div class="mt-2 pl-2 flex">
          <div>
            <p class="font-bold text-lg text-balck text-gray-800 line-clamp-1">
              {{this.hotelService.selectectedHotel.hotelInfo.name}}
            </p>
            <p
              *ngIf="this.hotelService.selectectedHotel.hotelDetails"
              class="text-xs text-gray-800"
            >
              {{this.hotelService.selectectedHotel.hotelDetails.address}}
              <!-- <ion-icon
              class="text-xs text-gray-400"
              name="location"
            ></ion-icon> {{this.hotelService.search.destination}} -->
            </p>
            <div
              *ngIf="this.hotelService.selectectedHotel.hotelDetails&& this.hotelService.selectectedHotel.hotelDetails.reviewData?.numberOfReviews"
              class="flex items-center text-green-600 font-bold text-sm my-2"
            >
              <!-- {{this.hotelService.hotelReviewImages[hotel.hotelDetails.starRating|
            number: '1.1-1']}} -->
              <img
                src="https://{{this.hotelService.hotelReviewImages['3.0']}}"
                alt=""
              />
              (
              {{this.hotelService.selectectedHotel.hotelDetails.reviewData?.numberOfReviews}}
              Reviews )
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.hotelService.repriceResponse" class="p-2">
    <ion-grid>
      <ion-row class="bg-white rounded-md p-1">
        <!--   <ion-col size="4">
        <div>
            <img class="rounded-md w-full h-full" src="assets/room2.jpg" alt="">
          </div>
        </ion-col> -->
        <ion-col size="12">
          <p class="font-bold text-lg text-balck line-clamp-1">
            {{this.hotelService.repriceResponse.data.hotelResult.roomResults[0].roomName}}
          </p>
          <p class="text-xs text-gray-500">
            <!-- {{this.hotelService.repriceResponse.data.searchInfo.regionName}} -->
          </p>
          <!-- <p class="font-bold text-md text-balck text-red-600 line-clamp-1">
            ₹ 1000/<span
              class="text-right mt-1 text-xs text-gray-400 line-clamp-1"
              >perday</span
            >
          </p> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="p-2">
      <div class="rounded-md bg-white p-3">
        <div *ngFor="let room of this.hotelService.roomPaxDetails">
          <div *ngFor="let guest of room.paxDetails">
            <div class="font-bold text-sm">{{guest.text}}</div>
            <div class="rounded-md bg-white p-4">
              <div>
                <select
                  class="w-full rounded-md border-2 px-2 py-3"
                  [(ngModel)]="guest.title"
                  placeholder="Select Title"
                >
                  <option value="">Select Title</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                </select>
                <br />
                <br />
                <input
                  [(ngModel)]="guest.firstName"
                  type="text"
                  placeholder="First Name"
                  class="w-full rounded-md border-2 px-2 py-3"
                />
                <br />
                <br />
                <input
                  [(ngModel)]="guest.lastName"
                  type="text"
                  placeholder="Last Name"
                  class="w-full rounded-md border-2 px-2 py-3"
                />
                <!-- <br />
            <br />
            <input
              type="number"
              placeholder="Phone Number"
              class="w-full rounded-md border-2 px-2 py-3"
            /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-1">
      <div class="bg-white rounded-md p-4">
        <p class="border-gray-200 mb-2">Payment Details</p>
        <!--

        <div class="mt-3 flex justify-between">
          <p class="text-sm text-gray-500">Rental Fee</p>
          <p class="font-bold text-sm text-balck line-clamp-1">₹ 100.00</p>
        </div>

        <div class="mt-3 flex justify-between">
          <p class="text-sm text-gray-500">Security Deposit</p>
          <p class="font-bold text-sm text-balck line-clamp-1">₹ 100.00</p>
        </div>

        <div class="mt-3 mb-2 flex justify-between">
          <p class="text-sm text-gray-500">Service Charge</p>
          <p class="font-bold text-sm text-balck line-clamp-1">₹ 150.00</p>
        </div>

        -->
        <!-- <div class="mt-3 mb-2 flex justify-between">
          <p class="text-sm text-gray-500">Per </p>
          <p class="font-bold text-sm text-balck line-clamp-1">₹ 150.00</p>
        </div> -->
        <div class="border border-gray-200"></div>
        <div class="mt-4 flex justify-between">
          <p class="text-sm text-gray-500">Total</p>
          <p class="font-bold text-lg text-red-600 line-clamp-1">
            ₹
            {{(this.hotelService.repriceResponse.data.hotelResult.roomResults[0].ratePlans[0].pricing.totalSellPrice*this.hotelService.charges.extraPercentage)|number:'1.2-2'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- routerLink="/hotel-booking" -->
    <button
      (click)="this.hotelService.payment()"
      class="text-white py-4 w-full font-bold"
    >
      Pay & Confirm
    </button>
  </ion-toolbar>
</ion-footer>
