<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button
        style="color: white"
        defaultHref="/bus-dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-2">
  <div class="p-4" *ngFor="let booking of this.busService.bookings">
    <div
      class="bg-white rounded-xl shadow-md"
      *ngIf="booking.data && booking.data.items"
    >
      <div
        *ngFor="let passenger of booking.data.items.segments.ONEWAY.travellers"
        class="bg-black text-white p-2 text-center"
      >
        <!-- Test-Seat-B5 -->
        {{passenger.firstName}} - Seat - {{passenger.seat.seatNo}}
      </div>

      <div class="flex items-center justify-between pt-3 pl-3 pr-3">
        <div class="items-center my-1">
          <span
            class="rounded-full shadow-md w-12 h-12 text-center flex items-center justify-center"
          >
            <img src="assets/splash.png" class="h-8 p-1" />
          </span>
          <h2 class="font-medium"></h2>
        </div>
        <div class="ml-auto text-blue-800 mt-1">
          <div>{{booking.attributes?.itinKey}}</div>
          <div
            class="text-right font-bold"
            [ngClass]="{'text-red-600': booking?.data?.status=='CANCELLED','text-green-600': booking?.data?.status=='SUCCESS'}"
          >
            {{booking?.data?.status}}
            <!-- {{booking.attributes?.viaStatus}} -->
          </div>
          <!-- <div class="text-right font-bold text-black">
            {{booking?.data?.globalSrchQry.busSrchQry.segments.ONEWAY.sectorInfo.date|date}}
          </div> -->
        </div>
      </div>
      <div class="text-center font-bold text-black">
        Date :
        {{booking?.data?.globalSrchQry.busSrchQry.segments.ONEWAY.sectorInfo.date|date}}
      </div>
      <div class="border-b border-dashed border-b-2 my-2"></div>

      <div *ngIf="booking?.data?.srchQry">
        <div class="flex items-center -mt-3 pt-3 pl-3 pr-3">
          <div class="flex flex-col flex-1">
            <div class="flex-auto text-xs text-gray-400">
              <span class="mr-1"></span>
            </div>
            <div
              class="w-full flex-none text-lg text-blue-800 font-bold leading-none"
            >
              {{booking.data.srchQry.segments.ONEWAY.sectorInfo.src.city}}
            </div>
            <!-- <div class="text-xs">Source</div> -->
            <div class="text-sm text-red-700">
              {{booking.data.items.segments.ONEWAY.busData.stops.pick[0].name}}
            </div>
            <div class="text-sm text-black">
              {{booking.data.items.segments.ONEWAY.busData.stops.pick[0].time}}
            </div>
          </div>
          <div class="flex flex-col mx-auto flex-1">
            <img src="assets/linered.png" alt="" />
            <!-- <img src="https://image.winudf.com/v2/image1/Y29tLmJldHMuYWlyaW5kaWEudWlfaWNvbl8xNTU0NTM4MzcxXzA0Mw/icon.png?w=&amp;fakeurl=1"
						class="w-20 p-1"> -->
          </div>
          <div class="flex flex-col flex-1">
            <div class="flex-auto text-xs text-gray-400 my-1">
              <span class="mr-1"> </span>
            </div>

            <div
              class="w-full flex-none text-lg text-blue-800 font-bold leading-none text-right"
            >
              {{booking.data.srchQry.segments.ONEWAY.sectorInfo.dest.city}}
            </div>
            <!-- <div class="text-xs">Destination</div> -->
            <div class="text-sm text-red-700 text-right">
              {{booking.data.items.segments.ONEWAY.busData.stops.drop[0].name}}
            </div>
            <div class="text-sm text-black text-right">
              {{booking.data.items.segments.ONEWAY.busData.stops.drop[0].time}}
            </div>
          </div>
        </div>
        <div class="border-b border-dashed border-b-2 my-2"></div>
        <div class="flex items-center mb-4 px-4">
          <div class="flex flex-col text-sm">
            <span class="">Departure</span>
            <div class="font-bold text-black">
              {{booking.data.items.segments.ONEWAY.busData.arrDetail.time.split('
              ')[1].slice(0,5)}}
            </div>
          </div>
          <div class="flex flex-col mx-auto text-sm">
            <span class="">Journey Time</span>
            <div class="font-bold text-black">
              {{booking.data.items.segments.ONEWAY.busData.journeyTime}} min
            </div>
          </div>
          <div class="flex flex-col text-sm">
            <span class="">Arrival</span>
            <div class="font-bold text-black">
              {{booking.data.items.segments.ONEWAY.busData.depDetail.time.split('
              ')[1].slice(0,5)}}
            </div>
          </div>
        </div>
        <div class="border-b border-dashed border-b-2 my-2"></div>
        <div class="flex items-center px-4 pt-3 pb-4 text-sm">
          <div class="flex flex-col">
            <span class="">Passengers</span>
            <div class="font-bold text-black">
              {{booking.data.items.segments.ONEWAY.travellers.length}}
            </div>
          </div>
          <div class="flex flex-col mx-auto">
            <span class="">Bus Operator</span>
            <div class="font-bold text-black">
              {{booking.data.items.segments.ONEWAY.busData.operatorName}}
            </div>
          </div>
          <div class="flex flex-col">
            <span class="">Total</span>
            <div class="font-bold text-black">
              {{booking.data.payDet.fareDet.total.amount}}
            </div>
          </div>
        </div>
        <div
          class="p-4"
          *ngIf="booking.cancellationId"
          [innerHTML]="booking.cancellationPolicy"
        ></div>
        <!-- *ngIf="!booking.cancellationId" -->
        <!-- (click)="this.busService.cancelReview(booking)" -->
        <div
          (click)="this.dataService.contact()"
          class="text-red-700 text-center py-2"
        >
          Contact us to Cancel Ticket
          <!-- Cancel Ticket -->
        </div>
        <div
          *ngIf="booking.cancellationId"
          (click)="this.busService.cancelConfirm(booking)"
          class="text-red-700 text-center py-2"
        >
          Confirm Cancellation
        </div>
      </div>
    </div>
  </div>
</ion-content>
