ul{
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    &:before{
        content:"";
        display: inline-block;
        width: 2px;
        background: rgb(209, 209, 209);
        position: absolute;
        left:4px;
        top:5px;
        height: calc(100% - 39px );
    }
    .first{
      position: relative;
      padding-left: 15px;
      margin-bottom:15px;
      &:before{
        content:"";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: green;
        position: absolute;
        left:0;
        top:5px;
        border-radius: 10px;
      }
    }
    .sec{
        position: relative;
        padding-left: 15px;
        // margin-bottom:5px;
        &:before{
          content:"";
          display: inline-block;
          width: 10px;
          height: 10px;
          background: red;
          position: absolute;
          left:0;
          top:5px;
          border-radius: 10px;
        }
    }
  }