<ion-header>
  <ion-toolbar>
    <ion-row style="padding-left: 2px; padding-right: 2px;">
      <ion-col size="2">
        <div routerLink="/jobdashboard">&nbsp;&nbsp;
          <!-- <ion-menu-button> -->
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:40%; height:40%;" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd" />
          </svg>
          <!-- </ion-menu-button> -->
        </div>
      </ion-col>

      <ion-col size="8">
        <div align="center">
          <ion-label style="color: #fff; font-size: large;"><b>Work Abroad</b></ion-label>
        </div>
      </ion-col>

      <ion-col size="2">
        <div style="margin-left: 10%;">&nbsp;&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:45%; height:45%; " fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff; width:30%; height:30%; margin-left: 20px;"
            fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div style="background-color: #fff;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" style="border-right: 1px solid #ccc;">
          <div align="center">
            <ion-label>Sort</ion-label>
          </div>
        </ion-col>

        <ion-col size="5">
          <div align="center">
            <ion-label>Filter</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div><br> -->

  <div style="background-color: #fff;  margin-top: 3%;">
    <ion-label class="large-text" style="color: black; background-color: rgb(216, 216, 216); padding: 4px; border-bottom-right-radius: 
    10px;">Need Electrical Technician &nbsp;
    </ion-label>
    <!-- <p class="label-text">
      <ion-icon name="location-outline"></ion-icon> &nbsp; Dastur Nagar Amravati
    </p> -->

    <ion-grid fixed>
      <ion-row style="border-bottom: 1px solid rgb(204, 203, 203);">
        <ion-col size="5">
          <p class="label-text">
            Salary
          </p>
        </ion-col>
        <ion-col size="7">
          <ion-label class="large-text">25000-30000 per month</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Job Type
          </p>
        </ion-col>

        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Work Abroad</ion-label>
        </ion-col>
        <ion-col size="5" class="div-col">
          <p class="label-text">
            Posted By
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Vinayaga Auto Spares</ion-label>
        </ion-col>
        <ion-col size="5" class="div-col">
          <p class="label-text">
            Role
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Electrician</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 1ch;">
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class-outline">
            Call Now
          </button>
        </ion-col>
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class" routerLink="/apply">
            Apply
          </button>
        </ion-col>
        <ion-col size="2">
          <img src="assets/whats-app.png" alt="">
          <!-- <button style="width: 100%; " class="bg-class-outline">
            <ion-icon style="color: green; font-size: 0.8em;" name="logo-whatsapp"></ion-icon> <span
              style="font-size: 0.8em;">&nbsp; WhatsApp</span>
          </button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div><br>


  <div style="background-color: #fff;">
    <ion-label class="large-text" style="color: black; background-color: rgb(216, 216, 216); padding: 4px; border-bottom-right-radius: 
    10px;">Hiring Cook With Good Salary &nbsp;
    </ion-label>
    <!-- <p class="label-text">
      <ion-icon name="location-outline"></ion-icon> &nbsp; Dastur Nagar Amravati
    </p> -->

    <ion-grid fixed>
      <ion-row style="border-bottom: 1px solid rgb(204, 203, 203);">
        <ion-col size="5">
          <p class="label-text">
            Salary
          </p>
        </ion-col>
        <ion-col size="7">
          <ion-label class="large-text">75000-80000 per month</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Job Type
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Work Abroad</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Experience
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">1 Years</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Posted By
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Individual</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Role
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Cook / Chef</ion-label>
        </ion-col>

      </ion-row>

      <ion-row style="margin-top: 1ch;">
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class-outline">
            Call Now
          </button>
        </ion-col>
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class" routerLink="/apply">
            Apply
          </button>
        </ion-col>
        <ion-col size="2">
          <img src="assets/whats-app.png" alt="">
          <!-- <button style="width: 100%; " class="bg-class-outline">
            <ion-icon style="color: green; font-size: 0.8em;" name="logo-whatsapp"></ion-icon> <span
              style="font-size: 0.8em;">&nbsp; WhatsApp</span>
          </button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div><br>


  <div style="background-color: #fff;">
    <ion-label class="large-text" style="color: black; background-color: rgb(216, 216, 216); padding: 4px; border-bottom-right-radius: 
    10px;">Job For Accountant With Free Visa &nbsp;
    </ion-label>
    <!-- <p class="label-text">
      <ion-icon name="location-outline"></ion-icon> &nbsp; Dastur Nagar Amravati
    </p> -->

    <ion-grid fixed>
      <ion-row style="border-bottom: 1px solid rgb(204, 203, 203);">
        <ion-col size="5">
          <p class="label-text">
            Salary
          </p>
        </ion-col>
        <ion-col size="7">
          <ion-label class="large-text">45000-80000 per month</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Job Type
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Work Abroad</ion-label>
        </ion-col>


        <ion-col size="5" class="div-col">
          <p class="label-text">
            Posted By
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Individual</ion-label>
        </ion-col>

        <ion-col size="5" class="div-col">
          <p class="label-text">
            Role
          </p>
        </ion-col>
        <ion-col size="7" class="div-col">
          <ion-label class="large-text">Accountant</ion-label>
        </ion-col>

      </ion-row>

      <ion-row style="margin-top: 1ch;">
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class-outline">
            Call Now
          </button>
        </ion-col>
        <ion-col size="5">
          <button style="width: 100%; font-size: 0.8em;" class="bg-class" routerLink="/apply">
            Apply
          </button>
        </ion-col>
        <ion-col size="2">
          <img src="assets/whats-app.png" alt="">
          <!-- <button style="width: 100%; " class="bg-class-outline">
            <ion-icon style="color: green; font-size: 0.8em;" name="logo-whatsapp"></ion-icon> <span
              style="font-size: 0.8em;">&nbsp; WhatsApp</span>
          </button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
