ion-toolbar {
  --background: linear-gradient(90deg, rgb(255, 0, 0) 0%, #cf0808 100%);
}

.thumb {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   border: 1px solid gray;
}

.thumb img {
  height: 100%;
  width: auto;
}

.text {
  font-size: 0.9em;
  color: rgb(184, 184, 184);
}

// input#file {
//   display: inline-block;
//   width: 100%;
//   padding: 120px 0 0 0;
//   height: 100px;
//   overflow: hidden;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
//   border-radius: 20px;
//   background-size: 60px 60px;
// }




.button_login {
  margin-top: 5vh;
  padding: 6px;
}

.bg-class {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(197deg, #d10808, #f90101, #d10808 100%) !important
}

.button_login_file {
  margin-top: 5vh;
  padding: 6px;
}

.bg-class_file {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  color: #000;
  border: 1px solid red;
  //   background-image: linear-gradient(197deg, #d10808, #f90101, #d10808 100%) !important
}

label {
  cursor: pointer;
  font-size: 0.9em;

}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
