<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-1">
    <ion-card class="bg-white p-2" routerLink="/ridestatus">
      <ion-label class="text-xs text-black"><b>Today 10:43 AM | 6 May 2022</b></ion-label>
      <div class="flex justify-between">
        <div class="text-xs text-gray-500">MiniCab</div>
        <div>₹ 200</div>
      </div>

      <div class="flex justify-start border-t-2 border-gray-300">
        <ion-icon class="text-green-600 text-xs pr-3 pt-1" name="ellipse"></ion-icon>
        <div class="text-xs text-gray-500 pt-1">Railway Flyover Bridge, Maltekdi, 444601</div>
      </div>

      <div class="flex justify-start pt-1">
        <ion-icon class="text-yellow-400 pr-3" name="navigate"></ion-icon>
        <div class="text-xs text-gray-500">Axis Bank, Dastur Nagar, Amravati</div>
      </div>

    </ion-card>

    <ion-card class="bg-white p-2" routerLink="/ridestatus">
      <ion-label class="text-xs text-black"><b>Yesterday 11:43 AM | 6 May 2022</b></ion-label>
      <div class="flex justify-between">
        <div class="text-xs text-gray-500">MiniCab</div>
        <div>₹ 200</div>
      </div>

      <div class="flex justify-start border-t-2 border-gray-300">
        <ion-icon class="text-green-600 text-xs pr-3 pt-1" name="ellipse"></ion-icon>
        <div class="text-xs text-gray-500 pt-1">Railway Flyover Bridge, Maltekdi, 444601</div>
      </div>

      <div class="flex justify-start pt-1">
        <ion-icon class="text-yellow-400 pr-3" name="navigate"></ion-icon>
        <div class="text-xs text-gray-500">Axis Bank, Dastur Nagar, Amravati</div>
      </div>

    </ion-card>
  </div>
</ion-content>
