<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" class="text-white text-sm">
      <ion-icon name="location"></ion-icon>Amravati
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="class-name">
  <!-- <div class="p-2">
    <ion-segment mode="ios" color="dark" class="bg-red-600 parent-border-radius" (ionChange)='segmentChanged($event)'
      scrollable value="local" class="ion-no-padding" class="ion-no-margin">
      <ion-segment-button color="primary" class="ion-no-padding bg-red-600" value="local">
        <ion-label class="p-1">Local</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rental">
        <ion-label class="p-1">Rentals </ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label class="p-1">Outstation </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <div class="p-2">
    <ion-segment mode="ios" value="local" class="parent-border-radius p-1  rounded-md shadow-md"
      (ionChange)='segmentChanged($event)'>
      <ion-segment-button value="local">Local</ion-segment-button>
      <ion-segment-button value="rental">Rentals</ion-segment-button>
      <ion-segment-button value="out">Outstation</ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="switchTab == 'local'" class=" pt-2 p-2"></div>
  <div *ngIf="switchTab == 'rental'" class=" pt-2 p-2"></div>
  <div *ngIf="switchTab == 'out'" class=" pt-2 p-2"></div>

  <div class="p-2 -mt-2">

    <div class="bg-white  flex justify-start p-2 border-2 border-gray-300 rounded-md shadow-md -mt-3">
      <ion-icon class="flex items-center  text-base " color="primary" name="pin"></ion-icon><span class="text-sm">Pick
        up </span>
    </div>

    <div class="bg-white flex justify-start border-2 p-2 border-gray-300 rounded-md shadow-md mt-3">
      <ion-icon class="flex items-center  text-base " color="success" name="pin"></ion-icon><span class="text-sm">Drop
        off </span>
    </div>
  </div>

  <!-- <div class="flex items-end">
    <ion-button expand="block" color="primary" routerLink="/ridedetails">
      Book
    </ion-button>
  </div> -->
</ion-content>
<div class="pl-2 pr-2 bg-gray-300">
  <ion-button expand="block" color="primary" routerLink="/ridedetails">
    Book
  </ion-button>
</div>
<ion-tab-bar slot="bottom">

  <ion-tab-button tab="home" class="text-gray-600 hover:text-red-600" routerLink="/cabserdashboard">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="product" class="text-gray-600 hover:text-red-600" routerLink="/cabhistory">
    <ion-label>History</ion-label>
    <ion-icon name="briefcase"></ion-icon>
  </ion-tab-button>

</ion-tab-bar>

<!-- <ion-content>
  <div class="p-2">
    <ion-slides class="slider" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide>
        <img class="rounded-md" src="assets/cabservices/cab1.jpg" />
      </ion-slide>
      <ion-slide>
        <img class="rounded-md" src="assets/cabservices/cab2.jpg" />
      </ion-slide>
    </ion-slides><br>

    <div align="center" class=" bg-gradient-to-r from-blue-400 to-purple-400  p-2 rounded-md">
      <ion-label>Ready ? Then let's Roll<br><span class="text-sm font-bold">
          Ride with EFFO
        </span></ion-label>
    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <div align="center" class="bg-gray-300 rounded-lg" routerLink="/daily">
            <img src="assets/cabservices/cabservice1.png" alt="">
            <ion-label class="text-sm">Ride</ion-label>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center" class="bg-gray-300 rounded-lg" routerLink="/rentals">
            <img src="assets/cabservices/cabservice1.png" alt="">
            <ion-label class="text-sm">Rentals</ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <div align="center" class="bg-gray-300 rounded-lg" routerLink="/outstation">
            <img src="assets/cabservices/cabservice1.png" alt="">
            <ion-label class="text-sm">Outstation</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="pl-2 pr-2">
      <div align="center" class="bg-gradient-to-r from-gray-300 to-gray-300  p-2 rounded-md">
        <div class="flex justify-between">
          <div>
            <ion-label>Where to?</ion-label>
          </div>
          <div>
            <div class="bg-white rounded-md pl-2 pr-2 text-sm shadow-md"> Now &nbsp;<ion-icon class="text-sm"
                name="chevron-down-outline">
              </ion-icon>
            </div>

          </div>
        </div>
      </div>

      <div class="flex justify-start pt-2">
        <div>Around You</div>
      </div>

      <div class="pt-2">
        <img class="rounded-xl shadow-md" src="assets/cabservices/map-min.jpg" alt="">
      </div>
    </div>
  </div>

</ion-content> -->

<!-- <ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button color="dark">
    <ion-icon style="font-size: 1.5em;" name="settings-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" style="margin-bottom: 100%;">
    <ion-fab-button data-desc="Profile" color="dark">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button data-desc="History" color="dark">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->
