<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="px-4 text-white text-lg">Effo Restaurant</div>
  </ion-toolbar>
</ion-header>

<ion-tabs color="">
  <ion-tab-bar slot="bottom" class="border-t-2">
    <ion-tab-button tab="home">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Restaurants</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>
</ion-tabs>