<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-10 div">

  </div>
  <!-- <div style="padding-left:0.8em ;" class="pt-3 pb-2">
    <ion-label>Business Details</ion-label>
  </div> -->

  <div class="mt-2 rounded-tl-2xl rounded-tr-2xl pb-2">
    <div class="p-2">

      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">Full Name </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">Enter Email ID</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">Mobile Number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>


      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating"> Birth Date</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <!-- <ion-item color="none" lines="none" class="border-b-2 border-gray-200">
        <ion-label style=" font-size: 0.9em;
        color: #727274;" position="floating">Address</ion-label>
        <textarea name="" id="" cols="12" rows="3"></textarea>
      </ion-item> -->



    </div>

  </div>


  <div align="center" class="pl-4 pr-4 pt-4" routerLink="/lodgingprofile">
    <ion-button expand="block" color="primary">
      Update Profile
    </ion-button>
  </div>
</ion-content>
