<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Appliances Repairing</ion-title>
    <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-row class="pl-2 pr-2 pt-3 pb-2">
    <div style="width: 100%; background-color: white; border-radius: 10px; border: 1px solid rgb(211, 211, 211);">
      <ion-input placeholder="Search In All India" id="search">
        <ion-icon name="search" style="margin-left: 7px;"></ion-icon>
      </ion-input>
    </div>
  </ion-row> -->

  <div class="bg-white rounded-tl-2xl rounded-tr-2xl">
    <!-- <div style="padding-left:0.8em ;" class="pt-3 pb-1">
      <ion-label>Appliances Repairing</ion-label>
    </div> -->
    <!-- mode="ios" -->
    <ion-segment mode="ios" class="bg-red-600" (ionChange)='segmentChanged($event)' scrollable value="civil"
      class="ion-no-padding" class="ion-no-margin">
      <ion-segment-button class="ion-no-padding " value="civil">
        <ion-label class="p-1">AC Repair</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label class="p-1">Chimney </ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label class="p-1">Microwave</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label class="p-1">Geyser</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label class="p-1">Plumbers</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- <div>
    <ion-segment mode="ios" value="civil" class="parent-border-radius" scrollable value="civil"
      (ionChange)='segmentChanged($event)'>
      <ion-segment-button value="civil"> Uploaded By You</ion-segment-button>
      <ion-segment-button value="updoc"> Uploaded By Doctor</ion-segment-button>
      <ion-segment-button value="2"> Uploaded By You</ion-segment-button>
      <ion-segment-button value="3"> Uploaded By Doctor</ion-segment-button>
      <ion-segment-button value="4"> Uploaded By You</ion-segment-button>
      <ion-segment-button value="5"> Uploaded By Doctor</ion-segment-button>
    </ion-segment>
  </div> -->

  <div *ngIf="switchTab == 'civil'" class=" pt-2">

    <div class="p-1">
      <ion-card routerLink="/servicedeatils" class="bg-white hover:bg-blue-400" (click)="navigate(listing)"
        *ngFor="let listing  of categories">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4">
              <img class="rounded-md h-full w-full shadow-md" src="{{listing.image}}" />
            </ion-col>
            <ion-col size="8">
              <p>
                <span class="font-medium text-base text-black">{{listing.name}}</span><br>
                <span class="text-black" style="font-size: 0.8em;">
                  <ion-icon name="{{listing.icon}}" class="text-sm text-black"></ion-icon>{{listing.address}}
                </span><br>
                <ion-button (click)="call()" size="small" color="tertiary" class="text-xs">
                  <ion-icon name="call-outline"></ion-icon>&nbsp;Call
                </ion-button>
                <ion-button (click)="whatsapp()" size="small" color="success" class="text-xs">
                  <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;Whatsapp
                </ion-button>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>


    <!-- <div class="bg-white border-b-4 border-gray-300" routerLink="/servicedeatils">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img class="img_class rounded-md" src="assets/services/cc1.jpg" />
          </ion-col>
          <ion-col size="8">
            <p>
              <span class="font-medium text-base">Ridge Appliance</span><br>
              <span class="text-sm text-gray-500">
                <ion-icon name="location-outline"></ion-icon>Dhayari phata,Dhayari,Pune.
              </span><br>
              <ion-button (click)="call()" size="small" color="success" class="text-xs">Call Now</ion-button>
              <ion-button (click)="whatsapp()" size="small" color="success" class="text-xs">Whatsapp </ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white  border-b-4 border-gray-300" routerLink="/civilcontractor">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img class="img_class rounded-md" src="assets/services/cc1.jpg" />
          </ion-col>
          <ion-col size="8">
            <p>
              <span class="font-medium text-base">Technopliance </span><br>
              <span class="text-sm text-gray-500">
                <ion-icon name="location-outline"></ion-icon>Dhayari phata,Dhayari,Pune.
              </span><br>
              <ion-button size="small" color="success" class="text-xs">Call Now</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white border-b-4 border-gray-300">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img class="img_class rounded-md" src="assets/services/cc1.jpg" />
          </ion-col>
          <ion-col size="8">
            <p>
              <span class="font-medium text-base">Max Appliance</span><br>
              <span class="text-xs text-gray-600">
                <ion-icon name="location-outline"></ion-icon>Dhayari phata,Dhayari,Pune.
              </span><br>
              <ion-button size="small" color="success" class="text-xs">Call Now</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white  border-b-4 border-gray-300">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img class="img_class rounded-md" src="assets/services/cc1.jpg" />
          </ion-col>
          <ion-col size="8">
            <p>
              <span class="font-medium text-base">Absolute Appliance</span><br>
              <span class="text-xs text-gray-600">
                <ion-icon name="location-outline"></ion-icon>Dhayari phata,Dhayari,Pune.
              </span><br>
              <ion-button size="small" color="success" class="text-xs">Call Now</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white  border-b-4 border-gray-300">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img class="img_class rounded-md" src="assets/services/cc1.jpg" />
          </ion-col>
          <ion-col size="8">
            <p>
              <span class="font-medium text-base">Efficappliance</span><br>
              <span class="text-xs text-gray-600">
                <ion-icon name="location-outline"></ion-icon>Dhayari phata,Dhayari,Pune.
              </span><br>
              <ion-button size="small" color="success" class="text-xs">Call Now</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </div>


</ion-content>
