<ion-header>
  <ion-toolbar>
    <ion-title>Select City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group allow-empty-selection value="amt">
    <ion-item>
      <ion-label>Amravati</ion-label>
      <ion-radio slot="end" color="primary" value="amt"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nagpur</ion-label>
      <ion-radio slot="end" color="primary" value="nag"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Delhi</ion-label>
      <ion-radio slot="end" color="primary" value="del"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Puna</ion-label>
      <ion-radio slot="end" color="primary" value="pun"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Yevatmal</ion-label>
      <ion-radio slot="end" color="primary" value="yet"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Wardha</ion-label>
      <ion-radio slot="end" color="primary" value="war"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>
