<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title>Transport</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="bg-white">
    <div class="p-3">
      <p class="text-red-500 text-lg font-bold">Enter Location</p>
      <div class="w-full mt-2 flex bg-white border border-gray-100  py-4 rounded-lg">
        <img src="assets/fromPin.png" alt="" class="h-6" />
        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Where is your pickup" />
      </div>

      <div class="w-full mt-2 flex bg-white border border-gray-100  py-4 rounded-lg">
        <img src="assets/toPin.png" alt="" class="h-6" />
        <input #pickSearch type="text" class="ml-2 flex-1 w-full bg-white" placeholder="Where is your drop" />
      </div>
    </div>


   
  </div>

  <div class="my-4"></div>


  <div class="bg-white">
    <div class="p-3">
      <ion-grid>
        <ion-row class="row">
          <ion-col size="4">
            <img src="assets/transport1.png" alt="car">
          </ion-col>
          <ion-col size="8" class="ion-text-end col2">
            <p class="end-align">Truck</p>
            <ion-button color="danger" class="but-1" shape="round" size="small" routerLink="/cab-all-transport">
              <span class="button-text">CHANGE VEHICLE</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>



  <div class="bg-white mt-4">
    <div class="p-3">
      <div class="pl-2">
        <p>Terms & Conditions </p>
        <p class="text-xs mb-4 mt-4"> 1. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perspiciatis
          at.</p>
        <p class="text-xs">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
 
    </div>
  </div>





<div class="p-3">

 

  <div class="pt-3">
    <ion-button expand="block" color="danger" routerLink="/booking-details">
      BOOK NOW 
    </ion-button>
  </div>
</div>
  


</ion-content>